/**
 * 3d-buttons.css
 *
 * Created on 2/10/2015
 * Bubbly buttons for darker themes.
 *
 *
 */



input[type=button],
input[type=submit]:not(#qrsubmit),
button:not(#qrfilebutton):not(#qrfileremove) {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	margin: 0 2px;
	position: relative;
	bottom: 1px;
	height: 2.2em;
	text-align: center;
	border-radius: 3px;
	font: 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	outline: none;
	/* Anything beyond this line is rules that may be overridden. */
	background: rgb(238,238,238)
		linear-gradient(to bottom,
			rgb(238,238,238),
			rgb(204,204,204));
	border: 1px solid rgb(238,238,238);
	border-bottom: 1px solid rgb(187,187,187);
	color: rgb(51,51,51);
	text-shadow: 0 1px 0 rgb(238,238,238);
}

input[type=button]:hover,
input[type=submit]:not(#qrsubmit):hover,
button:not(#qrfilebutton):not(#qrfileremove):hover {
	background: rgb(221,221,221) linear-gradient(to bottom, rgb(221,221,221), rgb(187,187,187));
	border: 1px solid rgb(187,187,187);
	border-bottom: 1px solid rgb(153,153,153);
	cursor: pointer;
}


/* File upload button */
input::-webkit-file-upload-button {
	/* Note to self: When a browser doesn't understand a selector, */
	/*               It invalidates that ENTIRE LINE of selectors. */
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	height: 2.2em;
	text-align: center;
	border-radius: 3px;
	font: 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	outline: none;
	/* Anything beyond this line is rules that may be overridden. */
	background: rgb(238,238,238) linear-gradient(to bottom, rgb(238,238,238), rgb(204,204,204));
	border: 1px solid rgb(238,238,238);
	border-bottom: 1px solid rgb(187,187,187);
	color: rgb(51,51,51);
	text-shadow: 0 1px 0 rgb(238,238,238);
}

input::-webkit-file-upload-button:hover {
	background: rgb(221,221,221) linear-gradient(to bottom, rgb(221,221,221), rgb(187,187,187));
	border: 1px solid rgb(187,187,187);
	border-bottom: 1px solid rgb(153,153,153);
	cursor: pointer;
}

input[type=button]:active,
input::-webkit-file-upload-button:active,
input[type=submit]:not(#qrsubmit):active,
button:not(#qrfilebutton):active {
	border: 1px solid rgb(170,170,170);
	border-bottom: 1px solid rgb(136,136,136);
	box-shadow: inset 0 0 7px 1px rgb(170,170,170), 0 1px 0 0 rgba(221,221,221, 0.3);
}