
/** For mlpchan themes only...except Yotsuba B since
	it's a layer used by all other themes. **/
.spoiler-image:not(.expanded),
.mature-image:not(.expanded),
.spoiler-image.loading,
.mature-image.loading {
	background: radial-gradient(at center,
		rgb(239,239,239),
		rgb(188, 188, 188));
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.spoiler-image:not(.expanded), .spoiler-image.loading {
	border: 2px solid rgb(171, 171, 171);
}
.mature-image:not(.expanded), .mature-image.loading {
	border: 2px solid rgb(245,245,245);
}