/**
 * paper-footer.css
 * 
 * Created on 3/31/2015
 * Makes the footer appear to stand out of the body's content
 * 
 * 
 */

body > footer {
	margin: 3em -1em -1em;
	padding: 0 0 0.5em;
	color: gray;
	text-shadow: 1px 1px 2px white;
	background: rgba(240, 240, 240,0.5)
		linear-gradient(to bottom,
			rgba(252, 252, 252,0.5),
			rgba(249, 249, 249,0.5));
	border-top: 1px solid white;
	box-shadow: inset 0 0 0.5rem rgba(0,0,0,0.1);
}