/**
  * pony-kusaba.css
  *
  * Ports kusaba css from old ponychan
 **/

a {
    text-decoration: none; /* remove the underline */
}
h1, h2, h3, h4, h5, h6, header h1 {
    font-family: sans-serif;
    letter-spacing: 0;
}
hr {
    border-color: #c0c0c0;
}
input[type=text], input[type=password], textarea {
    outline: none;
    padding: 2px;
    transition: all .25s ease-in-out;
    transition-property: box-shadow, border;
    line-height: 140%;
    box-shadow: inset 0 0 7px rgba(0,0,0,0.0);
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
    outline: none;
    box-shadow: inset 0 0 7px rgba(0,0,0,0.1)
}

/* Button margins */
input[type=button],
input[type=submit]:not(#qrsubmit),
button:not(#qrfilebutton) {
	margin: 2px 0.1em;
}
th {
	padding: 0.1rem 0.2rem;
}

/* -- Head -- */

/* - Navigation bar - */
.boardlist.top .boardlistpart a {
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.top a:hover {
    background-color: rgba(0,0,0,0.3) !important;
}

.top .boardlistactive, .watcherButton.open {
    background: inherit;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
    text-shadow: 0 0 1px rgba(0,0,0,0.5);
}
.top a[href="/"]:hover {
	color: white;
}

/* - Title - */

/* Headline */
header h1 {
    font-size: 4em;
    font-weight: normal;
}
header .subtitle {
    font: 0.8em serif;
}

/* Stripe */
div.banner {
    letter-spacing: 3px;
    font-weight: normal;
    text-transform: lowercase;
}
/* override the white font in style.css */
div.banner .unimportant {
	text-decoration: underline;
    float: left;
    font-size: 90%;
    letter-spacing: normal; /* This will revert the spacing on the links*/
}
div.banner .unimportant + .unimportant {
    /* move the catalog link to the right */
    float: right;
}

/* - Post form - */
form[name="post"] th {
    text-align: right;
}
/* - Blotter - */
.blotter {
    color: inherit;
}

/* - Posts - */
.post {
    line-height: 140%;
}
.intro {
    margin: 0 !important;
}
.intro .subject::after, .catasubject::after {
    content: " — ";
	color: gray;
	font-weight: normal;
}
.wname {
    font-weight: bold;
}
.email {
    border-bottom: 1px dashed currentColor;
}
.fileinfo {
    font: 90% serif;
}
.reply .fileinfo {
    line-height: 120%;
}
.hashtag {
	background-color: rgba(255,255,255,0.4);
    color: inherit;
    padding: 0.2rem 1ex;
    border: 1px solid gray;
    border-radius: 0.2rem;
    text-transform: lowercase;
    box-shadow: none;
}
.omitted, .toolong {
    color: gray;
    padding: 0.3em 2em;
}

/* - Opening posts - */
.op .delete {
    /* Realigns the checkboxes */
    margin-top: 4px;
}

/* - Reply posts - */
.reply, .wthread {
    line-height: 140%;
    padding: 5px;
}
.post_no {
	line-height: 90%;
	/*border-bottom: 1px solid;*/
}

/* -- Footer -- */
.boardlist.bottom {
    font-size: 1em;
    /* upscales the board links at the bottom. */
}

/* -- Javascript DOM Manipulation -- */

/* - Per-post - */
.postHider {
    margin-top: -2px;
}
.post-hover input, .post-hover .postfooter {
    /* No point of showing unreachable input buttons */
    display: none;
    /* That's enough of that. */
}
.mature_note {
    font-style: italic;
    color: inherit;
	opacity: 0.7;
}
.mentioned:before {
    content: " Replies:";
    padding-left: 3px;
    font-size: 80%;
    opacity: 0.7;
}
.hidetext {
    transition: transform 0.25s ease-in-out,
                padding 0.25s ease-in-out,
                height 0.25s ease-in-out;
    overflow: hidden;
    transform: scaleY(1) scaleZ(1);
    transform-origin: top;
    border: 1px solid rgba(0,0,0,0.3);
    background: rgba(0,0,0,0.1);
}
.hidetext.off {
    transform: scaleY(0) scaleZ(0);
}

.reply.highlighted {
    border-style: solid;
}
.post-inline {
    /* This should make the inline posts brighter depending on how deep it's nested. */
    background-color: rgba(255,255,255,0.05) !important;
    box-shadow: none !important;
}

/* - Quick reply - */
#qr {
    border-radius: 0;
    padding: 2px;
    border-color: rgb(163, 163, 163);
}
#qr input[type=text], #qr textarea {
    transition-property: border, flex, box-shadow;
    border: 1px solid rgb(205, 201, 201);
    outline: none;
}
#qr input[type=text]:hover, #qr textarea:hover {
	border: 1px solid rgb(224, 220, 220);
}
#qr input[type=text]:focus, #qr textarea:focus {
	border: 1px solid rgb(19, 43, 155);
}
#qraddimage {
    color: inherit;
}
.qrremovethumb {
    color: white;
}

/* - Settings - */
#settingsScreen {
    max-height: calc(95% - 30px);
}

#settingsScreen button {
	position:relative;
	top: 2px;
}

/* - Watcher - */
#watcherScreen {
    color: inherit;
    margin: 0;
    right: 0;
    border-radius: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    font-size: inherit;
}
.wthread {
    border-bottom: 1px dashed gray;
}
.wpost {
    color: black;
}
.wname::before {
    content: " by ";
}
