 /**
   * razor-buttons.css
   *
   * Common buttons used in various themes.
 **/

input[type=button],
input[type=submit]:not(#qrsubmit),
button.hidetogglebutton {
    color: rgb(90, 85, 85);
    height: 1.8em;
    box-shadow: inset 0 1px 2px white;
    border: 1px solid rgb(153,153,153);
    background: rgb(246,246,246)
        linear-gradient(to bottom,
            rgb(239, 239, 239),
            rgb(215, 215, 215));
    border-radius: 0.5rem 0.2rem;
    cursor: pointer;
    padding-left: 0.35rem;
    padding-right: 0.35rem;
    margin: -2px 0.15em 0;
    font-weight: bold;
    outline: none;
    text-shadow: 0 1px 0 rgb(248, 248, 248);
    transition: background 0.2s ease-in-out;
}


input[type=button]:hover,
input[type=submit]:not(#qrsubmit):hover,
button.hidetogglebutton:hover {
    box-shadow: inset 0 1px 1px rgb(240, 240, 240);
    background: rgb(246,246,246)
        linear-gradient(to bottom,
            rgb(232, 232, 232),
            rgb(204, 204, 204));
    text-shadow: 0 1px 0 rgb(234, 234, 234);
}


input[type=button]:active,
input[type=submit]:not(#qrsubmit):active,
button.hidetogglebutton:active {
    box-shadow: inset 0 0 5px rgb(190, 192, 194);
}


input::-webkit-file-upload-button {
    color: rgb(90, 85, 85);
    height: 1.9em;
    box-shadow: inset 0 1px 2px white;
    border: 1px solid rgb(153,153,153);
    background: rgb(246,246,246)
        linear-gradient(to bottom,
            rgb(239, 239, 239),
            rgb(215, 215, 215));
    border-radius: 0.5rem 0.2rem;
    cursor: pointer;
    padding-left: 0.35rem;
    padding-right: 0.35rem;
    margin: 0 0.15em 0;
    font-weight: bold;
    outline: none;
    text-shadow: 0 1px 0 rgb(248, 248, 248);
    transition: background 0.2s ease-in-out;
}
input::-webkit-file-upload-button:hover {
    box-shadow: 0 1px 1px rgb(240, 240, 240);
    background: rgb(246,246,246)
    linear-gradient(to bottom, rgb(232, 232, 232), rgb(204, 204, 204));
    text-shadow: 0 1px 0 rgb(234, 234, 234);
}
input::-webkit-file-upload-button:active {
    box-shadow: inset 0 0 5px rgb(190, 192, 194);
}
