/**
 * serif.css
 *
 * Use the font that most browsers would
 * default to on old Ponychan.
 *
 */

body {
	font: 97% serif;
}
#top {
	font-size: 85%;
}
.fileinfo {
	font-size: 80%;
}
.post {
	line-height: 130%;
}