{% extends "generic_page.html" %}

{% block title %}Ponychan{% endblock %}

{% block extra_body_classes %}homepage{% endblock %}

{% block banner %}{% endblock %}

{% block header %}
	<header>
		<h1 id="title">Ponychan</h1>
		<div class="subtitle">
			{{ settings.subtitle }}
		</div>
		<script>
			var titleElem = document.getElementById("title");
			if(window.location.hostname.indexOf("pchan.co") > -1) {
				titleElem.textContent = "Pchan";
			} else if(window.location.hostname.indexOf("ponychan.net") > -1) {
				titleElem.textContent = "Ponychan";
			} else if(window.location.hostname == "192.168.56.2") {
				titleElem.textContent = "Pchan dev site";
			} else {
				console.log("Unrecognized domain " + window.location.hostname + " leaving title text alone");
			}
		</script>
	</header>
{% endblock %}

{% block main_body %}
	<hr />

	<div class="homeblock mainhomeblock">
		<p>Welcome to Ponychan.net! This is an imageboard for older fans of
		 the show <em>“My Little Pony: Friendship is Magic”</em>. <sup><a href="http://www.hotdiggedydemon.com/post/16367923346/why-adult-men-like-my-little-pony-friendship-is-magic">[What?]</a></sup><br />
		<a href="https://twitter.com/PonychanDotNet">Official Ponychan Twitter</a>
	</div>

	{% if news|count > 0 %}
	<div class="homeblock">
		{% for entry in news %}
		<div class="newsitem" id="news_{{ entry.id }}">
			<h2>
				{% if entry.subject %}
					{{ entry.subject }}
				{% else %}
					<em>no subject</em>
				{% endif %}
				<span class="unimportant"> &mdash; by {{ entry.name }} at <time datetime="{{ entry.time|date(config.datetime_date) }}{{ timezone() }}">{{ entry.time|date(config.post_date) }}</time></span>
			</h2>
			<div class="newscontent">{{ entry.body|raw }}</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}

	<div class="homeblock" id="boards">
		<h2>Boards</h2>
		{% for category, boards in categories %}
			<h3>{{ category }}</h3>
			<ul>
			{% for board in boards %}
				<li><a href="{{ board.uri }}">/{{ board.shortname }}/ - {{ board.title }}</a> — {{ board.subtitle }}</li>
			{% endfor %}
			</ul>
		{% endfor %}
	</div>

	{% if recent_posts|count > 0 %}
	<div class="homeblock" id="recent_posts">
		<h2>Recent Posts</h2>
		<div class="recent_posts_parent">
		{% for post in recent_posts %}
		<div class="recent_post">
			<a href="{{ post.link }}">
				<img src="{{ post.thumb_uri }}" style="width:{{ post.thumbwidth }}px;height:{{ post.thumbheight }}px" alt="">
			</a>
			<div class="boardname"><a href="{{ post.boardlink }}">/{{ post.board }}/</a></div>
			{{ post.snippet_html|raw }}
		</div>
		{% endfor %}
		</div>
	</div>
	{% endif %}

	<div class="homeblock" id="rules">
		<h2>Rules</h2>
		{{ rules|raw }}
	</div>

	<div class="homeblock" id="staffstandards">
		<h2>Site Staff Standards</h2>
		<p>Moderators will always seek to understand a situation fully before issuing any ban.
		<p>Moderators are required to be in communication with their fellow staff members and will always seek a second opinion when unsure of an action.
		<p>Any moderator that acts outside of the established rules to deal with disruptive behavior will consult with other members of staff, and a mod post will be made explaining why action was taken. These actions will be reviewed with the admins, the rules amended, and changes announced if necessary.
		<p>Bans that range from one second to one hour are considered warning bans, meant to discourage certain behavior and give an explicit warning that users are unable to ignore when rules or the spirit of said rules are being broke.
		<p>Bans that are longer than an hour are meant to block bad behavior from the site. These can be appealed if the user demonstrates they are aware of why they are banned. Bans can be re-applied or extended if behavior is not adjusted after the ban or during the appeal process.
		<p>Bans can be appealed and will be reviewed by members of the staff. In the event there's any confusion or concern over an appeal then more than one moderator will review it before a decision is made.
	</div>

	<div class="homeblock" id="usage">
		<h2>Site Usage</h2>
 <p>
There is no signup; you can enter any name you like (or no name, bearing in mind it can sometimes be confusing to chat with Anonymous, Anonymous and Anonymous rather than Alice, Carol and Bob).
 <p>
You may use a tripcode like Bob#putasecretpasswordhere to consistently identify yourself as that Bob!wVf.9l8o4E — this works on most similar *chan imageboards. Programs like Tripcode Explorer and MTY are available to search for tripcodes which form attractive patterns or words. You can test making posts on our <a href="/test/">/test/</a> board.
 <p>
This site has several features that other *chan sites often require separate userscripts for, like a Quick Reply dialog for posting and auto-updating threads. You can configure the site with the settings button at the top-right corner of the page. Different themes are also available for you to use to view the site. For more info on the site's features and options, check out <a href="/site/res/3063.html">&gt;&gt;&gt;/site/3063</a>.
 <p>
The site employs a tagging system for adult content threads on the /ef/ board. By default, all tagged mature content is hidden from view. You will not see it unless you choose to unhide it through your "Settings" link in the upper right corner of the page. To post a thread for such content, on the above mentioned boards you will find a checkbox for it. Checking this and posting your thread as normal will automatically hide it from those who do not wish to see it. This tag covers mature themed content appropriate for the specific board, but does not include any underage depictions (ponies included), real actual depictions of hard gore, content deemed extreme, or non-pony related content. At the staff's discretion they will prune such material. Deliberately posting content that would be covered by the tag without using it may result in bans.

	</div>
	<div class="homeblock" id="staff">
		<h2>Staff</h2>
		{{ staff|raw }}
	</div>

{% endblock %}
