/*https://www.flag-sprites.com/ */ 

.flag-geoip {display: inline-block;width: 16px;height: 11px;background: url('flags.png') no-repeat;}
.flag-geoip.flag-cz{background-position:-64px -33px}
.flag-geoip.flag-ne{background-position:-16px -110px}
.flag-geoip.flag-jm{background-position:-240px -66px}
.flag-geoip.flag-ae{background-position:-16px 0}
.flag-geoip.flag-im{background-position:-112px -66px}
.flag-geoip.flag-sh{background-position:-112px -132px}
.flag-geoip.flag-gm{background-position:-48px -55px}
.flag-geoip.flag-bm{background-position:-144px -11px}
.flag-geoip.flag-ga{background-position:-160px -44px}
.flag-geoip.flag-scotland{background-position:-48px -132px}
.flag-geoip.flag-um{background-position:-160px -154px}
.flag-geoip.flag-bz{background-position:-32px -22px}
.flag-geoip.flag-vg{background-position:-16px -165px}
.flag-geoip.flag-kg{background-position:-48px -77px}
.flag-geoip.flag-uz{background-position:-208px -154px}
.flag-geoip.flag-ke{background-position:-32px -77px}
.flag-geoip.flag-il{background-position:-96px -66px}
.flag-geoip.flag-sn{background-position:-208px -132px}
.flag-geoip.flag-ai{background-position:-64px 0}
.flag-geoip.flag-ba{background-position:0 -11px}
.flag-geoip.flag-am{background-position:-96px 0}
.flag-geoip.flag-lr{background-position:-48px -88px}
.flag-geoip.flag-gb{background-position:-176px -44px}
.flag-geoip.flag-no{background-position:-96px -110px}
.flag-geoip.flag-sr{background-position:0 -143px}
.flag-geoip.flag-tl{background-position:-240px -143px}
.flag-geoip.flag-py{background-position:-144px -121px}
.flag-geoip.flag-zw{background-position:-224px -165px}
.flag-geoip.flag-sy{background-position:-80px -143px}
.flag-geoip.flag-mv{background-position:-160px -99px}
.flag-geoip.flag-ar{background-position:-144px 0}
.flag-geoip.flag-kn{background-position:-112px -77px}
.flag-geoip.flag-as{background-position:-160px 0}
.flag-geoip.flag-ms{background-position:-112px -99px}
.flag-geoip.flag-sb{background-position:-16px -132px}
.flag-geoip.flag-kw{background-position:-176px -77px}
.flag-geoip.flag-bh{background-position:-96px -11px}
.flag-geoip.flag-ge{background-position:-208px -44px}
.flag-geoip.flag-catalonia{background-position:-64px -22px}
.flag-geoip.flag-tg{background-position:-160px -143px}
.flag-geoip.flag-kh{background-position:-64px -77px}
.flag-geoip.flag-tc{background-position:-112px -143px}
.flag-geoip.flag-nz{background-position:-160px -110px}
.flag-geoip.flag-do{background-position:-144px -33px}
.flag-geoip.flag-tj{background-position:-208px -143px}
.flag-geoip.flag-tf{background-position:-144px -143px}
.flag-geoip.flag-eg{background-position:-208px -33px}
.flag-geoip.flag-td{background-position:-128px -143px}
.flag-geoip.flag-br{background-position:-192px -11px}
.flag-geoip.flag-ph{background-position:0 -121px}
.flag-geoip.flag-mr{background-position:-96px -99px}
.flag-geoip.flag-pm{background-position:-48px -121px}
.flag-geoip.flag-tk{background-position:-224px -143px}
.flag-geoip.flag-ci{background-position:-144px -22px}
.flag-geoip.flag-cv{background-position:-16px -33px}
.flag-geoip.flag-sl{background-position:-176px -132px}
.flag-geoip.flag-ee{background-position:-192px -33px}
.flag-geoip.flag-md{background-position:-176px -88px}
.flag-geoip.flag-cg{background-position:-112px -22px}
.flag-geoip.flag-jo{background-position:0 -77px}
.flag-geoip.flag-ec{background-position:-176px -33px}
.flag-geoip.flag-ng{background-position:-48px -110px}
.flag-geoip.flag-lu{background-position:-96px -88px}
.flag-geoip.flag-ag{background-position:-48px 0}
.flag-geoip.flag-bd{background-position:-32px -11px}
.flag-geoip.flag-sm{background-position:-192px -132px}
.flag-geoip.flag-ax{background-position:-224px 0}
.flag-geoip.flag-mm{background-position:-16px -99px}
.flag-geoip.flag-sx{background-position:-64px -143px}
.flag-geoip.flag-om{background-position:-176px -110px}
.flag-geoip.flag-rs{background-position:-208px -121px}
.flag-geoip.flag-vn{background-position:-48px -165px}
.flag-geoip.flag-fr{background-position:-144px -44px}
.flag-geoip.flag-us{background-position:-176px -154px!important}
.flag-geoip.flag-lk{background-position:-32px -88px}
.flag-geoip.flag-mc{background-position:-160px -88px}
.flag-geoip.flag-ua{background-position:-128px -154px}
.flag-geoip.flag-de{background-position:-80px -33px}
.flag-geoip.flag-tt{background-position:-64px -154px}
.flag-geoip.flag-va{background-position:-224px -154px}
.flag-geoip.flag-lb{background-position:-240px -77px}
.flag-geoip.flag-mo{background-position:-48px -99px}
.flag-geoip.flag-to{background-position:-32px -154px}
.flag-geoip.flag-ki{background-position:-80px -77px}
.flag-geoip.flag-cl{background-position:-176px -22px}
.flag-geoip.flag-lc{background-position:0 -88px}
.flag-geoip.flag-tn{background-position:-16px -154px}
.flag-geoip.flag-ir{background-position:-176px -66px}
.flag-geoip.flag-bo{background-position:-176px -11px}
.flag-geoip.flag-io{background-position:-144px -66px}
.flag-geoip.flag-cf{background-position:-96px -22px}
.flag-geoip.flag-za{background-position:-176px -165px}
.flag-geoip.flag-dm{background-position:-128px -33px}
.flag-geoip.flag-my{background-position:-208px -99px}
.flag-geoip.flag-ug{background-position:-144px -154px}
.flag-geoip.flag-mw{background-position:-176px -99px}
.flag-geoip.flag-tv{background-position:-80px -154px}
.flag-geoip.flag-ss{background-position:-16px -143px}
.flag-geoip.flag-bb{background-position:-16px -11px}
.flag-geoip.flag-ca{background-position:-48px -22px}
.flag-geoip.flag-ni{background-position:-64px -110px}
.flag-geoip.flag-ad{background-position:0 0}
.flag-geoip.flag-so{background-position:-224px -132px}
.flag-geoip.flag-gt{background-position:-144px -55px}
.flag-geoip.flag-id{background-position:-64px -66px}
.flag-geoip.flag-si{background-position:-128px -132px}
.flag-geoip.flag-np{background-position:-112px -110px}
.flag-geoip.flag-hk{background-position:-208px -55px}
.flag-geoip.flag-me{background-position:-192px -88px}
.flag-geoip.flag-bg{background-position:-80px -11px}
.flag-geoip.flag-cm{background-position:-192px -22px}
.flag-geoip.flag-rw{background-position:-240px -121px}
.flag-geoip.flag-pt{background-position:-112px -121px}
.flag-geoip.flag-ic{background-position:-48px -66px}
.flag-geoip.flag-cd{background-position:-80px -22px}
.flag-geoip.flag-ck{background-position:-160px -22px}
.flag-geoip.flag-mt{background-position:-128px -99px}
.flag-geoip.flag-pl{background-position:-32px -121px}
.flag-geoip.flag-ch{background-position:-128px -22px}
.flag-geoip.flag-ve{background-position:0 -165px}
.flag-geoip.flag-sk{background-position:-160px -132px}
.flag-geoip.flag-ye{background-position:-144px -165px}
.flag-geoip.flag-mh{background-position:-224px -88px}
.flag-geoip.flag-pa{background-position:-192px -110px}
.flag-geoip.flag-kurdistan{background-position:-160px -77px}
.flag-geoip.flag-hu{background-position:-32px -66px}
.flag-geoip.flag-vu{background-position:-64px -165px}
.flag-geoip.flag-bv{background-position:-240px -11px}
.flag-geoip.flag-nr{background-position:-128px -110px}
.flag-geoip.flag-vc{background-position:-240px -154px}
.flag-geoip.flag-qa{background-position:-160px -121px}
.flag-geoip.flag-somaliland{background-position:-240px -132px}
.flag-geoip.flag-sc{background-position:-32px -132px}
.flag-geoip.flag-an{background-position:-112px 0}
.flag-geoip.flag-mk{background-position:-240px -88px}
.flag-geoip.flag-je{background-position:-224px -66px}
.flag-geoip.flag-fi{background-position:-64px -44px}
.flag-geoip.flag-af{background-position:-32px 0}
.flag-geoip.flag-be{background-position:-48px -11px}
.flag-geoip.flag-ma{background-position:-144px -88px}
.flag-geoip.flag-fo{background-position:-128px -44px}
.flag-geoip.flag-bt{background-position:-224px -11px}
.flag-geoip.flag-cu{background-position:0 -33px}
.flag-geoip.flag-pn{background-position:-64px -121px}
.flag-geoip.flag-al{background-position:-80px 0}
.flag-geoip.flag-kp{background-position:-128px -77px}
.flag-geoip.flag-eu{background-position:-48px -44px}
.flag-geoip.flag-es{background-position:-16px -44px}
.flag-geoip.flag-pr{background-position:-80px -121px}
.flag-geoip.flag-cy{background-position:-48px -33px}
.flag-geoip.flag-bj{background-position:-128px -11px}
.flag-geoip.flag-tibet{background-position:-192px -143px}
.flag-geoip.flag-gd{background-position:-192px -44px}
.flag-geoip.flag-nu{background-position:-144px -110px}
.flag-geoip.flag-gf{background-position:-224px -44px}
.flag-geoip.flag-km{background-position:-96px -77px}
.flag-geoip.flag-sj{background-position:-144px -132px}
.flag-geoip.flag-ls{background-position:-64px -88px}
.flag-geoip.flag-fj{background-position:-80px -44px}
.flag-geoip.flag-bs{background-position:-208px -11px}
.flag-geoip.flag-bw{background-position:0 -22px}
.flag-geoip.flag-mx{background-position:-192px -99px}
.flag-geoip.flag-pe{background-position:-208px -110px}
.flag-geoip.flag-wales{background-position:-80px -165px}
.flag-geoip.flag-sg{background-position:-96px -132px}
.flag-geoip.flag-pk{background-position:-16px -121px}
.flag-geoip.flag-nc{background-position:0 -110px}
.flag-geoip.flag-hr{background-position:0 -66px}
.flag-geoip.flag-dk{background-position:-112px -33px}
.flag-geoip.flag-bf{background-position:-64px -11px}
.flag-geoip.flag-au{background-position:-192px 0}
.flag-geoip.flag-kr{background-position:-144px -77px}
.flag-geoip.flag-gw{background-position:-176px -55px}
.flag-geoip.flag-gq{background-position:-96px -55px}
.flag-geoip.flag-la{background-position:-224px -77px}
.flag-geoip.flag-bn{background-position:-160px -11px}
.flag-geoip.flag-gn{background-position:-64px -55px}
.flag-geoip.flag-aw{background-position:-208px 0}
.flag-geoip.flag-lt{background-position:-80px -88px}
.flag-geoip.flag-fk{background-position:-96px -44px}
.flag-geoip.flag-pw{background-position:-128px -121px}
.flag-geoip.flag-eh{background-position:-224px -33px}
.flag-geoip.flag-sa{background-position:0 -132px}
.flag-geoip.flag-kz{background-position:-208px -77px}
.flag-geoip.flag-gy{background-position:-192px -55px}
.flag-geoip.flag-er{background-position:0 -44px}
.flag-geoip.flag-in{background-position:-128px -66px}
.flag-geoip.flag-ml{background-position:0 -99px}
.flag-geoip.flag-re{background-position:-176px -121px}
.flag-geoip.flag-cr{background-position:-240px -22px}
.flag-geoip.flag-at{background-position:-176px 0}
.flag-geoip.flag-iq{background-position:-160px -66px}
.flag-geoip.flag-ky{background-position:-192px -77px}
.flag-geoip.flag-gh{background-position:0 -55px}
.flag-geoip.flag-uy{background-position:-192px -154px}
.flag-geoip.flag-az{background-position:-240px 0}
.flag-geoip.flag-pf{background-position:-224px -110px}
.flag-geoip.flag-ru{background-position:-224px -121px}
.flag-geoip.flag-it{background-position:-208px -66px}
.flag-geoip.flag-jp{background-position:-16px -77px}
.flag-geoip.flag-st{background-position:-32px -143px}
.flag-geoip.flag-gr{background-position:-112px -55px}
.flag-geoip.flag-nl{background-position:-80px -110px}
.flag-geoip.flag-is{background-position:-192px -66px}
.flag-geoip.flag-mn{background-position:-32px -99px}
.flag-geoip.flag-wf{background-position:-96px -165px}
.flag-geoip.flag-ro{background-position:-192px -121px}
.flag-geoip.flag-gg{background-position:-240px -44px}
.flag-geoip.flag-cw{background-position:-32px -33px}
.flag-geoip.flag-et{background-position:-32px -44px}
.flag-geoip.flag-mu{background-position:-144px -99px}
.flag-geoip.flag-gu{background-position:-160px -55px}
.flag-geoip.flag-ie{background-position:-80px -66px}
.flag-geoip.flag-sz{background-position:-96px -143px}
.flag-geoip.flag-fm{background-position:-112px -44px}
.flag-geoip.flag-gl{background-position:-32px -55px}
.flag-geoip.flag-th{background-position:-176px -143px}
.flag-geoip.flag-bi{background-position:-112px -11px}
.flag-geoip.flag-ao{background-position:-128px 0}
.flag-geoip.flag-sv{background-position:-48px -143px}
.flag-geoip.flag-zanzibar{background-position:-192px -165px}
.flag-geoip.flag-xk{background-position:-128px -165px}
.flag-geoip.flag-gp{background-position:-80px -55px}
.flag-geoip.flag-li{background-position:-16px -88px}
.flag-geoip.flag-na{background-position:-240px -99px}
.flag-geoip.flag-se{background-position:-80px -132px}
.flag-geoip.flag-by{background-position:-16px -22px}
.flag-geoip.flag-pg{background-position:-240px -110px}
.flag-geoip.flag-ps{background-position:-96px -121px}
.flag-geoip.flag-yt{background-position:-160px -165px}
.flag-geoip.flag-tm{background-position:0 -154px}
.flag-geoip.flag-ly{background-position:-128px -88px}
.flag-geoip.flag-sd{background-position:-64px -132px}
.flag-geoip.flag-mz{background-position:-224px -99px}
.flag-geoip.flag-tr{background-position:-48px -154px}
.flag-geoip.flag-gs{background-position:-128px -55px}
.flag-geoip.flag-dj{background-position:-96px -33px}
.flag-geoip.flag-england{background-position:-240px -33px}
.flag-geoip.flag-gi{background-position:-16px -55px}
.flag-geoip.flag-tz{background-position:-112px -154px}
.flag-geoip.flag-zm{background-position:-208px -165px}
.flag-geoip.flag-nf{background-position:-32px -110px}
.flag-geoip.flag-lv{background-position:-112px -88px}
.flag-geoip.flag-dz{background-position:-160px -33px}
.flag-geoip.flag-ht{background-position:-16px -66px}
.flag-geoip.flag-co{background-position:-224px -22px}
.flag-geoip.flag-cn{background-position:-208px -22px}
.flag-geoip.flag-mq{background-position:-80px -99px}
.flag-geoip.flag-vi{background-position:-32px -165px}
.flag-geoip.flag-hm{background-position:-224px -55px}
.flag-geoip.flag-tw{background-position:-96px -154px}
.flag-geoip.flag-mp{background-position:-64px -99px}
.flag-geoip.flag-ws{background-position:-112px -165px}
.flag-geoip.flag-hn{background-position:-240px -55px}
.flag-geoip.flag-mg{background-position:-208px -88px}
