{% apply remove_whitespace %}
{# Automatically removes unnecessary whitespace #}
<div class="ban">
	{% if ban.expires and time() >= ban.expires %}
		<h2>{% trans %}You were banned! ;_;{% endtrans %}</h2>
	{% else %}
		<h2>{% trans %}You are banned! ;_;{% endtrans %}</h2>
	{% endif %}
	{% if ban.ban_type == constant('IMAGE_BAN') %}
		<img class="banscreenimg" src="{{ config.root }}static/imageban.png" style="margin:4px;" />
	{% else %}
		<img class="banscreenimg" src="{{ config.root }}static/ban.png" style="margin:4px;" />
	{% endif %}
	<p>
		{% if ban.expires and time() >= ban.expires %}
			{% trans %}You were banned from{% endtrans %}
		{% else %}
			{% trans %}You have been banned from{% endtrans %}
		{% endif %}
		{% if ban.ban_type == constant('IMAGE_BAN') %}
			 {% trans %}posting images on{% endtrans %}
	  {% elseif ban.ban_type == constant('THREAD_START_BAN') %}
			 {% trans %}creating threads on{% endtrans %}
		{% endif %}
			{% if ban.board %}
				 <strong>{{ config.board_abbreviation|sprintf(ban.board) }}</strong>
			{% else %}
				 {% trans %}all boards{% endtrans %}
			{% endif %}
			{% if ban.reason %}
				 {% trans %}for the following reason:{% endtrans %}
			{% else %}
				 {% trans %}for an unspecified reason.{% endtrans %}
			{% endif %}
	</p>
	{% if ban.reason %}
		<p class="reason">
			{{ ban.reason|raw }}
		</p>
	{% endif %}
	{% if not (ban.expires and time() >= ban.expires) %}
		{% if ban.ban_type == constant('IMAGE_BAN') %}
			<p>
				{% trans %}You can still post text-only messages.{% endtrans %}
			</p>
		{% elseif ban.ban_type == constant('THREAD_START_BAN') %}
			<p>
				{% trans %}You can still reply to threads.{% endtrans %}
			</p>
		{% endif %}
	{% endif %}
	{% if ban.signed_name or ban.signed_trip %}
	<p>
		Signed,&nbsp;
		<span class="namepart">
			<span class="name">{{ ban.signed_name ? ban.signed_name : "" }}</span>
			<span class="trip">{{ ban.signed_trip ? ban.signed_trip : "" }}</span>
		</span>
	</p>
	{% endif %}
	<p>
		{% trans %}Your ban was filed on{% endtrans %}
			 <strong>{{ ban.set|date(config.ban_date) }}</strong>
		{% if ban.expires %}
			 for {{ (ban.expires - ban.set + time()) | until }}
		{% endif %}
		 {% trans %}and{% endtrans %} <span id="expires">
		{% if ban.expires and time() >= ban.expires %}
			{% trans %}has since expired.{%  endtrans %}
		{% elseif ban.expires %}
			{% trans %}expires{% endtrans %} <span id="countdown">{{ ban.expires|until }}</span> {% trans %}from now, which is on{% endtrans %}
			 <strong>{{ ban.expires|date(config.ban_date) }}</strong>
			<script>
				var secondsLeft = {{ ban.expires - time() }};
				var end = new Date().getTime() + secondsLeft*1000;
				function updateExpiresTime() {
					countdown.firstChild.nodeValue = until(end);
				}
				function until(end) {
					var now = new Date().getTime();
					var diff = Math.round((end - now) / 1000);
					if (diff < 0) {
						document.getElementById("expires").innerHTML = "{% trans %}has since expired.{% endtrans %}";
						clearInterval(int);
						return "";
					} else if (diff < 60) {
						return diff + " second" + (diff == 1 ? "" : "s");
					} else if (diff < 60*60) {
						return (num = Math.round(diff/(60))) + " minute" + (num == 1 ? "" : "s");
					} else if (diff < 60*60*24) {
						return (num = Math.round(diff/(60*60))) + " hour" + (num == 1 ? "" : "s");
					} else if (diff < 60*60*24*7) {
						return (num = Math.round(diff/(60*60*24))) + " day" + (num == 1 ? "" : "s");
					} else if (diff < 60*60*24*365) {
						return (num = Math.round(diff/(60*60*24*7))) + " week" + (num == 1 ? "" : "s");
					} else {
						return (num = Math.round(diff/(60*60*24*365))) + " year" + (num == 1 ? "" : "s");
					}
				}
				var countdown = document.getElementById("countdown");

				updateExpiresTime();
				var int = setInterval(updateExpiresTime, 1000);
			</script>
		{% else %}
			<em>{% trans %}will not expire{% endtrans %}</em>.
		{% endif %}
		</span>
	</p>
	<p>Click <a href="javascript:history.back()">back</a> to exit this message.</p>
	<p>{% trans %}Your IP address is{% endtrans %} <strong>{{ ban.ip }}</strong>.</p>

	<div class="appeals">
		{% if ban.appealable %}
	  	This ban may be appealed.
		{% else %}
			This ban may not be appealed.
		{% endif %}

		{% include 'appeals.html' %}
		{% if ban.appealable %}
		<form name="appeal" action="{{ config.root }}bans/{{ ban.id }}/appeal" method="post">
	    <textarea name="body"></textarea>
			<br>
	    <input type="submit" value="Submit">
	  </form>
		{% endif %}
	</div>
</div>
{% endapply %}
