<!doctype html>
<html>
<head {% if mod %}data-is-mod="true"{% endif %}>
	<meta charset="utf-8">
	<link rel="stylesheet" media="screen" href="{{ config.url_stylesheet }}?v={{ 'stylesheets/style.css'|filemtime }}">
	{% if config.post_flags and board.hasflags %}
		<link rel="stylesheet" media="screen" href="/static/flags/flags.css">
	{% endif %}
	{% if config.url_favicon %}<link rel="shortcut icon" href="{{ config.url_favicon }}">{% endif %}
	<title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
	{% if config.meta_keywords %}<meta name="keywords" content="{{ config.meta_keywords }}">{% endif %}
	{% if config.stylesheets[config.default_stylesheet].1 != '' %}<link rel="stylesheet" type="text/css" id="stylesheet" href="{{
		config.uri_stylesheets }}{{ config.stylesheets[config.default_stylesheet].1 }}?v={{
		('stylesheets/' ~ config.stylesheets[config.default_stylesheet].1)|filemtime }}">{% endif %}
	{% if not nojavascript %}
		<script type="text/javascript" id="config" data-board-config="{{ getBoardConfig(config) }}" src="{{ config.url_instance_script }}?v={{ config.file_instance_script|filemtime }}"></script>
		<script type="text/javascript" src="{{ config.url_main_script }}?v={{ config.file_main_script|filemtime }}"></script>
	{% endif %}
</head>
<body class="boardpage {% block extra_body_classes %}{% endblock %}">
	{{ boardlist.top|raw }}
	{% if pm %}<div class="top_notice">You have <a href="?/PM/{{ pm.id }}">an unread PM</a>{% if pm.waiting > 0 %}, plus {{ pm.waiting }} more waiting{% endif %}.</div><hr />{% endif %}
	{% block banner %}
		<!-- {% if config.url_banner %}<img class="banner" src="{{ config.url_banner }}" {% if config.banner_width or config.banner_height %}style="{% if config.banner_width %}width:{{ config.banner_width }}px{% endif %};{% if config.banner_width %}height:{{ config.banner_height }}px{% endif %}" {% endif %}alt="" />{% endif %} -->
	{% endblock %}

	{% block header %}
		<header>
			<h1>{{ board.url }} - {{ board.title }}</h1>
			<div class="subtitle">
				{% if board.subtitle %}
					{{ board.subtitle }}
				{% endif %}
				{% if mod %}<p><a href="?/">{% trans %}Return to dashboard{% endtrans %}</a></p>{% endif %}
			</div>
		</header>
	{% endblock %}

	{% block main_body %}{% endblock %}

	{% if boardlist %}
		{{ boardlist.bottom|raw }}
	{% endif %}
	<footer>
		<p class="unimportant" style="margin-top:20px;text-align:center;">Ponychan is based on Tinyboard | Tinyboard Copyright &copy; 2010-2013 Tinyboard Development Group</p>
		{% for footer in config.footer %}<p class="unimportant" style="text-align:center;">{{ footer|raw }}</p>{% endfor %}
	</footer>
</body>
</html>
