<form name="post" onsubmit="return dopost(this);" enctype="multipart/form-data" action="{{ config.post_url }}" method="post">
{{ antibot.html()|raw }}
{% if id %}<input type="hidden" name="thread" value="{{ id }}">{% endif %}
{{ antibot.html()|raw }}
<input type="hidden" name="board" value="{{ board.uri }}">
<input type="hidden" name="making_a_post" value="1">
{{ antibot.html()|raw }}
{% if mod %}<input type="hidden" name="mod" value="1">{% endif %}
	{% set bypass_field_disable = (mod and post.mod|hasPermission('bypass_field_disable', board.uri)) %}
	<table>
		{% set name_enabled = not config.field_disable_name and not (id and thread.anon_thread) %}
		{% if name_enabled or bypass_field_disable %}
			<tr>
			<th>
				{% trans %}Name{% endtrans %}
				{{ antibot.html()|raw }}
			</th>
			<td>
				<input type="text" name="name" size="25" maxlength="75">
				{{ antibot.html()|raw }}
				<span class="help-bubble">?</span>
				<article class="help-details">
					<p>This field is optional. You can choose&nbsp;
						any name you want, or you can post anonymously by&nbsp;
						leaving this field empty.</p>
					<p>Tripcodes are a way to identify yourself between posts&nbsp;
						without having to register with the site. To use a&nbsp;
						tripcode, enter your name as&nbsp;
						<em>&lsaquo;name&rsaquo;#&lsaquo;key&rsaquo;</em>.
						You can choose anything you want as the key&mdash;it is private and will&nbsp;
						never be shown to other posters or stored on the server. For example:</p>
					<div class="help-demo">Rarity#bestpony &rarr;&nbsp;
						<span class="namepart">
							<span class="name">Rarity</span>
							<span class="trip">!.4PK7yxdII</span>
						</span>
					</div>
					<p>If you want a tripcode containing specific words, you can&nbsp;
						download a program designed to search for tripcodes, such as&nbsp;
						Tripcode Explorer.</p>
				</article>
			</td>
		</tr>{% endif %}
		<tr>
			<th>
				{% set email_enabled = not config.field_disable_email and not (id and thread.anon_thread) %}
				{% if name_enabled or bypass_field_disable %}
					{% trans %}Email{% endtrans %}
				{% else %}
					{% trans %}Options{% endtrans %}
				{% endif %}
				{{ antibot.html()|raw }}
			</th>
			<td>
				<input type="text" name="email" size="25" maxlength="254">
				{{ antibot.html()|raw }}
				<span class="help-bubble">?</span>
				<article class="help-details">
					<p>Entering an e-mail is optional.</p>
					<p>There are also code words you can enter here which perform&nbsp;
						certain actions when you submit your post.</p>
					<ul>
						<li><strong>sage</strong> &mdash; lets you post without bumping a thread.</li>
						{% if  config.always_noko %}
							<li><strong>nonoko</strong> &mdash; uses the original post behavior&nbsp;
								to redirect to the board index.</li>
						{% else %}
							<li><strong>noko</strong> &mdash; keeps you in the thread after you post.</li>
						{% endif %}
					</ul>
					<p>These can be used at the same time as an e-mail address by typing&nbsp;
						<em>&lsaquo;email&rsaquo;#&lsaquo;action&rsaquo;</em>.</p>
					<p>You can also use Skype names in place of an e-mail. The notation is the same&nbsp;
						as a link to a username on skype itself, which is <em>skype:&lsaquo;username&rsaquo;</em></p>
				</article>
			</td>
		</tr>
		<tr>
			{% set subject_enabled = not config.field_disable_subject and not (id and thread.anon_thread) %}
			{% if subject_enabled or bypass_field_disable %}
			<th>
				{% trans %}Subject{% endtrans %}
				{{ antibot.html()|raw }}
			</th>
			<td>
				<input type="text" name="subject" size="25" maxlength="100" autocomplete="off">
			{% else %}<th>
				{% trans %}Submit{% endtrans %}
				{{ antibot.html()|raw }}
			</th>
			<td>
			{% endif %}
				<input accesskey="s" type="submit" name="post" value="{% if id %}{{ config.button_reply }}{% else %}{{ config.button_newtopic }}{% endif %}" />
			</td>
		</tr>
		<tr>
			<th>
				{% trans %}Comment{% endtrans %}
				{{ antibot.html()|raw }}
			</th>
			<td>
				<textarea name="body" id="body" rows="5" cols="35"></textarea>
				<span class="help-bubble">?</span>
				<article class="help-details markup-doc">
					<dl class="bulleted-dl">
						<dt>Giving emphasis</dt>
						<dd><div class="dd-title">[b] Bold [/b] <kbd class="shortcut">Ctrl + B</kbd></div></dd>
						<dd><div class="dd-title">[i] Italic [/i] <kbd class="shortcut">Ctrl + I</kbd></div></dd>
						<dd><div class="dd-title">[u] Underlined [/u] <kbd class="shortcut">Ctrl + U</kbd></div></dd>
						<dd><div class="dd-title">[s] Strikethrough [/s] <kbd class="shortcut">Ctrl + R</kbd></div></dd>
					</dl>
					<dl class="bulleted-dl">
						<dt>Hiding text</dt>
						<dd>
							<div class="dd-title">[?] Spoiler text [/?] <kbd class="shortcut">Ctrl + S</kbd></div>
						</dd>
						<dd><div class="dd-title">[h] Hide block of text [/h] <kbd class="shortcut">Ctrl + H</kbd></div></dd>
					</dl>
					<dl class="bulleted-dl">
						<dt>Special</dt>
						<dd><div class="dd-title">[rcv] Royal Canterlot voice [/rcv] <kbd class="shortcut">Ctrl + K</kbd></div></dd>
						<dd><div class="dd-title">[shy] Fluttershy voice [/shy]</div></dd>
						<dd><div class="dd-title">[cs] Comic Sans [/cs]</div></dd>
						<dd><div class="dd-title">[tt] Monospaced [/tt]</div></dd>
						<dd><div class="dd-title">[d20], [4d6] &mdash; Dice rolls</div></dd>
					</dl>
					<dl class="bulleted-dl">
						<dt>URLs and linking</dt>
						<dd>
							<div class="dd-title">Link to a post on the current board</div>
							<div class="dd-example">&gt;&gt;1234</div>
						</dd>
						<dd>
							<div class="dd-title">Link to another board</div>
							<div class="dd-example">&gt;&gt;&gt;/pony/</div>
						<dd>
							<div class="dd-title">Link to a post on another board</div>
							<div class="dd-example">&gt;&gt;&gt;/pony/1234</div>
						</dd>
						<dd>
							<div class="dd-title">Hypertext links</div>
							<div class="dd-example">[url=https://www.ponychan.net/] Ponychan [/url]</div>
						</dd>
					</dl>
				</article>
				{{ antibot.html()|raw }}
			</td>
		</tr>
		{% if config.captcha != constant('NO_CAPTCHA') %}
		<tr>
			<th>
				{% trans %}Verification{% endtrans %}
				{{ antibot.html()|raw }}
			</th>
			<td>
				{% if config.captcha == constant('USE_HCAPTCHA') %}
					<div class="h-captcha" data-sitekey="{{ config.captcha_public }}"></div>
					<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
				{% endif %}
				{{ antibot.html()|raw }}
			</td>
		</tr>
		{% endif %}
		<tr>
			<th>
				{% trans %}File{% endtrans %}
			</th>
			<td>
				<input type="file" name="file"
				 data-max-filesize="{{ config.max_filesize }}"
				 data-max-video-filesize="{{ config.max_video_filesize }}"
				{% if id %}
				 data-thumb-max-width="{{ config.thumb_width }}" data-thumb-max-height="{{ config.thumb_height }}"
				{% else %}
				 data-thumb-max-width="{{ config.thumb_op_width }}" data-thumb-max-height="{{ config.thumb_op_height }}"
				{% endif %}
				 accept="image/*,video/webm,video/mp4">
				{{ antibot.html()|raw }}
			</td>
		</tr>
		{% if config.enable_embedding %}
		<tr>
			<th>
				{% trans %}Embed{% endtrans %}
				{{ antibot.html()|raw }}
			</th>
			<td>
				<input type="text" name="embed" size="30" maxlength="120" autocomplete="off">
				{{ antibot.html()|raw }}
			</td>
		</tr>
		{% endif %}
		{% if mod or
			(config.show_spoiler_thread_button and not id) or
			(config.spoiler_images and
					(config.show_image_spoiler_when_thread_spoiler_available or
						not (config.show_spoiler_thread_button and not id))) or
			(config.mature_allowed and not id) %}
		<tr>
			{% if config.post_flags and board.hasflags %}
				<th>Flag</th>
				<td>
					<select id="post_flag" name="post_flag">
						{% if ""|hasFlagType("geoip", board.uri) %}
							<option value="geoip/geoip">Local flag</option>
						{% endif %}
						{% if ""|hasFlagType("blank", board.uri) %}
							<option value="blank/blank.gif">No flag</option>
						{% endif %}
						{% for flag in config.flags %}
							<option value="custom/{{flag[1]}}">{{flag[0]}}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
			{% endif %}
			<th>
				{% trans %}Options{% endtrans %}
			</th>
			<td>
				{% if config.show_spoiler_thread_button and not id %}<div>
					<label>
					<input id="spoiler_thread" name="spoiler_thread" type="checkbox">
					 {% trans %}Spoiler Thread{% endtrans %}</label>
				</div>{% endif %}
				{% if config.spoiler_images and
						(config.show_image_spoiler_when_thread_spoiler_available or
							not (config.show_spoiler_thread_button and not id))
				%}<div>
					<label>
					<input id="spoiler" name="spoiler" type="checkbox">
					 {% trans %}Spoiler Image{% endtrans %}</label>
				</div>{% endif %}
				{% if config.mature_allowed and not id %}<div style="display:none" class="mature_post_button">
					<label>
					<input id="mature" name="mature" type="checkbox">
					 {% trans %}Mature Content{% endtrans %}</label>
				</div>{% endif %}
				{% if config.politics_allowed and not id %}<div style="display:none" class="political_post_button">
					<label>
					<input id="political" name="political" type="checkbox">
					 {% trans %}Political Thread{% endtrans %}</label>
				</div>{% endif %}
			{% if mod %}
				{% if not id and post.mod|hasPermission('sticky', board.uri) %}<div>
					<label>
					<input title="{% trans %}Sticky{% endtrans %}" type="checkbox" name="sticky" id="sticky">
					 {% trans %}Sticky{% endtrans %}</label>
				</div>{% endif %}
				{% if not id and post.mod|hasPermission('lock', board.uri) %}<div>
					<label>
					<input title="{% trans %}Lock{% endtrans %}" type="checkbox" name="lock" id="lock">
					 {% trans %}Lock{% endtrans %}</label>
				</div>{% endif %}
				{% if post.mod|hasPermission('rawhtml', board.uri) %}<div>
					<label>
					<input title="{% trans %}Raw HTML{% endtrans %}" type="checkbox" name="raw" id="raw">
					 {% trans %}Raw HTML{% endtrans %}</label>
				</div>{% endif %}
				{% set available_capcode = config.mod.capcode[mod.type][0] %}
				{% if available_capcode %}<div>
					<label>
					<input title="{% trans %}Capcode{% endtrans %}" type="checkbox" name="use_capcode" id="use_capcode">
					 <span class="textPart">
						{% trans %}Capcode{% endtrans %} <span class="availableCapcode">({{ available_capcode }})</span>
					</span></label>
				</div>{% endif %}
			{% endif %}
			</td>
		</tr>
		{% endif %}
		{% if not config.field_disable_password or (mod and post.mod|hasPermission('bypass_field_disable', board.uri)) %}<tr>
			<th>
				{% trans %}Password{% endtrans %}
				{{ antibot.html()|raw }}
				<input type="hidden" name="activate_egg" value="0">
			</th>
			<td>
				<input type="text" name="username" style="display:none"
				 data-comment="this is a dummy field just for browsers that insist on auto-filling a username in somewhere">
				<input type="password" name="password" size="12" maxlength="18">
				{{ antibot.html()|raw }}
				<span class="help-bubble">?</span>
				<article class="help-details">
					<p>This field is for editing and deletions.</p>
				</article>
			</td>
		</tr>{% endif %}
	</table>
{{ antibot.html(true)|raw }}
<input type="hidden" name="hash" value="{{ antibot.hash() }}">
</form>
