{% apply remove_whitespace %}
{# tabs and new lines will be ignored #}

{% if not index and post.mature %}
<div class="mature_warning">
This is a mature content thread. You must have viewing mature content enabled in the Settings menu to view this thread.
</div>
{% endif %}

<div class="thread{% if post.mature %} mature_thread{% endif %} {% if post.political %} political_thread{% endif %} thread_{{ board.uri }}-{{ post.id }}"
 id="thread_{{ post.id }}"
{% if post.mature %}
 style="display:none"
{% endif %}
>

<div class="postContainer opContainer postC_{{ post.id }} postC_{{ board.uri }}-{{ post.id }}" id="replyC_{{ post.id }}">
<div class="post op{% if post.mature %} mature_post{% endif %} post_{{ post.id }} post_{{ board.uri }}-{{ post.id }}" id="reply_{{ post.id }}">
{% if post.embed %}
	{{ post.embed }}
{% elseif post.file == 'deleted' %}
	<img class="postimg" src="{{ config.image_deleted }}" alt="" />
{% elseif post.file and post.file %}
	<p class="fileinfo">{% trans %}File:{% endtrans %} <a href="{{ post.file_uri }}">{{ post.file }}</a> <span class="morefileinfo">
	(
		{% if post.thumb == 'spoiler' %}
			{% trans %}Spoiler Image{% endtrans %},
		 {% endif %}
		{{ post.filesize|filesize }}
		{% if post.filex and post.filey %}
			, {{ post.filex}}x{{ post.filey }}
			{% if config.show_ratio %}
				, {{ post.ratio }}
			{% endif %}
		{% endif %}
		{% if config.show_filename and post.filename %}
			,
			{% if post.filename|length > config.max_filename_display %}
				 <a class="post-filename" title="Save as original filename" href="{{ post.file_uri }}" download="{{ post.filename }}" data-fn-fullname="{{ post.filename|bidi_cleanup }}">{{ post.filename|truncate(config.max_filename_display)|bidi_cleanup }}</a>
			{% else %}
				 <a class="post-filename" title="Save as original filename" href="{{ post.file_uri }}" download="{{ post.filename }}">{{ post.filename|bidi_cleanup }}</a>
			{% endif %}
		{% endif %}
	)
	</span></p>
<a href="{{ post.file_uri }}" target="_blank" class="thumbContainer{% if post.thumb == 'file' %} file{% elseif post.filetype == 'silentvideo' %} silentvideo{% elseif post.filetype == 'video' %} video{% endif %}">
<img class="postimg {% if post.thumb == 'file' %}
		class="postimg file"
		src="{{ config.root }}
		{% if config.file_icons[post.filename|extension] %}
			{{ config.file_thumb|sprintf(config.file_icons[post.filename|extension]) }}
		{% else %}
			{{ config.file_thumb|sprintf(config.file_icons.default) }}
		{% endif %}"
		
	{% elseif post.thumb == 'spoiler' %}
		 spoiler-image"
		src="{{ config.root }}{{ config.spoiler_image }}"
	{% elseif post.mature %}
		 mature-image"
		src="{{ config.root }}{{ config.mature_image }}"
	{% else %}
		"
		src="{{ post.thumb_uri }}"
	{% endif %}
	{% if post.mature and post.thumb != 'file' and post.thumb != 'spoiler' and post.file != 'deleted' %}
	 data-mature-src="{{ post.thumb_uri }}"
	 data-mature-style="width:{{ post.thumbx }}px;height:{{ post.thumby }}px"
	 style=""
	{% else %}
	 style="width:{{ post.thumbx }}px;height:{{ post.thumby }}px"
	{% endif %}
	 alt="" /></a>
{% endif %}
<div class="opMain">
	{% if not index %}<div class="jumpHandle" id="{{ post.id }}"></div>{% endif %}
	<p class="intro">
	<input type="checkbox" class="delete" name="delete_{{ post.id }}" id="delete_{{ post.id }}" />
		{% if post.subject|length > 0 %}
			{# show subject #}
			<span class="subject">{{ post.subject|bidi_cleanup }}</span>
		{% endif %}
		{% if post.email|length > 0 %}
      {# start email #}
			 <a class="email namepart"
				href="{{ post.email_protocol ? post.email_protocol : 'mailto' }}:{{ post.email|url_encode }}"
				>
		{% else %}
			 <span class="namepart">
		{% endif %}
		{% set capcode = post.capcode|capcode %}
		<span {% if capcode.name %}style="{{ capcode.name }}" {% endif %}class="name">{{ post.name|bidi_cleanup }}</span>
		{% if post.trip|length > 0 %}
		<span {% if capcode.trip %}style="{{ capcode.trip }}" {% endif %}class="trip">{{ post.trip }}</span>
		{% endif %}
		{% if post.email|length > 0 %}
			{# end email #}
			</a>
		{% else %}
			</span>
		{% endif %}
		{% if capcode %}
			{{ capcode.cap|raw }}
		{% endif %}
		{% if config.poster_ids %}
			 <span class="posterid_part">(ID:
				 <span class="posterid id_{{ post.ip|poster_id(post.thread) }}">{{ post.ip|poster_id(post.id) }}</span>)
			</span>
		{% endif %}
		<span style="display:none;">Country code: {{post.country_code}}, country type: {{post.country_type}}, valid: {{""|isValidFlag(post.country_code, post.counrty_type, board.uri)}}</span>
		{% if config.post_flags and ""|isValidFlag(post.country_code, post.country_type, board.uri) and post.country_code != "blank.gif" %}
			&nbsp; 
				{% if post.country_type == "geoip" %}
				<span class="flag-geoip flag-{{post.country_code}}"
					title="{{post.country_name}}"
				></span>
				{% else %}
				<img src="/static/flags/{{post.country_code}}"
					class="flag-custom flag-{{post.country_code}}"
					title="{{post.country_name}}"
				/>
				{% endif %}
		{% endif %}
		{% if post.mod and post.mod|hasPermission('show_ip', board.uri) %}
			 <span class="posterip">[<a href="?/IP/{{ post.ip|ipToUserRange }}">{{ post.ip }}</a>]</span>
		{% endif %}
		{% if post.mature %}
			 <span class="mature_note">Mature Content</span>
		{% endif %}
		 <time datetime="{{ post.time|date(config.datetime_date) }}{{ timezone() }}">{{ post.time|date(config.post_date) }}</time>
	 <a class="post_no permalink" href="{{ post.link }}">No.</a>
	<a class="post_no citelink"
		 href="{{ post.link }}">
		{{ post.id }}
	</a>
	{% if post.sticky %}
		<img class="icon" title="Sticky" src="{{ config.image_sticky }}" alt="Sticky" />
	{% endif %}
	{% if post.locked %}
		<img class="icon" title="Locked" src="{{ config.image_locked }}" alt="Locked" />
	{% endif %}
	{% if post.bumplocked and (config.mod.view_bumplock < 0 or (post.mod and post.mod|hasPermission('view_bumplock', board.uri))) %}
		<img class="icon" title="Bumplocked" src="{{ config.image_bumplocked }}" alt="Bumplocked" />
	{% endif %}
	{% if index %}
		<a class="threadviewlink" href="{{ post.root }}{{ board.dir }}{{ config.dir.res }}{{ config.file_page|sprintf(post.id) }}">[{% trans %}View{% endtrans %}]</a>
	{% endif %}
	{% if isnoko50 %}
		<a class="threadviewlink" href="{{ post.root }}{{ board.dir }}{{ config.dir.res }}{{ config.file_page|sprintf(post.id) }}">[{% trans %}View All{% endtrans %}]</a>
	{% endif %}
	{% if hasnoko50 and not isnoko50 %}
		{% set lastcount = config.noko50_count %}
		<a class="threadviewlink" href="{{ post.root }}{{ board.dir }}{{ config.dir.res }}{{ config.file_page50|sprintf(post.id) }}">[{% trans %}Last {{ lastcount }} Posts{% endtrans %}]</a>
	{% endif %}
	{{ post.postControls|raw }}
	</p>
	<div class="body">
		{% endapply %}{% if index %}{{ post.body|truncate_body(post.link)|raw }}{% else %}{{ post.body|raw }}{% endif %}{% apply remove_whitespace %}
	</div>
{% if not index %}
{% endif %}
</div></div></div>{% endapply %}
{% if post.omitted or post.omitted_images %}
<div class="omitted">
	{% if post.omitted %}
		{% trans %}
			1 post
		{% plural post.omitted %}
			{{ count }} posts
		{% endtrans %}
		{% if post.omitted_images %}
			 {% trans %}and{% endtrans %}
		{% endif %}
	{% endif %}
	{% if post.omitted_images %}
		 {% trans %}
			1 image reply
		{% plural post.omitted_images %}
			{{ count }} image replies
		{% endtrans %}
	{% endif %} {% trans %}omitted. Click View to see all.{% endtrans %}
</div>
{% endif %}
{% set hr = post.hr %}
{% for post in post.posts %}
	{% include 'post_reply.html' %}
{% endfor %}
<br class="clear"/>{% if hr %}<hr/>{% endif %}
</div>

