{% apply remove_whitespace %}
{# tabs and new lines will be ignored #}
<div class="postContainer replyContainer postC_{{ post.id }} postC_{{ board.uri }}-{{ post.id }}" id="replyC_{{ post.id }}" data-thread="{{ post.thread }}">
<div class="post reply{% if post.mature %} mature_post{% endif %} {% if post.political %}political_post{% endif %} post_{{ post.id }} post_{{ board.uri }}-{{ post.id }}" id="reply_{{ post.id }}" data-thread="{{ post.thread }}">

{% if not index %}<div class="jumpHandle" id="{{ post.id }}"></div>{% endif %}
<p class="intro">
	<input type="checkbox" class="delete" name="delete_{{ post.id }}" id="delete_{{ post.id }}" />
		{% if post.subject|length > 0 %}
			{# show subject #}
			<span class="subject">{{ post.subject|bidi_cleanup }}</span>
		{% endif %}
		{% if post.email|length > 0 %}
			{# start email #}
			 <a class="email namepart"
				href="{{ post.email_protocol ? post.email_protocol : 'mailto' }}:{{ post.email|url_encode }}"
				>
		{% else %}
			 <span class="namepart">
		{% endif %}
		{% set capcode = post.capcode|capcode %}
		<span {% if capcode.name %}style="{{ capcode.name }}" {% endif %}class="name">{{ post.name|bidi_cleanup }}</span>
		{% if post.trip|length > 0 %}
		<span {% if capcode.trip %}style="{{ capcode.trip }}" {% endif %}class="trip">{{ post.trip }}</span>
		{% endif %}
		{% if post.email|length > 0 %}
			{# end email #}
			</a>
		{% else %}
			</span>
		{% endif %}
		{% if capcode %}
			{{ capcode.cap|raw }}
		{% endif %}
		{% if config.poster_ids %}
			 <span class="posterid_part">(ID:
				 <span class="posterid id_{{ post.ip|poster_id(post.thread) }}">{{ post.ip|poster_id(post.thread) }}</span>)
			</span>
		{% endif %}
		<span style="display:none;">Country code: {{post.country_code}}, country type: {{post.country_type}}, valid: {{""|isValidFlag(post.country_code, post.country_type, board.uri)}}</span>
		{% if ""|isValidFlag(post.country_code, post.country_type, board.uri) and post.country_code != "blank.gif" %}
			&nbsp;
				{% if post.country_type == "geoip" %}
				<span src="/static/flags/flags.png"
					class="flag-geoip flag-{{post.country_code}}"
					title="{{post.country_name}}"
				></span>
				{% else %}
				<img src="/static/flags/{{post.country_code}}"
					class="flag-custom flag-{{post.country_code}}"
					title="{{post.country_name}}"
				/>
				{% endif %}
		{% endif %}
		{% if post.mod and post.mod|hasPermission('show_ip', board.uri) %}
			 <span class="posterip">[<a href="?/IP/{{ post.ip|ipToUserRange }}">{{ post.ip }}</a>]</span>
		{% endif %}
		{% if post.mature %}
			 <span class="mature_note">Mature Content</span>
		{% endif %}
		 <time datetime="{{ post.time|date(config.datetime_date) }}{{ timezone() }}">{{ post.time|date(config.post_date) }}</time>
	 <a class="post_no permalink" href="{{ post.link }}">No.</a>
	<a class="post_no citelink"
		 href="{{ post.link }}">
		{{ post.id }}
	</a>
	</p>
	{% if post.embed %}
		{{ post.embed }}
	{% elseif post.file == 'deleted' %}
		<img class="postimg" src="{{ config.image_deleted }}" alt="" />
	{% elseif post.file and post.file %}
		<p class="fileinfo">File: <a href="{{ post.file_uri }}">{{ post.file }}</a> <span class="morefileinfo">
		(
			{% if post.thumb == 'spoiler' %}
				Spoiler Image,
			 {% endif %}
			{{ post.filesize|filesize }}
			{% if post.filex and post.filey %}
				, {{ post.filex}}x{{ post.filey }}
				{% if config.show_ratio %}
					, {{ post.ratio }}
				{% endif %}
			{% endif %}
			{% if config.show_filename and post.filename %}
				,
				{% if post.filename|length > config.max_filename_display %}
					 <a class="post-filename" title="Save as original filename" href="{{ post.file_uri }}" download="{{ post.filename }}" data-fn-fullname="{{ post.filename|bidi_cleanup }}">{{ post.filename|truncate(config.max_filename_display)|bidi_cleanup }}</a>
				{% else %}
					 <a class="post-filename" title="Save as original filename" href="{{ post.file_uri }}" download="{{ post.filename }}">{{ post.filename|bidi_cleanup }}</a>
				{% endif %}
			{% endif %}
		)
		</span>
</p>
	<a href="{{ post.file_uri }}" target="_blank" class="thumbContainer{% if post.thumb == 'file' %} file{% elseif post.filetype == 'silentvideo' %} silentvideo{% elseif post.filetype == 'video' %} video{% endif %}">
		<img {% if post.thumb == 'file' %}
			src="{{ config.root }}
			{% if config.file_icons[post.filename|extension] %}
				{{ config.file_thumb|sprintf(config.file_icons[post.filename|extension]) }}
			{% else %}
				{{ config.file_thumb|sprintf(config.file_icons.default) }}
			{% endif %}"
			class="postimg file"
		{% elseif post.thumb == 'spoiler' %}
			src="{{ config.root }}{{ config.spoiler_image }}"
			class="postimg spoiler-image"
		{% elseif post.mature %}
			src="{{ config.root }}{{ config.mature_image }}"
			class="postimg mature-image"
		{% else %}
			src="{{ post.thumb_uri }}"
			class="postimg"
		{% endif %}
		{% if post.mature and post.thumb != 'file' and post.thumb != 'spoiler' and post.file != 'deleted' %}
		 data-mature-src="{{ post.thumb_uri }}"
		 data-mature-style="width:{{ post.thumbx }}px;height:{{ post.thumby }}px"
		 style=""
		{% else %}
		 style="width:{{ post.thumbx }}px;height:{{ post.thumby }}px"
		{% endif %}
		 alt="" />
	</a>
	{% endif %}
	{{ post.postControls|raw }}
	<div class="body">
		{% endapply %}{% if index %}{{ post.body|truncate_body(post.link)|raw }}{% else %}{{ post.body|raw }}{% endif %}{% apply remove_whitespace %}
	</div>
</div>
</div>
{% endapply %}

