{% extends "generic_page.html" %}

{% block title %}{{ board.url }} - {% if config.thread_subject_in_title and thread.subject %}{{ thread.subject }}{% else %}{{ board.title }}{% endif %}{% endblock %}

{% block main_body %}

	<div class="banner">{% trans %}Posting mode: Reply{% endtrans %}<br>
	 <a class="unimportant" href="{{ return }}">[{% trans %}Return{% endtrans %}]</a>
	 <a class="unimportant" href="{{ config.root }}{{ board.dir }}catalog.html">[{% trans %}Catalog{% endtrans %}]</a>
	 <a class="unimportant" href="javascript:toBottom();">[{% trans %}Bottom{% endtrans %}]</a>
	</div>

	{% include 'post_form.html' %}

	{% if config.blotter %}<hr /><div class="blotter">{{ config.blotter|raw }}</div>{% endif %}
	<hr />
	<form name="postcontrols" action="{{ config.post_url }}" method="post">
	<input type="hidden" name="board" value="{{ board.uri }}" />
	{% if mod %}<input type="hidden" name="mod" value="1" />{% endif %}
	{{ body|raw }}
	{% include 'report_delete.html' %}
	</form>
	<div class="endlinks">
	 <a href="{{ return }}">[{% trans %}Return{% endtrans %}]</a>
	 <a href="{{ config.root }}{{ board.dir }}catalog.html">[{% trans %}Catalog{% endtrans %}]</a>
	 <a href="javascript:toTop();">[{% trans %}Top{% endtrans %}]</a>
	</div>

{% endblock %}

