{% if mask %}
	<header><div class="subtitle"><p><a href="?/IP/{{ mask|mask_url }}">Return to IP page</a></p></div></header>
{% endif %}

<p style="text-align:center">
{% if no_system %}
	<a href="?/bans">View all bans (Currently hiding system bans)</a>
{% else %}
	<a href="?/bans_no_system">Hide system bans</a>
{% endif %}
</p>

{% if bans|count == 0 %}
	<p style="text-align:center" class="unimportant">
	{% if mask %}
		({% trans %}There are no active bans for {{ mask }}.{% endtrans %})
	{% else %}
		({% trans 'There are no active bans.' %})
	{% endif %}
	</p>
{% else %}
	<form action="" method="post">
		<table class="banlist" style="width:100%">
			<tr>
				<th>{% trans 'IP address/mask' %}</th>
				<th>{% trans 'Reason' %}</th>
				<th>{% trans 'Board' %}</th>
				<th>{% trans 'Type' %}</th>
				<th>{% trans 'Set' %}</th>
				<th>{% trans 'Duration' %}</th>
				<th>{% trans 'Expires' %}</th>
				<th>{% trans 'Open Appeals' %}</th>
				<th>{% trans 'Seen' %}</th>
				<th>{% trans 'Staff' %}</th>
				<th>{% trans 'Cookie' %}</th>
			</tr>
			{% for ban in bans %}
				<tr{% if ban.expires != 0 and ban.expires < time() %} style="text-decoration:line-through"{% endif %}>
					<td style="white-space: nowrap">
						<input type="checkbox" name="ban_{{ ban.id }}">
						<a href="?/IP/{{ ban|mask|mask_url }}">{{ ban|mask }}</a>
					</td>
					<td>
						{% if ban.reason %}
							{{ ban.reason }}
						{% else %}
							-
						{% endif %}
					</td>
					<td style="white-space: nowrap">
						{% if ban.board %}
							{{ config.board_abbreviation|sprintf(ban.board) }}
						{% else %}
							<em>{% trans 'all boards' %}</em>
						{% endif %}
					</td>
					<td style="white-space: nowrap">
						{{ ban.ban_type|ban_type_name }}
					</td>
					<td style="white-space: nowrap">
						<span title="{{ ban.set|date(config.post_date) }}">
							{{ ban.set|ago }} ago
						</span>
					</td>
					<td style="white-space: nowrap">
						{% if ban.expires == 0 %}
							-
						{% else %}
							{{ (ban.expires - ban.set + time()) | until }}
						{% endif %}
					</td>
					<td style="white-space: nowrap">
						{% if ban.expires == 0 %}
							<em>{% trans 'never' %}</em>
						{% else %}
							<time datetime="{{ ban.expires|date(config.datetime_date) }}{{ timezone() }}">
								{{ ban.expires|date(config.post_date) }}
							</time>
							{% if ban.expires > time() %}
								 <small>(in {{ ban.expires|until }})</small>
							{% endif %}
						{% endif %}
					</td>
					<td>
						{%  if ban.open_appeals %}
							<span style="color:red">{% trans 'Yes' %}</span>
						{%  else %}
							{% trans 'No' %}
						{%  endif %}
					</td>
					<td>
						{%  if ban.seen %}
							{% trans 'Yes' %}
						{%  else %}
							{% trans 'No' %}
						{%  endif %}
					</td>
					<td>
						{% if ban.username %}
							{% if mod|hasPermission('view_banstaff') %}
								<a href="?/new_PM/{{ ban.username }}">{{ ban.username }}</a>
							{% else %}
								{% if mod|hasPermission('view_banquestionmark') %}
									<em>?</em>
								{% else %}

								{% endif %}
							{% endif %}
						{% elseif ban.mod == -1 %}
							<em>system</em>
						{% else %}
							<em>{% trans 'deleted?' %}</em>
						{% endif %}
					</td>
					<td>
						{% if ban.cookie_val %}
							{{ban.cookie_val}}
						{% else %}
							-
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>

		<p style="text-align:center">
			<input type="submit" name="unban" value="{% trans 'Unban selected' %}">
		</p>
	</form>
{% endif %}

{% if count > bans|count %}
	<p class="unimportant" style="text-align:center;word-wrap:break-word">
		{% for i in range(0, (count - 1) / config.mod.banlist_page) %}
			<a href="?/bans{% if no_system %}_no_system{% endif %}{% if mask %}/{{ mask|mask_url }}{% endif %}/{{ i + 1 }}">[{{ i + 1 }}]</a>
		{% endfor %}
	</p>
{% endif %}
