{% if post and board %}
	{% set action = '?/' ~ board ~ '/ban/' ~ post %}
{% else %}
	{% set action = '?/ban' %}
{% endif %}

<form action="{{ action }}" method="post" class="banform">
	<input type="hidden" name="token" value="{{ token }}">
	{% if redirect %}
		<input type="hidden" name="redirect" value="{{ redirect }}">
	{% endif %}
	{% if post and board %}
		<input type="hidden" name="delete" value="{% if delete %}1{% else %}0{% endif %}">
	{% endif %}

	<table>
		<tr>
			<th>
				<label for="mask">{% trans 'IP' %} <span class="unimportant">{% trans '(or subnet)' %}</span></label>
			</th>
			<td>
				{% if not hide_ip %}
					<input type="text" name="mask" id="mask" size="30" maxlength="40" value="{{ mask }}">
				{% else %}
					<em>{% trans 'hidden' %}</em>
				{% endif %}
			</td>
		</tr>
		<tr>
			<th>
				<label for="reason">{% trans 'Reason' %}</label>
			</th>
			<td>
				<textarea name="reason" id="reason" rows="5" cols="30" required>{{ reason }}</textarea>
			</td>
		</tr>
		{% if mod.signed_name or mod.signed_trip %}
		<tr>
			<th>{% trans 'Signature' %}</th>
			<td>
				<label>
					<input type="checkbox" name="bansign" checked>&nbsp;
					<span class="description">Sign my name</span>
					 (<span class="namepart">
						<span class="name">{{ mod.signed_name }}</span>
						<span class="trip">{{ mod.signed_trip }}</span>
					</span>)
				</label>
			</td>
		</tr>
		{% endif %}
		{% if post and board and not delete %}
			<tr>
				<th>
					<label for="reason">{% trans 'Message' %}</label>
				</th>
				<td>
					<input type="checkbox" id="public_message" name="public_message"{% if config.mod.check_ban_message %} checked{% endif %}>
					<input type="text" placeholder="public; attached to post" name="message" id="message" size="35" maxlength="200" value="{{ config.mod.default_ban_message }}" disabled>
				</td>
			</tr>
		{% endif %}
		<tr>
			<th>
				<label for="length">{% trans 'Length' %}</label>
			</th>
			<td>
				<input type="text" placeholder="(eg. '2d1h30m' or '2 days')" name="length" id="length" size="20" maxlength="40">
			</tr>
		<tr>
			<th>{% trans 'Board' %}</th>
			<td>
				<ul style="list-style:none;padding:2px 5px">
					<li>
						<label>
							<input type="radio" name="board" value="*" checked>&nbsp;
							<em>{% trans 'all boards' %}</em>
						</label>
					</li>

					{% for board in boards %}
						<li>
							<label>
								<input type="radio" name="board" value="{{ board.uri }}">&nbsp;
								{{ config.board_abbreviation|sprintf(board.uri) }} - {{ board.title }}
							</label>
						</li>
					{% endfor %}
				</ul>
			</td>
		</tr>
		<tr>
			<th>{% trans 'Type' %}</th>
			<td>
				<ul style="padding:0 5px;list-style:none">
					<li>
						<label>
							<input type="radio" name="ban_type" value="0" checked>&nbsp;
							{% trans 'Full ban' %}
						</label>
					</li>
					<li>
						<label>
							<input type="radio" name="ban_type" value="1">&nbsp;
							{% trans 'Image ban' %}
						</label>
					</li>
					<li>
						<label>
							<input type="radio" name="ban_type" value="2">&nbsp;
							{% trans 'Thread starting ban' %}
						</label>
					</li>
				</ul>
			</td>
		</tr>
		<tr>
			<th>{% trans 'Cookie ban' %}</th>
			<td>
				<input type="checkbox" name="is_cookieban" id="is_cookieban">
				<input type="text" name="banned_cookie" id="banned_cookie" value="{{ banned_cookie }}"><br/>
				This should only be used where absolutely<br/>necessary (e.g. for frequent ban evasion)
			</td>
		</tr>
		<tr>
			<td></td>
			<td><input name="new_ban" type="submit" value="{% trans 'New Ban' %}"></td>
		</tr>
	</table>
</form>
