<fieldset>
	<legend>{% trans 'Boards' %}</legend>

	<ul>
		{% for board in boards %}
			<li>
				<a href="?/{{ config.board_path|sprintf(board.uri) }}">{{ config.board_abbreviation|sprintf(board.uri) }}</a>
					 -
				 {{ board.title }}
				{% if board.subtitle %}
					 <small>&mdash; {{ board.subtitle }}</small>
				{% endif %}
				{% if mod|hasPermission('manageboards') %}
					 <a href="?/edit/{{ board.uri }}"><small>[{% trans 'edit' %}]</small></a>
				{% endif %}
			</li>
		{% endfor %}

		{% if mod|hasPermission('newboard') %}
			<li style="margin-top:15px"><a href="?/new-board"><strong>{% trans 'Create new board' %}</strong></a></li>
		{% endif %}
	</ul>
</fieldset>

<fieldset>
	<legend>{% trans 'Messages' %}</legend>
	<ul>
		{% if mod|hasPermission('noticeboard') %}
			{% if noticeboard|count > 0 %}
				<li>
					{% trans 'Noticeboard' %}:
					<ul>
						{% for post in noticeboard %}
							<li>
								<a href="?/noticeboard#{{ post.id }}">
									{% if post.subject %}
										{{ post.subject }}
									{% else %}
										<em>{% trans 'no subject' %}</em>
									{% endif %}
								</a>
								 <small class="unimportant">
									&mdash; by&nbsp;
									{% if post.username %}
										{{ post.username }}&nbsp;
									{% else %}
										<em>deleted?</em>
									 {% endif %}
									at
									 {{ post.time|date(config.post_date) }}
								</small>
							</li>
						{% endfor %}
					</ul>
				</li>
			{% endif %}
			<li><a href="?/noticeboard">{% trans 'View all noticeboard entries' %}</a></li>
		{% endif %}
		<li><a href="?/news">{% trans 'News' %}</a></li>
		<li>
			<a href="?/inbox">
				{% trans 'PM inbox' %}
				 {% if unread_pms > 0 %}<strong>{%endif %}({{ unread_pms }} unread){% if unread_pms > 0 %}</strong>{%endif %}
			</a>
		</li>
	</ul>
</fieldset>

<fieldset>
	<legend>{% trans 'Administration' %}</legend>

	<ul>
		{% if mod|hasPermission('reports') %}
			<li>
				{% if reports > 0 %}<strong>{% endif %}
					<a href="?/reports">{% trans 'Report queue' %} ({{ reports }})</a>
				{% if reports > 0 %}</strong>{% endif %}
			</li>
		{% endif %}
		{% if mod|hasPermission('view_ban') %}
			<li>
				{% if open_appeals > 0 %}<strong>{% endif %}
					<a href="?/bans">{% trans 'Ban list' %} ({{ open_appeals }} open appeals)</a>
				{% if open_appeals > 0 %}</strong>{% endif %}
			</li>
		{% endif %}
		{% if mod|hasPermission('search') %}
			<li><a href="?/search">{% trans 'Search' %}</a></li>
		{% endif %}
		{% if mod|hasPermission('managefilters') %}
			<li><a href="/mod/filters/">{% trans 'Manage post filters' %}</a></li>
		{% endif %}
		{% if mod|hasPermission('manageusers') %}
			<li><a href="?/users">{% trans 'Manage users' %}</a></li>
		{% else %}
			<li><a href="?/users/{{ mod.id }}">{% trans 'Edit Account' %}</a></li>
		{% endif %}
		{% if mod|hasPermission('themes') %}
			<li><a href="?/themes">{% trans 'Manage themes' %}</a></li>
		{% endif %}
		{% if mod|hasPermission('modlog') %}
			<li><a href="?/log">{% trans 'Moderation log' %}</a></li>
		{% endif %}
		{% if mod|hasPermission('rebuild') %}
			<li><a href="?/rebuild">{% trans 'Rebuild' %}</a></li>
		{% endif %}
		{% if mod|hasPermission('show_config') %}
			<li><a href="?/config">{% trans 'Configuration' %}</a></li>
		{% endif %}
		<li><a href="?/front_page">{% trans 'Edit front page' %}</a></li>

	</ul>
</fieldset>

{#
<fieldset>
	<legend>{% trans 'Search' %}</legend>

	<ul>
		<li>
			<form style="display:inline" action="?/search" method="post">
				<label style="display:inline" for="search">{% trans 'Phrase:' %}</label>
				 <input id="search" name="search" type="text" size="35">
				<input type="submit" value="{% trans 'Search' %}">
			</form>
			<p class="unimportant">{% trans '(Search is case-insensitive, and based on keywords. To match exact phrases, use "quotes". Use an asterisk (*) for wildcard.)' %}</p>
		</li>
	</ul>
</fieldset>
#}

<fieldset>
	<legend>{% trans 'User account' %}</legend>

	<div>You are logged in as <strong>{{ mod.username }}</strong>
		 (<span class="staffname">
			<span class="namepart">
				<span class="name">{{ mod.signed_name }}</span>
				<span class="trip">{{ mod.signed_trip }}</span>
			</span>
		 <span class="capcode">## {{ config.mod.capcode[mod.type][0] }}</span>
		</span>)
	</div>

	<ul>
		<li><a href="?/logout">{% trans 'Logout' %}</a></li>
	</ul>
</fieldset>
