{% if sections %}
  <div class="theme-edit-msg">Select a section to edit.</div>
   <table class='modlog'>
   <tr>
     <th>Section</th>
     <th>Last edited time</th>
     <th>Last edited by</th>
   </tr>
   {% for section in sections %}
     <tr>
       <td>
         <a href="?/front_page/{{ section.name }}">{{ section.name }}</a>
       </td>
       <td>
         <span title="{{ section.last_edited_time|date('Y-m-dTH:M:S') }}{{ timezone() }}">
             {% if section.last_edited_time|ago == '0 seconds' %}
                 Just now
             {% else %}
                 {{ section.last_edited_time|ago }} ago
             {% endif %}
             {#<span title="{{ log.time|date(config.post_date) }}">{{ log.time|ago }}</span>#}
         </span>
       </td>
       <td>
         {% if section.username %}
       <a href="?/new_PM/{{ section.mod }}">{{ section.username }}</a>
       {% else %}
         <em>?</em>
       {% endif %}
       </td>
     </tr>
   {% endfor %}
   </table>
{% else %}
  <div class="unimportant">There are no editable sections.</div>
{% endif %}