<noscript>
  <div class="noscript-note">I'm pretty sure this won't work without javascript enabled.</div>
</noscript>
<form id='fileedit' method='post' action=''>
  <textarea id='fileeditarea' name='filedata'>{{ section.body }}</textarea>
  <input type="hidden" name="token" value="{{ token }}">
  <div class="top_notice">
    <small>All text is parsed with plain Markdown dialect.</small>
  </div>
  <div class="theme-save"><button type='submit' name='save' id='savefile'>Save file</button></div>
</form>
<link rel="stylesheet" type="text/css" href="/static/codemirror/codemirror.css">
<link rel="stylesheet" type="text/css" href="/static/codemirror/3024-day.css">
<script type="text/javascript" src="/static/codemirror/codemirror.js"></script>
<script type="text/javascript" src="/static/codemirror/markdown.js"></script>
<script type="text/javascript">
  var myTextArea = document.getElementById("fileeditarea");
  myTextArea.value = myTextArea.value.replace(/<br \/>/g, '\r\n');
  var myCodeMirror = CodeMirror.fromTextArea(myTextArea, {
    lineNumbers: true,
    lineWrapping: true,
    mode: 'markdown',
    viewportMargin: Infinity
  });
  document.getElementById('savefile').onclick = function() {
    myCodeMirror.save();
  };
</script>