{% if mod|hasPermission('news') %}
	<fieldset>
		<legend>{% trans 'New post' %}</legend>
		<form style="margin:0" action="" method="post">
			<table>
				<tr>
					<th>
						{% if mod|hasPermission('news_custom') %}
							<label for="name">{% trans 'Name' %}</label>
						{% else %}
							{% trans 'Name' %}
						{% endif %}
					</th>
					<td>
						{% if mod|hasPermission('news_custom') %}
							<input type="text" size="55" name="name" id="name" value="{{ mod.username }}">
						{% else %}
							{{ mod.username }}
						{% endif %}
					</td>
				</tr>
				<tr>
					<th><label for="subject">{% trans 'Subject' %}</label></th>
					<td><input type="text" size="55" name="subject" id="subject"></td>
				</tr>
				<tr>
					<th><label for="body">{% trans 'Body' %}</label></th>
					<td><textarea name="body" id="body" style="width:100%;height:100px"></textarea></td>
				</tr>
			</table>
			<p style="text-align:center">
				<input type="submit" value="{% trans 'Post news entry' %}">
			</p>
		</form>
	</fieldset>
{% endif %}

{% for post in news %}
	<div class="ban">
		{% if mod|hasPermission('news_delete') %}
			<span style="float:right;padding:2px">
				<a class="unimportant" href="?/news/delete/{{ post.id }}">[{% trans 'delete' %}]</a>
			</span>
		{% endif %}
		<h2 id="{{ post.id }}">
			<small class="unimportant">
				<a href="#{{ post.id }}">#</a>
			</small> 
			{% if post.subject %}
				{{ post.subject }}
			{% else %}
				<em>{% trans 'no subject' %}</em>
			{% endif %} 
			<small class="unimportant">
				&mdash; {% trans 'by' %} {{ post.name }} {% trans 'at' %} {{ post.time|date(config.post_date) }} 
			</small>
		</h2>
		<p>
			{{ post.body|raw }}
		</p>
	</div>
{% endfor %}

{% if count > news|count %}
	<p class="unimportant" style="text-align:center;word-wrap:break-word">
		{% for i in range(0, (count - 1) / config.mod.news_page) %}
			<a href="?/news/{{ i + 1 }}">[{{ i + 1 }}]</a> 
		{% endfor %}
	</p>
{% endif %}
