<div class="report">
	<hr>
	{% trans 'Board' %}: <a href="?/{{ report.board }}/">{{ config.board_abbreviation|sprintf(report.board) }}</a>
	<br>
	{% trans 'Reason' %}: {{ report.reason }}
	<br>
	{% trans 'Report date' %}: <time datetime="{{ report.time|date(config.datetime_date) }}{{ timezone() }}">{{ report.time|date(config.post_date) }}</time>
	<br>
	{% if mod|hasPermission('show_ip', report.board) %}
		{% trans 'Reported by' %}: <a href="?/IP/{{ report.ip|ipToUserRange }}">{{ report.ip }}</a>
		<br>
	{% endif %}
	{% if mod|hasPermission('report_dismiss', report.board) or mod|hasPermission('report_dismiss_ip', report.board) %}
		<hr>
		{% if mod|hasPermission('report_dismiss', report.board) %}
			<a title="{% trans 'Discard abuse report' %}" href="?/reports/{{ report.id }}/dismiss">Dismiss</a>
		{% endif %}
		{% if mod|hasPermission('report_dismiss_ip', report.board) %}
			{% if mod|hasPermission('report_dismiss', report.board) %}
			 |
			{% endif %}
			 <a title="{% trans 'Discard all abuse reports by this IP address' %}" href="?/reports/{{ report.id }}/dismissall">Dismiss+</a>
		{% endif %}
	{% endif %}
</div>
