<table class="modlog" style="width:auto">
	<tr>
		<th>{% trans 'ID' %}</th>
		<th>{% trans 'Username' %}</th>
		<th>{% trans 'Signature' %}</th>
		<th>{% trans 'Type' %}</th>
		<th>{% trans 'Boards' %}</th>
		{% if mod|hasPermission('modlog') %}
			<th>{% trans 'Actions' %}</th>
			<th>{% trans 'Last action' %}</th>
		{% endif %}
		<th>&hellip;</th>
	</tr>

	{% for user in users %}
		<tr>
			<td><small>{{ user.id }}</small></td>
			<td>{{ user.username }}</td>
			<td>
				{% if user.signed_name or user.signed_trip %}
					<span class="name">{{ user.signed_name }}</span>
					<span class="trip">{{ user.signed_trip }}</span>
				{% endif %}
			</td>
			<td>
				{% if user.type == constant('FOUNDER') %}{% trans 'Founder' %}
				{% elseif user.type == constant('DEVELOPER') %}{% trans 'Developer' %}
				{% elseif user.type == constant('JANITOR') %}{% trans 'Janitor' %}
				{% elseif user.type == constant('MOD') %}{% trans 'Mod' %}
				{% elseif user.type == constant('ADMIN') %}{% trans 'Admin' %}
				{% endif %}
			</td>
			<td>
				{% if user.boards == '' %}
					<em>{% trans 'none' %}</em>
				{% elseif user.boards == '*' %}
					<em>{% trans 'all boards' %}</em>
				{% else %}
					{# This is really messy, but IMO it beats doing it in PHP. #}
					{% set boards = user.boards|split(',') %}
					{% set _boards = [] %}
					{% for board in boards %}
						{% set _boards = _boards|push(board == '*' ? '*' : config.board_abbreviation|sprintf(board)) %}
					{% endfor %}
					{% set _boards = _boards|sort %}
					{{ _boards|join(', ') }}
				{% endif %}
			</td>
			{% if mod|hasPermission('modlog') %}
				<td>{{ user.actions }}</td>
				<td>
					{% if user.last %}
						<span title="{{ user.action }}">{{ user.last|ago }}</span>
					{% else %}
						<em>{% trans 'never' %}</em>
					{% endif %}
				</td>
			{% endif %}
			<td>
				{% if mod|hasPermission('modlog') %}
					 <a class="unimportant" style="margin-left:5px;float:right" href="?/log:{{ user.username|url_encode }}">[{% trans 'log' %}]</a>
				{% endif %}
				{% if mod|hasPermission('editusers') or (mod.id == user.id) %}
					 <a class="unimportant" style="margin-left:5px;float:right" href="?/users/{{ user.id }}">[{% trans 'edit' %}]</a>
				{% endif %}
				{% if mod|hasPermission('create_pm') %}
					 <a class="unimportant" style="margin-left:5px;float:right" href="?/new_PM/{{ user.username|url_encode }}">[{% trans 'PM' %}]</a>
				{% endif %}
			</td>
		</tr>
	{% endfor %}
</table>

{% if mod|hasPermission('createusers') %}
	<p style="text-align:center">
		<a href="?/users/new">Create a new user</a>
	</p>
{% endif %}
