{% set show_all_url_prefix = "?/posts/" ~ (mask|mask_url) %}
{% include 'mod/view_posts.html' %}

{% if mod|hasPermission('view_notes') %}
	<fieldset id="notes">
		<legend>
			{% set notes_on_record = 'note' ~ (notes|count != 1 ? 's' : '') ~ ' on record' %}
			{% if notes|count == config.mod.ip_range_page_max_notes %}
				&gt;{{ notes|count }} {{ notes_on_record|trans }}
				 -
				 <a href="?/notes/{{ mask|mask_url }}">{% trans 'Show all' %}</a>
			{% else %}
				{{ notes|count }} {{ notes_on_record|trans }}
			{% endif %}
		</legend>

		{% if notes|count > 0 %}
			<table class="modlog">
				<tr>
					<th>{% trans 'Staff' %}</th>
					<th>{% trans 'IP' %}</th>
					<th>{% trans 'Note' %}</th>
					<th>{% trans 'Date' %}</th>
					{% if mod|hasPermission('remove_notes') %}
						<th>{% trans 'Actions' %}</th>
					{% endif %}
				</tr>
				{% for note in notes %}
					<tr>
						<td class="minimal">
							{% if note.username %}
								<a href="?/new_PM/{{ note.username }}">{{ note.username }}</a>
							{% else %}
								<em>{% trans 'deleted?' %}</em>
							{% endif %}
						</td>
						<td class="minimal">
							{{ note|mask }}
						</td>
						<td>
							{{ note.body }}
						</td>
						<td class="minimal">
							<time datetime="{{ note.time|date(config.datetime_date) }}{{ timezone() }}">
								{{ note.time|date(config.post_date) }}
							</time>
						</td>
						{% if mod|hasPermission('remove_notes') %}
							<td class="minimal">
								<a href="?/IP/{{ note|mask|mask_url }}/remove_note/{{ note.id }}">
									<small>[{% trans 'remove' %}]</small>
								</a>
							</td>
						{% endif %}
					</tr>
				{% endfor %}
			</table>
		{% endif %}

		{% if mod|hasPermission('create_notes') %}
			<form action="" method="post" class="noteform">
				<table>
					<tr>
						<th>{% trans 'Staff' %}</th>
						<td>{{ mod.username }}</td>
					</tr>
					<tr>
						<th>
							<label for="note">{% trans 'Note' %}</label>
						</th>
						<td>
							<textarea id="note" name="note" rows="5" cols="30"></textarea>
						</td>
					</tr>
					<tr>
						<td></td>
						<td><input type="submit" value="{% trans 'New note' %}"></td>
					</tr>
				</table>
			</form>
		{% endif %}
	</fieldset>
{% endif %}

{% if bans|count > 0 and mod|hasPermission('view_ban') %}
	<fieldset id="bans">
		<legend>
			{% set bans_on_record = 'ban' ~ (bans|count != 1 ? 's' : '') ~ ' on record' %}
			{% if bans|count == config.mod.ip_range_page_max_bans %}
				&gt;{{ bans|count }} {{ bans_on_record|trans }}
				 -
				 <a href="?/bans/{{ mask|mask_url }}">{% trans 'Show all' %}</a>
			{% else %}
				{{ bans|count }} {{ bans_on_record|trans }}
			{% endif %}
		</legend>

		{% for ban in bans %}
			<div class="userbanlist">
				<table class="tableform">
					<tr>
						<th>{% trans 'Status' %}</th>
						<td>
							{% if ban.expires != 0 and ban.expires < time() %}
								{% trans 'Expired' %}
							{% else %}
								{% trans 'Active' %}
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>{% trans 'IP' %}</th>
						<td>{{ ban|mask }}</td>
					</tr>
					<tr>
						<th>{% trans 'Reason' %}</th>
						<td>
							{% if ban.reason %}
								{{ ban.reason|raw }}
							{% else %}
								<em>{% trans 'no reason' %}</em>
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>{% trans 'Signed' %}</th>
						<td>
							{% if ban.signed_name or ban.signed_trip %}
								<span class="namepart">
									<span class="name">{{ ban.signed_name ? ban.signed_name : "" }}</span>
									<span class="trip">{{ ban.signed_trip ? ban.signed_trip : "" }}</span>
								</span>
							{% else %}
								-
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>{% trans 'Board' %}</th>
						<td>
							{% if ban.board %}
								{{ config.board_abbreviation|sprintf(ban.board) }}
							{% else %}
								<em>{% trans 'all boards' %}</em>
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>{% trans 'Type' %}</th>
						<td>
							{{ ban.ban_type|ban_type_name }}
						</td>
					</tr>
					<tr>
						<th>{% trans 'Set' %}</th>
						<td>
							<time datetime="{{ ban.set|date(config.datetime_date) }}{{ timezone() }}">
								{{ ban.set|date(config.post_date) }}
							</time>
							 <small>({{ ban.set|ago }} ago)</small>
						</td>
					</tr>
					<tr>
						<th>{% trans 'Expires' %}</th>
						<td>
							{% if ban.expires %}
								<time datetime="{{ ban.expires|date(config.datetime_date) }}{{ timezone() }}">
									{{ ban.expires|date(config.post_date) }}
								</time>
								 <small>({{ ban.expires|until }} from now)</small>
							{% else %}
								<em>{% trans 'never' %}</em>
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>{% trans 'Seen' %}</th>
						<td>
							{%  if ban.seen %}
								{% trans 'Yes' %}
							{%  else %}
								{% trans 'No' %}
							{%  endif %}
						</td>
					</tr>
					<tr>
						<th>{% trans 'Staff' %}</th>
						<td>
							{% if ban.username %}
								{{ ban.username }}
							{% else %}
								<em>{% trans 'deleted?' %}</em>
							{% endif %}
						</td>
					</tr>
					<tr>
						<th>{% trans 'Appeals' %}</th>
						<td>
							<div class="appeals">
								<div>
									{% if ban.appealable %}
										This ban may be appealed.
									{% else %}
										This ban may not be appealed.
									{% endif %}
								</div>
								{% if ban.open_appeal %}
									<div>
										You must respond to the user's appeal or lock appeals in order to
										 mark this open appeal closed.
									 </div>
								{% endif %}

								{% set appeals = ban.appeals %}
								{% include 'appeals.html' %}

								<form name="appeal" action="{{ config.root }}bans/{{ ban.id }}/modappeal" method="post">
									<textarea name="body"></textarea>
									<br>
									<input type="submit" value="Submit">
									{% if ban.appealable %}
										<input type="submit" name="lock" value="Lock">
									{% else %}
										<input type="submit" name="unlock" value="Unlock">
									{% endif %}
								</form>
							</div>
						</td>
					</tr>
				</table>
				<form action="" method="post">
					<input type="hidden" name="ban_id" value="{{ ban.id }}">
					<input type="submit" name="unban" value="{% trans 'Remove ban' %}">
				</form>
			</div>
		{% endfor %}
	</fieldset>
{% endif %}

{% if mod|hasPermission('ban') %}
	<fieldset>
		<legend>{% trans 'New ban' %}</legend>
		{% set redirect = '?/IP/' ~ mask|mask_url ~ '#bans' %}
		{% include 'mod/ban_form.html' %}
	</fieldset>
{% endif %}

{% if ban_history|count > 0 and mod|hasPermission('view_banhistory') %}
	<fieldset id="banhistory">
		<legend>
			{% set bans_on_record = 'historic ban' ~ (ban_history|count != 1 ? 's' : '') ~ ' on record' %}
			{% if ban_history|count == config.mod.ip_range_page_max_banhistory %}
				&gt;{{ ban_history|count }} {{ bans_on_record|trans }}
				 -
				 <a href="?/banhistory/{{ mask|mask_url }}">{% trans 'Show all' %}</a>
			{% else %}
				{{ ban_history|count }} {{ bans_on_record|trans }}
			{% endif %}
		</legend>

		<form> {# This is silly, but the form tag triggers certain styles that we want to apply to this table. #}
			<table class="banlist" style="width:100%">
				<tr>
					<th>{% trans 'IP address/mask' %}</th>
					<th>{% trans 'Status' %}</th>
					<th>{% trans 'Reason' %}</th>
					<th>{% trans 'Board' %}</th>
					<th>{% trans 'Type' %}</th>
					<th>{% trans 'Set' %}</th>
					<th>{% trans 'Duration' %}</th>
					<th>{% trans 'Expires' %}</th>
					<th>{% trans 'Seen' %}</th>
					<th>{% trans 'Staff' %}</th>
				</tr>
				{% for ban in ban_history %}
					<tr>
						<td style="white-space: nowrap">
							<a href="?/IP/{{ ban|mask|mask_url }}">{{ ban|mask }}</a>
						</td>
						<td>
							{% if ban.status == constant('BAN_STATUS_ACTIVE') %}
								{% trans 'Active' %}
							{% elseif ban.status == constant('BAN_STATUS_EXPIRED') %}
								{% trans 'Expired' %}
							{% elseif ban.status == constant('BAN_STATUS_LIFTED') %}
								{% trans 'Lifted on ' %}
								<time datetime="{{ ban.lifted|date(config.datetime_date) }}{{ timezone() }}">
									{{ ban.lifted|date(config.post_date) }}
								</time>
							{% endif %}
						</td>
						<td>
							{% if ban.reason %}
								{{ ban.reason }}
							{% else %}
								-
							{% endif %}
						</td>
						<td  style="white-space: nowrap">
							{% if ban.board %}
								{{ config.board_abbreviation|sprintf(ban.board) }}
							{% else %}
								<em>{% trans 'all boards' %}</em>
							{% endif %}
						</td>
						<td style="white-space: nowrap">
							{{ ban.ban_type|ban_type_name }}
						</td>
						<td style="white-space: nowrap">
							<span title="{{ ban.set|date(config.post_date) }}">
								{{ ban.set|ago }} ago
							</span>
						</td>
						<td style="white-space: nowrap">
							{% if ban.expires == 0 %}
								-
							{% else %}
								{{ (ban.expires - ban.set + time()) | until }}
							{% endif %}
						</td>
						<td style="white-space: nowrap">
							{% if ban.expires == 0 %}
								<em>{% trans 'never' %}</em>
							{% else %}
								<time datetime="{{ ban.expires|date(config.datetime_date) }}{{ timezone() }}">
									{{ ban.expires|date(config.post_date) }}
								</time>
								{% if ban.expires > time() %}
										<small>(in {{ ban.expires|until }})</small>
								{% endif %}
							{% endif %}
						</td>
						<td>
							{%  if ban.seen %}
								{% trans 'Yes' %}
							{%  else %}
								{% trans 'No' %}
							{%  endif %}
						</td>
						<td>
							{% if ban.username %}
								{% if mod|hasPermission('view_banstaff') %}
									<a href="?/new_PM/{{ ban.username }}">{{ ban.username }}</a>
								{% else %}
									{% if mod|hasPermission('view_banquestionmark') %}
										<em>?</em>
									{% else %}

									{% endif %}
								{% endif %}
							{% elseif ban.mod == -1 %}
								<em>system</em>
							{% else %}
								<em>{% trans 'deleted?' %}</em>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</table>
		</form>
	</fieldset>
{% endif %}
