{% extends "generic_page.html" %}

{% block title %}{{ board.url }} - {{ board.title }} - Catalog{% endblock %}

{% block header %}
<header>
	<h1>{{ board.url }} - {{ board.title }}</h1>
	<div class="subtitle">
		Catalog
		{% if mod %}<p><a href="?/">{% trans %}Return to dashboard{% endtrans %}</a></p>{% endif %}
	</div>
</header>
{% endblock %}

{% block main_body %}

	{% if config.blotter %}<hr /><div class="blotter">{{ config.blotter|raw }}</div>{% endif %}
	<hr />

	<div class="catalog">
	{% for post in threads %}
		<div class="catathread{% if post.mature %} mature_thread{% endif %}">
			<a class="catalink" href="{{post.linkauto}}">
{% if post.file and post.thumb %}
		<img src="{% apply remove_whitespace %}
		{% if post.file == 'deleted' %}
			{{ config.image_deleted }}
		{% elseif post.thumb == 'spoiler' %}
			{{ config.root }}{{ config.spoiler_image }}
		{% elseif post.mature %}
			{{ config.root }}{{ config.mature_image }}
		{% else %}
			{{ post.thumb_uri }}
		{% endif %}
		{% endapply %}"
		{% if post.mature and post.thumb != 'file' and post.thumb != 'spoiler' and post.file != 'deleted' %}
		 data-mature-src="{{ post.thumb_uri }}"
		 data-mature-style="width:{{ post.thumbx }}px;height:{{ post.thumby }}px"
		 style=""
		{% else %}
		 style="width:{{ post.thumbx }}px;height:{{ post.thumby }}px"
		{% endif %}
		 class="catalogthumb"
		 alt="">
{% else %}
		(No image)
{% endif %}
			</a>
			<div class="catacount">{% trans %}1 reply{% plural post.reply_count %}{{ count }} replies{% endtrans %}</div>
			<div class="catapreview">
				{% if post.subject %}<span class="catasubject">{{ post.subject }}</span> {% endif %}{{ post.body|raw }}
			</div>
		</div>
	{% endfor %}
	</div>

	<hr/>

{% endblock %}
