/**
 * aloe-and-lotus
 *
 * Created on 3/27/2015
 * Ported from old Ponychan. Originally written by Rellek
 *
 *
 */
/* Imports */
@import "common/pony-kusaba.css?t=1516991469";
@import "common/bubble-buttons.css?t=1516991469";
@import "common/serif.css?t=1516991469";

/* Fonts */
@font-face {
	font-family: 'Ubuntu';
	src:  url(font/ubuntu.woff) format('woff');
}
@font-face {
	font-family: 'Muli';
	src:  url(font/muli.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	src:  url(font/open-sans.woff) format('woff');
}

body {
	background: url(img/aloe-and-lotus/bg.png)
				bottom 100px right 30px no-repeat,
		radial-gradient( at bottom 270px right 230px,
			rgb(215, 240, 238),
			rgb(205, 241, 255),
			rgb(156, 226, 255));
}

/* All links, including the ref-links inside the post body. */
a, a:visited, a.bodylink, .banner a, .banner a:visited, .banner a:hover {
	color: rgb(5, 146, 196);
}

/* Mouse over link */
a:hover a.bodylink:hover {
	color: rgb(126, 201, 229);
	text-shadow: 0 0 1px rgb(182, 232, 243);
}

/* Set the border here */
input[type=text], input[type=password], textarea {
	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(194, 208, 215);
}

/* What color do you want the border to glow here */
input[type=text]:focus, input[type=password]:focus, textarea:focus {
	border: 2px solid rgb(178, 190, 196);
}
hr, fieldset {
	border-color: rgb(161, 208, 231);
}
/* Table headers, including the post form */
/* as well as many staff dashboard headers */
th {
	font-family: "Open Sans", sans-serif;
	letter-spacing: 1px;
	background-color: rgb(61, 162, 216);
	color: rgb(251, 251, 248);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.30);
}

/* -- Setting the common color scheme -- */
/* Heading colors */
h1, h2, h3, h4, h5, h6, header h1, .heading {
	color: rgb(244, 178, 209);
}

/* Head bar backgrounds */
.top, #qrmove, .ban h2 {
	background-color: rgb(219, 98, 166);
	color: rgb(232, 240, 238);
}

/* Head bar links */
.top a, .top a:visited, #qrmove a, #qrmove a:visited {
	color: white;
}

/* Head bar links on hover */
.top a:hover, #qrmove a:hover, .top .boardlistactive, .top .boardlistactive:visited {
	color: rgb(255, 221, 243);
}

/* Block items */
.reply, .help-details, .help-details, #watcherScreen, .post-hover, .pages, .catathread, #updateSettings, #settingsScreen {
	background-color: rgb(255, 211, 231);
}

/* -- Navigation bar -- */
.top a:hover {
	background-color: rgb(167, 97, 201);
}

/* set the border-color property to show that the button is 'lit' */
.top .boardlistactive, .watcherButton.open {
	border-color: rgb(255, 221, 243);
}

/* Color of the 'home' link */
.top a[href="/"] {
	color: rgb(255, 218, 252);
}

/* Toggle links on the right */
.top .watcherButton, .top .settingsButton {
	color: rgb(225, 224, 241);
}
/* Settings page */
#settingsScreen {
	background: rgb(251, 255, 253)
	linear-gradient(to bottom,
			rgb(239, 237, 238),
			rgb(220, 219, 216));
}
/* Settings headers */
#settingsScreen h1, #settingsScreen h2 {
	/* Color */
	font-family: "Open Sans", sans-serif;
	color: rgb(32, 141, 200);
	text-shadow: 1px 1px 2px rgba(255,255,255,0.2);
}

/* Watcher frame. Set a bright border. */
#watcherScreen {
	border: 2px solid rgb(255, 237, 246);
}

/* the color of 'by' in watcher */
.wname:before {
	/* The element is always there. If no nickname is given, it'll leave
		you an empty element. */
	color: #e4d2de;
}

/* -- Board Page header -- */
/* Board headline */
body > header h1 {
	font-family: Georgia, Times, 'Times New Roman', serif;
	text-shadow: 0.05rem 0.05rem 0.1rem rgb(54, 10, 90);
}

/* Board description */
body > header .subtitle {
	color: white;
	text-shadow: 0.05rem 0.05rem 0.1rem rgba(0,0,0,0.7);
	font: bold 130% "Adobe Caslon Pro", Times, 'Times New Roman', serif;
}

/* 'Posting mode: reply' bar */
div.banner {
	background-color: rgb(77, 167, 201);
}

/* -- Post form -- */
/* 'Open the Quick reply dialog' */
/* Make a good button out of this. */
#qrDisplayButton {
	color: rgb(62, 174, 229);
	text-transform: lowercase;
	background-color: rgb(205, 241, 255);
	border: 1px solid rgb(61, 162, 216);
	margin: 2em;
	padding: 0.3em 1em;
	border-radius: 0.4rem;
	position: relative;
	top: 0.5em;
}
#qrDisplayButton:hover {
	color: rgb(57, 151, 200);
	background-color: rgb(226, 248, 255);
	box-shadow: 0 0 0.2rem rgba(0,0,0,0.3);
}
form[name="post"] th, .reply, .pages {
	border-radius: 0.1rem 0.3rem 0.5rem 0.3rem;
}

/* Staff notice */
.blotter {
	color: rgb(39, 95, 128);
	font: normal 110%/120% 'Muli', sans-serif;
	border: 1px solid rgb(225, 128, 175);
	padding: 0.5em;
	background: rgb(255, 233, 238) linear-gradient(to bottom, rgba(255,255,255,0.2), transparent);
}

/* -- Posts -- */
.reply {
	border-style: solid;
	border-color: rgb(200, 119, 176);
}
.wthread, .post-hover {
	padding: 3px;
}
.post-hover, .hashtag {
	border-color: rgb(131, 97, 125);
	background-color: rgb(255, 211, 231);
}
.hashtag {
	padding: 0.2em 0.9em;
}

.subject, .wsubject {
	color: rgb(68, 113, 183);
}

.name, .email .name, .email:hover .name, .wname {
	color: rgb(42, 95, 190);
}

.email {
	border-color: rgb(46, 159, 221);
	/* change the underline color. */
}

.trip, .wtrip {
	color: rgb(86, 131, 141);
}

a.post_no {
	/* Make this a deeper color than most links */
	color: rgb(105, 155, 181);
}

a.post_no:hover {
	color: rgb(127, 182, 207);
}
.fileinfo {
	font-family: 'Book Antiqua', 'Palatino', 'Palatino Linotype',
				 'Palatino LT STD', serif;
}
.reply.highlighted {
	/* Makes all borders solid. */
	background-color: rgb(255, 226, 242);
}
.post-inline {
	/* 	as nesting iterations approach infinity,
	 	what background color does it approach? */
	background-color: rgba(255,255,255,0.1);
}

.quote {
	color: rgb(178, 27, 126);
	text-shadow: 1px 1px 1px rgba(255,255,255, 0.20);
}
.omitted, .toolong {
	color: rgb(84, 100, 150);
	text-shadow: 1px 1px 2px rgba(255,255,255,0.2);
}

/* Footer */
.boardlist.bottom {
	color: inherit;
}


.wname:before {
	color: rgb(255, 228, 239);
}

/* The color of the ban page table */
.ban {
	border-color: rgb(70, 153, 227);
}

/* Page numbers */
.pages {
	color: rgb(171, 149, 159);
}
/* homepage */
.homepage > header h1 {
	color: rgb(227, 126, 174);
	text-shadow: 	1px 1px 1px rgb(234, 132, 181),
	0 0 16px rgb(251, 239, 248);
}
.homepage hr {
	border-top: 2px solid rgb(71, 154, 227);
}
.homepage .subtitle {
	color: white;
	text-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.4);
	font-size: 180%;
}
.homeblock {
	border: 2px solid rgb(72, 155, 227);
	line-height: 140%;
	margin-top: 2em;
}
.homeblock h2 {
	color: rgb(153, 106, 186);
}
.homeblock h3 {
	color: rgb(153, 106, 186);
}
.homeblock .unimportant {
	font-family: "Lucida Console", "Monaco", "DejaVu Sans Mono", monospace;
	text-transform: uppercase;
}
.help-bubble {
	background-color: rgb(61, 161, 215);
}
