/**
 * NAME
 *
 * australian.css - A spartan design for mlpchan.net
 *
 * COLOUR SCHEME
 *
 * From http://colorschemedesigner.com/#0C61Teeqaw0w0
 *
 * SOURCE CODE
 *
 * Available at https://gist.github.com/RogerDodger/24483ecc752334735035
 *
 * AUTHOR
 *
 * RogerDodger <roger.dodger.pony@gmail.com>, last modified 27 Jul 2013.
 *
 * COPYING
 *
 * This document is free software. It comes without any warranty, to
 * the extent permitted by applicable law. You can redistribute it
 * and/or modify it under the terms of the Do What The Fuck You Want
 * To Public License, Version 2, as published by Sam Hocevar. See
 * http://sam.zoy.org/wtfpl/COPYING for more details.
 */
/*
 * 1. Change to inherit when this becomes config option
 */
@import "common/bw-spoilers.css?t=1518146083";
body {
  background-color: #e8c39a;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8c39a), color-stop(100%, #d0a574));
  background-image: -webkit-linear-gradient(bottom, #e8c39a, #d0a574);
  background-image: linear-gradient(to top,#e8c39a, #d0a574);
  background-size: auto 30em;
  color: #222;
  /* 1 */
  font-family: serif;
  font-size: 16px;
  line-height: 1.25; }

header h1 {
  color: #000;
  font-size: 3em;
  line-height: 1;
  font-family: inherit; }
header div.subtitle {
  color: #222;
  font-size: 1em; }

h2 {
  color: #444;
  font-size: 1.5em; }

h3 {
  color: #000;
  font-size: 1.2em; }

hr,
.thread hr {
  border-top: 0.07em solid #d0a574; }

.thread hr {
  margin: 1em 0; }

div.banner {
  background: transparent;
  color: inherit; }

div.pages {
  background: transparent;
  border: none;
  color: #444; }

.boardlist {
  font-size: 0.9em; }

.boardlist.top {
  padding: 0; }
  .boardlist.top .boardlistpart a,
  .boardlist.top .boardlistpart a:visited,
  .boardlist.top .boardlistpart a[href="/"] {
    font-family: sans-serif;
    font-size: 16px;
    letter-spacing: 0.05em;
    padding: 0.6em 0.3em; }
  .boardlist.top .boardlistpart a.boardlistactive {
    background: transparent;
    border-top: 0.3em solid #aaa;
    padding-top: 0.3em; }
  .boardlist.top .boardlistpart a:hover {
    background: transparent;
    border-bottom: 0.3em solid #aaa;
    padding-bottom: 0.3em; }
  .boardlist.top .boardlistpart a[href="/"]:hover {
    border-bottom: 0.3em solid transparent; }

.boardlist.bottom {
  color: #444; }

.unimportant,
.unimportant * {
  font-size: 11px; }

div.blotter {
  color: inherit; }

a,
a:visited,
a.bodylink,
div.banner a,
#qrDisplayButton {
  color: #873826;
  text-decoration: none; }
  a:hover,
  a:visited:hover,
  a.bodylink:hover,
  div.banner a:hover,
  #qrDisplayButton:hover {
    color: #cb6048; }

p.intro a.post_no:hover {
  color: #cb6048; }
p.intro span.subject {
  color: #000; }
.name,
p.intro span.name,
p.intro a.email span.name,
p.intro a.email:hover span.name {
  color: #435963; }
p.intro a.email span.name {
  border-bottom: 0.07em dotted #194355; }
p.intro span.trip,
p.intro span.name {
  font-size: 1.1em; }

.fileinfo {
  font-size: 0.9em; }

div.post .body {
  max-width: 66em; }

div.post.reply, .help-details,
div.homeblock {
  background: #e8cdaf;
  border: 0.07em solid #d0a574;
  border-top-left-radius: 0.3em;
  padding-right: 1em; }

div.post.reply.highlighted {
  background: #f1e1cf; }

span.trip {
  color: #4c7383; }

span.quote {
  color: #c66b56; }

.hashtag {
  background: #e8d8af;
  border: 0.07em solid #d0b674;
  border-radius: 0.3em;
  box-shadow: 0.07em 0.07em 0.07em #876c26;
  color: inherit;
  margin: 0 0.15em; }

.hidetext {
  background: rgba(255, 255, 255, 0.2);
  border: 0.07em solid #d0a574;
  padding: 0.6em;
  margin: 0;
  width: 100%; }

form[name="post"] table,
form[name="editpost"] table {
  padding: 0.5em 0; }
form[name="post"] table tr th,
form[name="editpost"] table tr th {
  background: transparent;
  padding: 0 0.7em;
  text-align: right; }
form[name="post"] input[type="text"],
form[name="post"] input[type="password"],
form[name="post"] textarea,
form[name="editpost"] input[type="text"],
form[name="editpost"] input[type="password"],
form[name="editpost"] textarea {
  border: 0.1em solid #d0a574;
  border-radius: 0.3em;
  padding: 0.2em; }
form[name="post"] input[type="text"],
form[name="editpost"] input[type="text"] {
  width: 20em; }
form[name="post"] textarea,
form[name="editpost"] textarea {
  height: 15em;
  min-height: 15em;
  min-width: 40em;
  width: 40em; }
.help-bubble {
  background-color: rgb(198, 161, 122);
}
