@import 'common/pony-kusaba.css';

@font-face {
	font-family: 'Galindo';
	font-style: normal;
	font-weight: 400;
	src: local('Galindo'),
	     local('Galindo-Regular'),
		 url(font/galindo.woff) format('woff');
}
/* body */
body {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	background: #902e2e;
}

body, body a,
header h1, .delete,
header .subtitle,
.pages, .boardlistpart{color: #FDBC60 !important;}

/* titles&banners */
header h1, h1 {
	font-family: 'Galindo', Rockwell, serif;
	text-shadow: 2px 2px black
}
h2, #settingsScreen h1 {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	color:  #902e2e !important;
}

.banner, .blotter	{
  background: #377c25 !important; 
  border-radius: 10px;
  color: #FDBC60 !important;
}

/* navbar */
.top a.boardlistactive,
.top .boardlistpart a:hover,
a.watcherButton.open{
  	border-top: solid #1DB724 !important;
  	background: inherit !important;
}
div.pages            {background: none; border: none;}
#settingsScreen h1	 {color: white; text-shadow: none;}
.boardlist.top       {background: #377c25;}
.top .boardlistpart a{border-top: solid #377c25; margin: 0px !important;}
.top .boardlistpart a:hover{border-top: solid #1DB724;}
.top a.boardlistactive, a.watcherButton.open {
  background: #377c25 !important;
  border-top: solid #1DB724 !important; 
  padding-top: 6px !important;
}

/* postarea */
form[name="post"] table tr th, th{
	background: #ce4232;
	border-radius: 5px;
}
.help-bubble {
	background-color: rgb(241, 128, 115);
}
form textarea,
input[type=text],
input[type=password]
					{border-color: #dda660;}
form textarea:focus,
form input[type=text]:focus,
form input[type=password]:focus
					{border-color: #fdbc60;}

/* threads */
.thread, .reply,
#settingsScreen, #watcherScreen{
  background: #DDA660;
  border: none !important;
  border-radius: 10px;
  padding: 10px;
  color: black !important;
}

.thread a, #watcherScreen a, .settings-close-button{
  color: #c80024 !important;
  transition: color 0.5s!important;
}

.thread a:hover, 
#watcherScreen a:hover, .settings-close-button:hover {color: #ff0024 !important;}
.reply, .wthread, .help-details {
  background: #FDBC60 !important;
  color: black !important;
}
hr					        {border:none;}
.thread             {margin-bottom: 25px;}

div.highlighted,
div.post-inline,
div.post-hover, div#watcherScreen		       {border: solid #377c25 1px !important;}
/* text decorations */
a.email                                    {border-color: #378432;}
.omitted                                   {color: grey;}
span.quote, .trip, .wtrip                  {color: #37a144 }
.name, .wname, .subject, .wsubject         {color: #378432 !important;}
.homeblock > h2 {
	color: white;
}
.orangetext {
	color: #b61a1a;
}
