@import "common/pony-kusaba.css?t=1516991469";
@import "common/serif.css?t=1516991469";
/* original design pfftlol */
/* crysalis font face */
/*@font-face               {font-family:chrysalis;src:url("http://www.ponychan.net/chan/css/images/chrysalis/black.ttf");}*/
html                     {background: #222;}
body                     {background: #222 url(img/changeling/bg.png) right center / 25% no-repeat fixed}
body, h1, .subtitle,
.blotter, .homepage h2   {color: #68A !important;}
hr, .thread hr           {border: 1px solid #111;}
/* links */
a, a:visited,
p.intro a.email span.name,
a.bodylink, a.bodylink:visited{
	color: #DFF;
	transition: color .5s, text-shadow .5s;
	text-decoration: none;
}
a:hover, a.bodylink:hover,
p.intro a.post_no:hover,
p.intro a.email:hover,
p.intro a.email:hover span.name
{color: #4F4; text-shadow: 0 0 2px #0F0}
/* names/trips/etc */
.name, p.intro span.name         {color: #5A5; font-weight: bold;}
span.trip                 {color: #9C9; font-style: italic;}
p.intro a.email span.name {border-bottom: 1px dashed;}
span.quote                {color: #ACF;}
body.boardpage header h1, #settingsScreen h1{
	text-shadow: 0 0 5px #68A;
	background: 0;
}
/* Navbar and settings */
#settingsScreen h1, #settingsScreen h2  {color: #ADF;}
.boardlist.top .watcherButton.open      {border-color: #4F4; background: #445469}

div.boardlist.top, #settingsScreen,
form[name="post"] th      {background: #445469; color: #68A;}
.boardlist.top .boardlistpart a.boardlistactive{
	background: #445469;
	padding: 6px;
}
.help-bubble {
	background-color: rgb(68, 84, 105);
}
.boardlist.top .boardlistpart a,
.boardlist.top .boardlistpart a:visited{
	color: #68A;
	border-top: solid #68A;
	margin: 0px;
}
.boardlist.top .boardlistpart a:hover,
.boardlist.top .boardlistpart a.boardlistactive:hover{
	background: #7A9;
	border-color: #4F4;
	color: #4F4;
}
/* watched threads box*/
.wtop a, .wtop a:visited  {color: #DFF; transition: color .5s, text-shadow .5s;}
.wtop a:hover             {color: #4F4;}
.wname                    {color: #5A5; font-weight: bold;}
.wtrip                    {color: #9C9; font-style: italic;}
/* post area */
textarea{
	background: black;
	background-size: contain;
	color: #AFA;
	border-color: black;
}
input[type="text"], input[type="password"]{
	color: #AFA;
	background-color: black;
	border-color: black;
}
form[name="post"] table tr th{
	border: solid #68A;
	border-width: 0px 3px;
}
/* threads */
div.post.reply, .help-details       {background: #191919; border: none;}
a.postlink                   {text-decoration: none;}
div.pages                    {background: inherit;border: inherit;color: inherit;}
div.pages a.selected         {color: #7F7;}
.op .fileinfo, .intro time   {color: #456;}
div.hidetext                 {background-color: inherit; border: 1px solid #68A;}
span.heading                 {color: #68A; text-shadow: 0 0 2px #68A;}
p.intro span.subject{
	color: #7F7;
	text-shadow: 0 0 5px #0F0;
}
div.post.reply.highlighted,
div.post.reply.post-inline
{
	background: #191919;
	border-width: 0px 0px 0px 9px;
	border-style: solid double !important;
	box-shadow: none !important;
}
div.banner                   {background: none; color: inherit}
div.banner a                 {color: #DFF;}
/* qr box and buttons */
a#qrDisplayButton            {color: #DFF;}
a#qrDisplayButton:hover      {color: #4F4; text-shadow: 0 0 2px #0F0;}
#qr{
	padding: 0px;
	border: 2px solid #68A;
}
#qrform                      {background: #68A;}
