/**
 * cheerilee.css
 *
 * Created on 4/1/2015
 * Ported from old Ponychan. Originally written by Spittie
 *
 *
 */

/* Imports */
@import "common/pony-kusaba.css?t=1516991469";
@import "common/bubble-buttons.css?t=1516991469";
@import "common/serif.css?t=1516991469";


/* Fonts */
@font-face {
	font-family: 'Ovo';
	src:  url(font/ovo.woff) format('woff');
}
@font-face {
	font-family: 'Muli';
	src:  url(font/muli.woff) format('woff');
}

body {
	background: url(img/cheerilee/cm.png)
		bottom 2em right 3em / 40% no-repeat,
	repeating-linear-gradient(-45deg,
			rgb(246, 226, 237),
			rgb(246, 231, 239)
			10px );
}

/* All links, including the ref-links inside the post body. */
a, a:visited, a.bodylink, .banner a, .banner a:visited, .banner a:hover {
	color: rgb(64, 117, 150);
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.29);
}
	/* Mouse over link */
a:hover, a.bodylink:hover {
color: rgb(64, 137, 119);
}

/* Set the border here */
input[type=text], input[type=password], textarea {
	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(223, 191, 209);
}

/* What color do you want the border to glow here */
input[type=text]:focus, input[type=password]:focus, textarea:focus {
	border: 2px solid rgb(112, 164, 93);
}
hr {
	border-style: dashed none none !important;
}
hr, fieldset, .thread hr {
	border: 1px dashed rgb(226, 167, 221);
}
/* Table headers, including the post form */
/* as well as many staff dashboard headers */
th {
	font-family: "Ovo", sans-serif;
	background-color: rgb(173, 67, 140);
	color: rgb(251, 251, 248);
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.30);
}



/* -- Setting the common color scheme -- */
/* Heading colors */
h1, h2, h3, h4, h5, h6, header h1, .heading {
	font-family: "Ovo", serif;
	color: rgb(14, 14, 14);
}
header h1 {
	font-size: 3em;
}

/* Head bar backgrounds */
.top, #qrmove, .ban h2 {
	background-color: rgb(199, 144, 184);
	color: rgb(226, 214, 224);
}

/* Head bar links */
.top a, .top a:visited, #qrmove a, #qrmove a:visited {
	color: rgb(242, 213, 228);
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5)
}

/* Head bar links on hover */
.top a:hover, #qrmove a:hover, .top .boardlistactive, .top .boardlistactive:visited {
	color: rgb(203, 228, 179);
}

/* Block items */
.reply, dialog, .help-details, #watcherScreen, .post-hover, .pages, .catathread, #updateSettings, #settingsScreen {
	background-color: rgb(235, 226, 234);
}



/* -- Navigation bar -- */
.top a:hover {
	background-color: rgb(204, 109, 166);
}

/* set the border-color property to show that the button is 'lit' */
.top .boardlistactive, .watcherButton.open {
	border-color: rgb(229, 201, 160);
	box-shadow: inset 0 0 1em rgba(0,0,0,0.2);
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

/* Color of the 'home' link */
.top a[href="/"] {
	color: rgb(244, 227, 230);
}

/* Toggle links on the right */
.top .watcherButton, .top .settingsButton {
	color: rgb(244, 228, 228);
}
/* Settings page */
#settingsScreen {
	background: rgb(251, 255, 253)
	linear-gradient(to bottom,
			rgb(239, 237, 238),
			rgb(220, 219, 216));
}
/* Settings headers */
#settingsScreen h1, #settingsScreen h2 {
	/* Color */
	color: rgb(109, 163, 90);
	text-shadow: 1px 1px 2px white;
}

/* Watcher frame. Set a bright border. */
#watcherScreen {
	border: 2px solid rgb(255, 237, 246);
}

/* the color of 'by' in watcher */
.wlinkpart + .wname:before {
	/* The element is always there. If no nickname is given, it'll leave
		you an empty element. */
	color: #efd4e2;
}

/* -- Board Page header -- */
/* Board headline */
body > header h1 {
	text-shadow: 0.05rem 0.05rem 0.1rem rgba(255,255,255,0.5);
}

/* Board description */
body > header .subtitle {
	color: gray;
	text-shadow: 0.05rem 0.05rem 0.1rem rgba(255, 255, 255, 0.70);
}

/* 'Posting mode: reply' bar */
div.banner {
	background-color: rgb(243, 234, 167);
}

/* -- Post form -- */
.help-bubble {
	background-color: rgb(173, 67, 140);
}
/* 'Open the Quick reply dialog' */
/* Make a good button out of this. */
#qrDisplayButton {
	color: rgb(120, 48, 94);
	text-transform: lowercase;
	background-color: rgb(238, 212, 218);
	border: 1px solid rgb(173, 67, 140);
	margin: 2em;
	padding: 0.3em 1em;
	border-radius: 0.4rem;
	position: relative;
	top: 0.5em;
}
#qrDisplayButton:hover {
	color: rgb(87, 39, 66);
	background-color: rgb(246, 220, 226);
	box-shadow: 0 0 0.2rem rgba(0,0,0,0.3);
}
form[name="post"] th, .reply, .pages {
	padding: 0.2rem;
	border-radius: 0.3rem;
}

/* Staff notice */
.blotter {
	padding: 0.5em;
	border: 2px solid rgb(81, 20, 60);
	border-radius: 0.5rem;
	background-color: white;
}

/* -- Posts -- */
.reply {
	border-style: solid;
	border-width:2px;
	border-color: rgb(206, 187, 202)
}
.wthread, .post-hover {
	padding: 3px;
}
.post-hover, .hashtag {
	border-color: rgb(76, 19, 56);
	background-color: rgb(244, 212, 235);
}
.hashtag {
	padding: 0.2em 0.9em;
}

.subject, .wsubject {
	font-family: "Ovo", serif;
	color: rgb(208, 18, 145);
	text-shadow: 1px 1px 2px rgba(255,255,255,0.3);
}

.name, .email .name, .email:hover .name, .wname {
	font: bold 90% "Muli", sans-serif;
	color: rgb(38, 104, 107);
}

.email {
	border-color: rgb(60, 166, 171)
	/* change the underline color. */
}

.trip, .wtrip {
	color: rgb(58, 151, 156);
}

a.post_no {
	/* Make this a deeper color than most links */
	color: rgb(77, 26, 65);
}

a.post_no:hover {
	color: rgb(121, 80, 108);
}
.reply.highlighted {
	/* Makes all borders solid. */
	background-color: rgb(241, 209, 239);
}
.post-inline {
	/* 	as nesting iterations approach infinity,
	 	what background color does it approach? */
	background-color: rgba(255,255,255,0.1);
}

.quote {
	color: rgb(45, 131, 62);
	text-shadow: 1px 1px 1px rgba(255,255,255, 0.30);
}
.omitted, .toolong {
	color: rgb(148, 96, 125);
	text-transform: uppercase;
	font-family: "Arial Narrow", sans-serif;
	text-shadow: 1px 1px 2px white;
}

/* Footer */
.boardlist.bottom {
	color: inherit;
}


/* The color of the ban page table */
.ban {
	border-color: rgb(204, 115, 158);
}

/* Page numbers */
.pages {
	color: rgb(171, 149, 159);
}
/* homepage */
.homepage > header h1 {
	color: rgb(243, 234, 167);
	text-shadow: 	1px 1px 1px rgb(124, 97, 19),
	0 0 16px rgba(0, 0, 0, 0.2);
}
.homepage hr {
	border-top: 2px solid rgb(204, 116, 159);
}
.homepage .subtitle {
	/*text-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0,0.4);*/
	font-size: 180%;
}
.homeblock {
	border: 2px solid rgb(204, 117, 160);
	line-height: 140%;
	margin-top: 2em;
}
.homeblock h2 {
	color: rgb(153, 87, 119);
}
.homeblock h3 {
	color: rgb(76, 54, 94);
}
.homeblock > h2 {
	font-size: 150%;
	color: rgb(76, 54, 94);
}
.homeblock > h2 + div {
	/* The body container */
	margin-top: 1em;
}
.homeblock .unimportant {
	font-family: "Lucida Console", "Monaco", "DejaVu Sans Mono", monospace;
	text-transform: uppercase;
}
