/**
 * colgate.css
 *
 * Created on 2/8/2015
 * Here lies old Ponychan's original default theme.
 * Originally written by Orange.
 *
 */

@import "common/pony-kusaba.css?t=1516991469";
@import "common/serif.css?t=1516991469";


/* Indiscriminate tags */
body {
    background: #e8e8ff;
}
a, a:visited, a:active, .bodylink, .banner a, .banner a:visited, .banner a:hover {
    color: #0010B0;
}
a:hover, .bodylink:hover {
    color: #35E;
}
input[type=text], input[type=password], textarea {
    border: 1px solid #90a0d0;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
    border: 1px solid #0020c0;
}
/* Setting the color scheme */
h1, h2, h3, h4, h5, h6, header h1, .heading {
    color: #000080;
}

.boardlist.top, #qrmove, #updateSettings {
    background-color: #152051;
    color: white;
}
.boardlist.top a, #qrmove a {
    color: #DADCF0;
    border-color: #45a;
}
.boardlist.top a:hover, #qrmove a:hover {
    color: #e8f0ff;
}/* Semantics */



/* Navigation bar */
.boardlist.top a {
    color: #c0c0ff;
    border-top-color: #45a;
}
.boardlist.top a[href="/"] {
    color: #D1D4F2;
}


/* Board Page header */
#top {
	font-size: 85%;
}
.banner {
    background: #D2D2ED;
    color: white;
}

.subtitle {
    color: #465A99;
}
/* Post form */

th {
    background: #a8b8f0;
}



/* Posts */
.reply, dialog, .help-details, #watcherScreen, .pages, .catathread {
    background-color: #d4dcf0;
}
.subject, .wsubject {
    color: #3F31C0;
}
.name, a .name, .wname {
    color: #203090;
}
.email {
    border-bottom: 1px dashed #6080e0;
}
.trip, .wtrip {
    color: #4060b0;
}
a.post_no {
    color: #09147E;
}
a.post_no:hover {
    color: #2F3CC2;
}
.reply .fileinfo {
    line-height: 120%;
}
.reply.highlighted {
    background: #E9ECF7;
    border-color: #CFDAE8;
}
.quote {
    color: #4070c0;
}
.public_ban {
	color: rgb(66, 43, 163);
}


/* -- Manipulated DOM -- */

/* Thread watcher */
#watcherScreen {
    color: black;
    border-color: rgb(107, 119, 169);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    font-size: inherit;
}
.wthread {
    border-bottom: 1px dashed gray;
}
.wpost {
    color: #000;
}
.wname:before {
    color: #607ba3;
}
