/**
 * crystal-rarity.css
 *
 * Created on 4/2/15
 * Ported from old Ponychan. Originally written by Rage Gamer.
 *
 *
 */

@import "common/pony-kusaba.css?t=1516991469";
@import "common/paper-footer.css?t=1516991469";
@import "common/bubble-buttons.css?t=1516991469";
/*@import "common/serif.css?t=1516991469";*/

/* Fonts */
@font-face {
	font-family: 'Droid Serif';
	src: url(font/droid-serif.woff) format('woff');
}
@font-face {
	font-family: 'Philosopher';
	src: local('Philosopher'),
	url(font/philosopher.woff) format('woff');
}
@font-face {
	font-family: 'Muli';
	src: local('Muli'),
	url(font/muli.woff) format('woff');
}
@font-face {
	font-family: 'Inconsolata';
	src: url("font/inconsolata.woff") format('woff');
}
/* Indiscriminate tags */
/* All credit goes to theshadowstone for the Rarity vector. */
body {
	background: url(img/crystal-rarity/crystal_rarity.png)
					bottom 8em right 2em / 30% no-repeat,
		url(img/crystal-rarity/crystal.png) rgb(213, 214, 227);
	font-family: "Droid Serif", "Georgia", serif;
}
a, a:visited, a:active, a.bodylink, .banner a, .banner a:visited, .banner a:hover {
	color: rgb(2, 18, 177);
}
a:hover, a.bodylink:hover {
	color: rgb(52, 118, 221);
}
fieldset {
	border: 1px dashed gray;
	border-radius: 0.3rem;
}
hr {
	border-top-color: rgb(192, 192, 192);
}
input[type=text], input[type=password], textarea {
	border: 1px solid rgb(145, 161, 208);
	transition: border 0.1s ease-in-out;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
	border: 1px solid rgb(102, 112, 150);
	box-shadow: none;
}
th {
	background: rgb(168, 179, 200);
	border-radius: 0.2rem;
}
time {
	color: rgb(12, 13, 68);
}

/* -- Setting the common color scheme -- */
/* Heading colors */
h1, h2, h3, h4, h5, h6, header h1, .heading {
	font-family: 'Philosopher', serif;
	text-shadow: 0.1rem 0.1rem 0 rgba(255,255,255,0.5);
	color: rgb(56, 55, 105);
}
/* Head bar backgrounds */
.top, #qrmove, .ban h2 {
	background: rgb(228, 228, 234);
}
/* Head bar links */
.top a, .top a:visited, #qrmove a, #qrmove a:visited {
	color: rgb(118, 99, 168);
	transition: color 0.1s ease-in-out,
				background-color 0.1s ease-in-out;
}
/* Head bar links on hover */
#qrmove a:hover, .top .boardlistactive, .top .boardlistactive:visited {
	font-weight: bold;
	text-shadow: none;
	color: rgb(29, 32, 77);
}
/* Block items */
.reply, .help-details, #watcherScreen, .post-hover, .hashtag, .pages, .catathread, #updateSettings {
	background-color: rgb(204, 212, 225);
	border-color: rgb(194, 200, 213);
}


/* Navigation bar */
.top {
	border-bottom: 1px solid gray;
}
.top a:hover {
	color: white;
	background: rgb(232, 240, 255);
}
.top .boardlistactive, .boardlistactive:hover, .watcherButton.open {
	border-color: #7b7ab6;
	background-color: rgb(218, 218, 224);
	box-shadow: none;
}
.top a[href="/"] {
	color: rgb(77, 76, 140);
}


/* -- Board Page header -- */
/* Board headline */
body > header h1 {
	font-style: italic;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-shadow: 0.05rem 0.05rem 0.1rem rgb(54, 10, 90);
}
/* Board description */
.subtitle, legend {
	font-family: "Muli", "Calibri", sans-serif;
	color: rgb(111, 109, 152);
	text-shadow: 0.05rem 0.05rem 0.1rem rgba(255,255,255,0.4);
}
/* 'Posting mode: reply' bar */
div.banner {
	background: rgb(180, 182, 205);
	color: white;
}

/* Post form */
.help-bubble {
	background-color: rgb(168, 179, 200);
}
.blotter {
	background-color: rgba(255, 255, 255, 0.7);
	padding: 0.5em;
	border: 1px solid rgb(158, 161, 184);
	border-radius: 0.5rem;
	color: inherit;
	margin-bottom: 1.5ex;
}
form[name='post'] + hr, .blotter + hr {
	display: none;
}


/* Posts */
[name='postcontrols'] {
	background-color: rgba(230, 230, 236, 0.7);
	margin: 0 -1em;
	padding: 1ex 3ex 0;
}
.post {
	line-height: 140%;
}
.reply, .wthread, .post-hover, .hashtag, .pages, .catathread, #updateSettings {
	line-height: 150%;
	border-radius: 0.2rem;
}

.postHider {
	margin-top: -2px;
}
.intro {
	font-size: 110%;
}
.subject, .wsubject {
	font-family: "Philosopher", serif;
	color: rgb(100, 43, 122);
}
.name {
	font: bold  110% "Philosopher", serif;
}
.post_no, .post_no:hover {
	font-family: "Droid Serif", serif;
}
.name, .email .name, .email:hover .name, .wname {
	color: rgb(88, 70, 124);
	font-weight: bold;
}
.email {
	border-bottom: 1px dotted rgb(120, 111, 152);
}
.trip, .wtrip {
	color: rgb(58, 88, 187);
}
a.post_no {
	text-decoration: none;
	color: #55386b;
}
a.post_no:hover {
	color: #6354ac;
}
.fileinfo {
	font: 80% "Philosopher", serif;
}
.reply .fileinfo {
	line-height: 120%;
}
.reply.highlighted {
	background: rgb(227, 227, 233);
	border-style: solid solid solid solid !important;
	border-color: rgb(127, 135, 151);
}
.op .delete {
	/* Realigns the checkboxes */
	margin-top: 4px;
}

.quote {
	color: rgb(116, 69, 89);
}
.toolong, .omitted {
	text-transform: uppercase;
	font: 100% "Arial Narrow", sans-serif;
	color: rgb(124, 127, 147);
	text-shadow: 0 0 1px white;
}

/* Footer */
.pages {
	padding: 0.5em;
	color: inherit;
}
body > footer {
	margin-top: 5em;
	border-top: 1px solid rgb(178, 181, 204);
	font-family: "Muli", sans-serif;
	color: rgb(98, 103, 137);
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
	background: rgb(211, 212, 224);
	box-shadow: none;
}
/* -- Manipulated DOM -- */

/*Settings page*/
#settingsScreen h1, #settingsScreen h2 {
	color: rgb(32, 95, 160);
}

/* Quick Reply */
#qrtoggleoptions label {
	text-transform: lowercase;
	font-size: 150%;
	font-weight: bold;
	color: rgb(29, 66, 100);
}
#qrDisplayButton {
	font-family: 'Muli', Sans-serif;
	text-transform: lowercase;
	color: rgb(117, 97, 166);
	letter-spacing: 0px;
	transition: letter-spacing 0.5s cubic-bezier(.64,-0.81,.36,1.34),
	color 0.3s ease-in-out;
}
#qrDisplayButton:hover {
	letter-spacing: 2px;
	color: rgb(84, 57, 146);
}
#qrDisplayButton:before {
	content: "[";
	margin-right: 2px;
	transition: margin 1s cubic-bezier(.45,-0.15,.19,1.14);
}
#qrDisplayButton:hover:before {
	margin-right: 8px;
}
#qrDisplayButton:after {
	content: "]";
	margin-left: 2px;
	transition: margin 1s cubic-bezier(.45,-0.15,.19,1.14);
}
#qrDisplayButton:hover:after {
	margin-left: 8px;
}


/* Thread watcher */
#watcherScreen {
	border-color: rgb(51, 44, 131);
}
.wlinkpart + .wname:before {
	/* The element is always there. If no nickname is given, it'll leave
		you an empty element. */
	color: #9da5c0;
}

/* Other pages */
.homepage hr {
	border-top: 2px solid rgb(150, 142, 188);
}
.homeblock {
	background-color: rgba(228, 228, 234, 0.8);
}
.ban, .homeblock {
	border: 2px solid rgb(150, 142, 188);
	font: 110%/150% "Muli", "Calibri", sans-serif;
}
.homeblock > h2 {
	font: normal 150% "Muli", "Calibri", sans-serif;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.4);
	color: rgb(101, 103, 178);
}
.homepage > header h1 {
	text-shadow: 0.05rem 0.05rem 0.1rem rgba(252, 250, 255, 0.5);
}
