/**
 * daring-do.css
 * 
 * Created on 3/31/2015
 * Ported from old Ponychan, originally written by pfftlol.
 * 
 * 
 */

@import "common/pony-kusaba.css?t=1516991470";
@import "common/bubble-buttons.css?t=1516991470";
@import "common/serif.css?t=1516991470";

/* Fonts */
@font-face {
	font-family: "Adventure";
	src: url(font/Adventure.ttf)
}

/* Indiscriminate tags */
body {
	background: url(img/daring-do/bg.png)
	right -8em bottom 1em no-repeat,
	radial-gradient( at bottom 270px right 230px,
			rgb(239, 225, 154),
			rgb(230, 209, 117),
			rgb(237, 218, 170));
}
a, a:visited, a:active, .banner a, .banner a:visited, a.bodylink {
	color: rgb(2, 103, 2);
}
a:hover, a.bodylink:hover {
	color: rgb(59, 137, 52);
}
fieldset {
	border: 1px dashed rgb(135, 138, 74);
}
hr {
	border-top-color: rgb(130, 167, 108) !important;
}
input[type=text], input[type=password], textarea {
	border: 1px solid #a1805e;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
	border: 1px solid #246824;
}
th {
	background: rgb(169, 183, 102);
	border-radius: 0.2rem;
}

/* -- Setting the common color scheme -- */
/* Heading colors */
h1, h2, h3, h4, h5, h6, header h1, .heading {
	font-family: 'Adventure', sans-serif;
	color: rgb(23, 23, 23);
}
/* Head bar backgrounds */
.top, #qrmove, .ban h2 {
	background: rgb(240, 217, 107)
		linear-gradient(to right,
			rgb(240, 217, 107) 25%,
			rgb(233, 234, 76) 50%,
			rgb(255, 150, 23) 75%,
			rgb(255, 44, 2));
}
/* Head bar links */
.top a, .top a:visited, #qrmove a, #qrmove a:visited {
	color: rgb(36, 41, 14);
	text-shadow: 1px 1px 2px rgba(252, 252, 252, 0.4);
}
/* Head bar links on hover */
.top a:hover, #qrmove a:hover, .top .boardlistactive, .top .boardlistactive:visited {
	color: #da8951;
}
/* Block items */
.reply, .help-details, #watcherScreen, .post-hover, .hashtag, .pages, .catathread, #updateSettings {
	background-color: rgb(232, 220, 162);
	border-color: rgb(192, 177, 112);
}


/* Navigation bar */
.top a:hover {
	color: white;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	background: rgba(0,0,0, 0.3) !important;
}
.top .boardlistactive, .watcherButton.open {
	border-color: rgb(129, 52, 39);
	box-shadow: 0 0 1em rgba(126, 89, 22, 0.38);
}
.top a[href="/"] {
	color: rgb(180, 64, 54);
}
.top a[href="/"]:hover {
	color: #ea998d;
}
.top a.boardlistactive {
	box-shadow: inset 0 0 1em rgba(0,0,0,0.2);
}

/* -- Board Page header -- */
/* Board headline */
body > header h1 {
	color: rgb(19, 120, 19);
	text-shadow: 0.05rem 0.05rem 0.1rem rgb(180, 194, 91);
}
/* Board description */
.subtitle {
	font-family: "AR Christy", cursive;
	color: rgb(88, 88, 88);
	text-shadow: 0.05rem 0.05rem 0.1rem rgba(253, 255, 255, 0.3);
}
/* 'Posting mode: reply' bar */
div.banner {
	background: #82854c;
	color: white;
}

/* Post form */
.help-bubble {
	background-color: rgb(169, 183, 102);
}
.blotter {
	color: inherit;
}


/* Posts */
.post {
	line-height: 140%;
}
.reply, .wthread, .post-hover, .hashtag, .pages, .catathread, #updateSettings {
	line-height: 150%;
	padding: 3px;
}

.postHider {
	margin-top: -2px;
}
.intro {
	margin: 0;
}
.subject, .wsubject {
	color: rgb(144, 146, 95);
}
.name, .email .name, .email:hover .name, .wname {
	color: rgb(62, 111, 61);
	font-weight: bold;
}
.email {
	border-bottom: 1px dashed #419f41;
}
.trip, .wtrip {
	color: rgb(51, 143, 79);
}
a.post_no {
	color: #7a3d1f;
}
a.post_no:hover {
	color: #9a6148;
}
.fileinfo {
	font-size: 80%;
}
.reply .fileinfo {
	line-height: 120%;
}
.reply.highlighted {
	background-color: rgb(232, 217, 185);
	border-style: solid none none solid;
	border-color: rgb(201, 189, 67);
}
.op .delete {
	/* Realigns the checkboxes */
	margin-top: 4px;
}

.quote {
	color: rgb(158, 44, 33);
}
.omitted, .toolong {
	color: rgb(140, 125, 75);
}
/* Footer */
.pages {
	padding: 0.5em;
	color: inherit;
}


/* -- Manipulated DOM -- */

/*Settings page*/

/* Quick Reply */
#qrtoggleoptions label {
	text-transform: lowercase;
	font-size: 150%;
	font-weight: bold;
	color: rgb(139, 52, 0);
}
#qrDisplayButton {
	text-transform: lowercase;
	color: rgb(2, 103, 2);
	letter-spacing: 0px;
	transition: letter-spacing 0.35s cubic-bezier(.64,-0.81,.36,1.34),
	color 0.2s ease-in-out;
}
#qrDisplayButton:hover {
	letter-spacing: 2px;
	color: rgb(61, 140, 60);
}
#qrDisplayButton:before {
	content: "[";
	margin-right: 2px;
	transition: margin 1s cubic-bezier(.45,-0.15,.19,1.14);
}
#qrDisplayButton:hover:before {
	margin-right: 8px;
}
#qrDisplayButton:after {
	content: "]";
	margin-left: 2px;
	transition: margin 1s cubic-bezier(.45,-0.15,.19,1.14);
}
#qrDisplayButton:hover:after {
	margin-left: 8px;
}


/* Thread watcher */
#watcherScreen {
	border-color: rgb(53, 53, 53);
}
.wlink, .wlink:visited {
	color: rgb(140, 125, 75);
}
.wlinkpart + .wname:before {
	/* The element is always there. If no nickname is given, it'll leave
		you an empty element. */
	color: gray;
}

/* Other pages */
.ban, .homeblock {
	border-color: #9b7e3a;
}
.homepage > header h1 {
	text-shadow: 0.05rem 0.05rem 0.1rem rgba(252, 250, 255, 0.5);
}
