/**
 * discord
 *
 * Created on 4/2/15
 * Ported from old Ponychan. Originally written by Grandil.
 *
 *
 */
/* Imports */
@import "common/pony-kusaba.css?t=1516991470";
@import "common/ghost-buttons.css?t=1516991470";
@import "common/enigma-settings.css?t=1516991470";

/* Fonts */
@font-face {
	font-family: 'Open Sans';
	src: url("font/open-sans.woff") format('woff');
}
@font-face {
	font-family: 'Droid Serif';
	src: url("font/droid-serif.woff") format('woff');
}
@font-face {
	font-family: 'Inconsolata';
	src: url("font/inconsolata.woff") format('woff');
}
/* Indiscriminate tags */
body {
	background: rgb(9, 9, 9)
		url(img/discord/bgimage.png) right bottom / auto 100% no-repeat fixed;
	color: rgb(244, 226, 153);
	font: 85% "Open Sans", sans-serif;
}

/* All links, including the ref-links inside the post body. */
a, a:visited, a:active, a.bodylink, .banner a.unimportant, .banner a:hover {
	color: rgb(235, 209, 114);
}

/* Mouse over link */
a:hover, a.bodylink:hover {
	color: rgb(234, 225, 54);
}
/* I saw that footer you sly you ~ */
footer {
	color: rgb(244, 240, 203);
	min-height: 30px;
	margin: 0;
	background: url(img/discord/lurker.png) 102% 27% no-repeat;
}
/* Set the border here */
input[type=text], input[type=password], textarea {
	border: 1px solid #f8f8f8;
}

/* What color do you want the border to glow here */
input[type=text]:focus, input[type=password]:focus, textarea:focus {
	outline: 2px solid rgb(128, 177, 194);
}
hr {
	border-top: 2px solid rgb(49, 47, 42) !important;
}
/* Table headers, including the post form */
/* as well as many staff dashboard headers */
th {
	font: normal 80%/80% "Droid Serif", "Georgia", serif;
	background-color: rgb(25, 25, 25);
	color: rgb(244, 240, 203);
}
time {
	font: normal 100% "Droid Serif", "Georgia", serif;
	color: rgb(109, 106, 86);
}
/* -- Setting the common color scheme -- */
/* Heading colors */
h1, h2, h3, h4, h5, h6, header h1, .heading {
	font-family: "Droid Serif", "Georgia", serif;
	font-weight: bold;
	color: rgb(244, 244, 244);
	text-shadow: 2px 2px 5px rgba(116, 109, 91, 0.39);
}

/* Head bar backgrounds */
.top, #qrmove, .ban h2 {
	background: rgb(9, 9, 9);
	color: rgb(253, 252, 224);
}

/* Head bar links */
.top a, .top a:visited, #qrmove a, #qrmove a:visited {
	font-family: "Droid Serif", "Georgia", serif;
	color: rgb(244, 240, 203);
	transition: background 0.22s ease-out;
}

/* Head bar links on hover */
.top .boardlistactive, .top .boardlistactive:visited {
	color: white;
	background-position: 10px;
}

/* Block items */
.reply, #watcherScreen, .post-hover, .pages, .catathread, #updateSettings, #settingsScreen {
	background-color: rgba(0,0,0,0.7);
	padding: 0.5em;
	border: 2px solid rgb(53, 53, 53);
	border-radius: 0.5rem;
}

/* -- Navigation bar -- */
.top {
	border-bottom: 1px solid rgb(49, 47, 42);
}
.top a, .top a:visited {
	color: rgb(253, 252, 224);
}
.top a:hover {
	background: linear-gradient(to bottom,
		rgba(116,109,91,0) 38%,
		rgba(116,109,91,0) 47%,
		rgba(116,109,91,0.8) 90%,
		rgba(116,109,91,0.8) 100%);
	/*background-position: 10px;*/
}

/* set the border-color property to show that the button is 'lit' */
.top .boardlistactive, .watcherButton.open {
	border-color: white;
	box-shadow: inset 0 0 1em rgba(0,0,0,0.2);
}

/* Color of the 'home' link */
.top a[href="/"] {
	color: rgb(245, 245, 215);
	border-right: 1px solid rgb(57, 57, 57);
}

/* Toggle links on the right */
.top .watcherButton, .top .settingsButton {
	background-position: 1px;
}
/* Settings page */
#settingsScreen {
	background: rgb(18, 18, 18)
		linear-gradient(to bottom,
			rgb(10, 10, 10),
			rgb(18, 18, 18));
}
#settingsScreen select,
#settingsScreen label,
#settingsScreen option {
	color: rgb(86, 128, 171);
	text-shadow: none;
}
/* Settings headers */
#settingsScreen h1, #settingsScreen h2 {
	/* Color */
	/*color: rgb(60, 91, 129);*/
	text-shadow: 1px 1px 2px rgba(228, 226, 229,0.4);
}
#settingsScreen h1 {
	background: rgb(17, 17, 17)
		linear-gradient(to bottom,
			rgb(31, 31, 31),
			rgb(0, 0, 0));
}
.settings-close-button {
	padding: 0 0.2em;
}
.wlink {
	color: rgb(116, 147, 212);
}
/* the color of 'by' in watcher */
.wlinkpart + .wname:before {
	/* The element is always there. If no nickname is given, it'll leave
		you an empty element. */
	color: #256aa3;
}

/* -- Board Page header -- */
/* Board headline */


/* Board description */
body > header .subtitle {
	color: rgb(248, 248, 248);
	font: normal 130%/150% "Droid Serif", "Georgia", serif;
}

/* 'Posting mode: reply' bar */
div.banner {
	border: 2px solid rgba(248,248,248,0.1);
	border-radius: 0.2rem;
	background: rgba(0,0,0,0.8);
}

/* -- Post form -- */
.help-bubble {
	background-color: rgb(101, 95, 78);
}
.help-details {
	background-color: black;
}
/* 'Open the Quick reply dialog' */
/* Make a good button out of this. */
#qrDisplayButton {
	letter-spacing: normal;
	color: rgb(235, 209, 114);
	font: bold 130%/140% "Droid Serif", "Georgia", serif;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	text-transform: lowercase;
	background-color: rgb(9, 9, 9);
	border: 1px solid rgb(29, 29, 29);
	margin: 2em;
	padding: 0.3em 1em;
	border-radius: 0.4rem;
	position: relative;
	top: 0.5em;
}
#qrDisplayButton:hover {
	color: rgb(244, 218, 115);
	border-color: rgb(0,0,0);
	background-color: black;
	box-shadow: 0 0 0.1rem rgba(174, 164, 141, 0.30);
}
form[name="post"] th {
	border: 1px solid rgb(160, 160, 160);
	border-radius: 0.4rem 0 0 0.4rem;
	text-align: left;
}
form[name="post"] th, .reply, .pages {
	padding: 0.2em 0.2em 0.2em 0.4em;
}

/* Staff notice */
.blotter {
	padding: 0.5em;
	border: 1px solid rgb(248, 248, 248);
	color: rgb(244, 240, 180);
	background: rgba(255, 255, 255, 0.1);
	border-radius: 0.5rem;
}

/* -- Posts -- */
.intro, .op {
	text-shadow: 0 0 2px 2px rgb(0,0,0);
}
.reply {
	border-style: solid;
	border-color: rgb(52, 52, 52);
}
.wthread, .post-hover {
	padding: 3px;
}
.wpost {
	color: rgb(244, 226, 154);
}
.post-hover, .hashtag {
	border: 1px solid rgb(41, 41, 41);
	background-color: rgb(10, 10, 10);
}

.subject, .wsubject {
	font-family: "Droid Serif", "Georgia", serif;
	color: rgb(109, 106, 86);
}

.name, .email .name, .email:hover .name, .wname, .trip, .wtrip {
	font: normal 110% "Droid Serif", "Georgia", serif;
	color: rgb(170, 166, 145);
}

.email {
	border-color: rgb(142, 138, 105);
	/* change the underline color. */
}

a.post_no {
	/* Make this a deeper color than most links */
	color: rgb(196, 192, 144);
}

a.post_no:hover {
	color: rgb(220, 219, 186);
}
.fileinfo {
	font: normal 80% "Droid Serif", "Georgia", serif;
	color: rgb(109, 106, 86);
}
.reply.highlighted {
	border-left: 2px double rgb(101, 101, 101) !important;
	background-color: rgb(5, 5, 5);
}
.post-inline {
	border: 1px solid rgb(101, 101, 101) !important;
	/* 	as nesting iterations approach infinity,
	 	what background color does it approach? */
	background-color: rgba(255,255,255,0.1);
}
.hashtag, .pages {
	padding: 0.2em 0.7em;
}
.quote {
	color: rgb(121, 182, 212);
}
.spoiler {
	color: rgb(77, 77, 77);
	background: rgb(77, 77, 77);
}
.spoiler:hover {
	color: inherit;
}
.omitted, .toolong {
	color: rgb(129, 129, 129);
}

/* Footer */
.boardlist.bottom {
	color: inherit;
}


.wlinkpart + .wname:before {
	color: rgb(187, 183, 155);
}

/* The color of the ban page table */
.ban {
	border: 2px solid rgb(52, 52, 52);
}

/* Page numbers */
.pages {
	color: rgb(235, 209, 104);
}
/* homepage */
.homepage > header h1 {
	color: transparent;
	clear: both;
	min-height: 90px;
	background: url(img/discord/chantitle.png) center no-repeat;
}
.homepage .subtitle {
	color: transparent;
	min-height: 70px;
	background: url(img/discord/chansubtitle.png) center no-repeat;
}
.homeblock {
	border: 2px solid rgb(52, 52, 52);
	line-height: 140%;
	margin-top: 2em;
}
.homeblock > h2 {
	margin: -0.5em -0.5em 0.2em;
	padding: 0.1em 0.5em;
	font: bold 150% "Droid Serif", "Georgia", serif;
	color: rgb(244, 240, 203);
	border-bottom: 2px solid rgb(136, 35, 38);
	border-radius: 0.7em;
}
.homeblock > h2 + div {
	/* The body container */
	margin-top: 1em;
}
.homeblock .unimportant {
	font-family: "Inconsolata", "Lucida Console", monospace;
	text-transform: uppercase;
}
