@import "common/bw-spoilers.css?t=1518146084";
body {
	background: #ffe;
	color: #800000;
	font-family: serif;
	font-size: 16px;
}
div.title h1 {
	font-size: 24px;
}
div.title p {
	font-size: 10px;
}
a:link, a:visited, p.intro a.email span.name, .name {
	color: #0000ff;
}
a:link:hover {
	color: #d00;
}
a.post_no {
	color: #800000;
}
div.post.reply, dialog, .help-details {
	background: #f0e0d6;
	border-color: #d9bfb7;
}
div.post.reply.highlighted {
	background: #f0c0b0;
	border-color: #d9bfb7;
}
a.bodylink {
	color: navy;
}
p.intro span.subject {
	color: #d00;
}
form table tr th {
	background: #EA8;
}
div.ban h2 {
	background: #FCA;
	color: inherit;
}
div.ban {
	border-color: #800;
}
div.ban p {
	color: black;
}
div.pages {
	padding: 7px 5px;
	color: maroon;
	font-size: 12pt;
	
	background: none;
	border-width: 1px;
	border-style: inset;

}
div.pages a.selected {
	color: #800;
}
hr {
	border-width: 1px;
	border-style: inset;
}
div.boardlist {
	color: #B86;
}
div.boardlist a {
	color: #800;
}
.unimportant, .unimportant * {
	font-size: 13px;
}
table.modlog tr th {
	background: #EA8;
}
.help-bubble {
	background-color: rgb(237, 185, 151);
}
