/**
 * gilda
 * 
 * Created on 4/1/2015
 * Ported from old Ponychan, originally written by Little Hawk.
 * 
 * 
 */
@import "common/bubble-buttons.css?t=1516991470";
@import "common/pony-kusaba.css?t=1516991470";
@import "common/serif.css?t=1516991470";

@font-face {
	font-family: "Open Sans";
	src: url(font/open-sans.woff)
}
@font-face {
	font-family: "Cousine";
	src: url(font/cousine.ttf)
}
@font-face {
	font-family: "Droid Serif";
	src: url(font/droid-serif.woff)
}

/* Keyframes for animations */
@keyframes notification {
	0% {
		color: #dbd093;
	}
	50% {
		color: rgb(237, 154, 69);
	}
	100% {
		color: #dbd094;
	}
}

/* Indiscriminate tags */
body {
	background:
		url(img/gilda/bg-front.png) no-repeat 103% 96%,
		url(img/gilda/bg-drop.png) no-repeat fixed bottom right,
		rgb(21, 9, 2);
	background-size: 37% auto,cover;
	color: rgb(255, 225, 159);
}

/* All links, including the ref-links inside the post body. */
a, a:visited, a:active, a.bodylink, .banner a, .banner a:visited, .banner a:hover {
	color: rgb(230, 190, 3);
}

/* Mouse over link */
a:hover, a.bodylink:hover {
	color: rgb(224, 200, 97);
}
fieldset {
	border: 1px dashed rgb(144, 130, 84);
	border-radius: 0.4rem;
}
/* Set the border here */
input[type=text], input[type=password], textarea {
	border-radius: 0.3rem;
	border: 2px solid gray;
}

/* What color do you want the border to glow here */
input[type=text]:focus, input[type=password]:focus, textarea:focus {
	border: 2px solid #dad096;
}
hr {
	border-style: none;
	margin: .5em 0;
	background: url(img/gilda/hr.png) no-repeat center;
	height: 1.3em;
	background-size: contain;
}
/* Table headers, including the post form */
/* as well as many staff dashboard headers */
th {
	background-color: rgb(59, 50, 31);
	text-shadow: 1px 1px 2px rgba(255, 225, 142, 0.30);
}
.help-bubble {
	background-color: rgb(70, 61, 41);
}
time {
	color: rgb(160, 118, 15);
}

/* -- Setting the common color scheme -- */
/* Heading colors */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Droid Serif', serif;
	color: rgb(176, 135, 38);
	text-shadow: 0.1rem 0.1rem 0.3rem rgba(0,0,0,0.5);
}

/* Head bar backgrounds */
.top, #qrmove, .ban h2 {
	background: rgb(183, 153, 81)
	linear-gradient(to right, rgb(174, 145, 82), rgb(189, 160, 82));
	color: white;
}

/* Head bar links */
.top a, .top a:visited, #qrmove a, #qrmove a:visited {
	color: rgb(54, 46, 25);
	transition: background-color 0.2s ease-in-out,
				color 0.1s ease-in-out;
}

/* Head bar links on hover */
.top a:hover, #qrmove a:hover, .top .boardlistactive, .top .boardlistactive:visited {
	color: rgb(255, 212, 120);
}

/* Block items */
.reply, dialog, .help-details, #watcherScreen, .post-hover, .pages, .catathread, #updateSettings, #settingsScreen {
	background-color: rgb(31, 28, 18)
}

/* -- Navigation bar -- */
.top a:hover {
	background-color: rgba(0,0,0,0.4);
}

/* set the border-color property to show that the button is 'lit' */
.top .boardlistactive, .watcherButton.open {
	border-color: rgb(54, 46, 25);
	box-shadow: inset 0 0 1em rgba(0,0,0,0.2);
}

/* Color of the 'home' link */
.top a[href="/"] {
	color: rgb(116, 95, 45);
}

/* Toggle links on the right */
.top .watcherButton, .top .settingsButton {
	color: rgb(117, 96, 47);
}
/* Settings page */
#settingsScreen {
	background: rgb(33, 30, 20)
	linear-gradient(to bottom,
			rgb(58, 53, 35),
			rgb(33, 30, 20));
	color: rgb(172, 166, 118);
}
/* Settings headers */
#settingsScreen h1, #settingsScreen h2 {
	/* Color */
	color: rgb(204, 193, 147);
	text-shadow: 1px 1px 2px rgba(228, 226, 229,0.4);
}

/* Watcher frame. Set a bright border. */
#watcherScreen {
	border: 2px solid rgb(67, 60, 39);
}

/* the color of 'by' in watcher */
.wname:before {
	/* The element is always there. If no nickname is given, it'll leave
		you an empty element. */
	color: rgb(119, 112, 74);
}

/* -- Board Page header -- */
/* Board headline */
body > header h1 {
	font-family: Georgia, Times, 'Times New Roman', serif;
}

body > header h1:before, body > header h1:after {
	content: "~";
	padding: 0 0.5em;
}
/* Board description */
body > header .subtitle {
	color: rgb(198, 182, 169);
	text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
	font: 100%/130% 'Droid Serif', serif;
}

/* 'Posting mode: reply' bar */
div.banner {
	background-color: rgb(140, 89, 21);
}

/* -- Post form -- */
/* 'Open the Quick reply dialog' */
/* Make a good button out of this. */
#qrDisplayButton {
	font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	color: rgb(189, 165, 117);
	text-transform: lowercase;
	background-color: rgb(6, 5, 3);
	border: 1px solid rgb(151, 136, 86);
	margin: 2em;
	padding: 0.3em 1em;
	border-radius: 0.4rem;
	position: relative;
	top: 0.5em;
}
#qrDisplayButton:hover {
	color: rgb(224, 197, 139);
	background-color: rgb(54, 44, 26);
	box-shadow: 0 0 0.1rem rgba(0,0,0,0.3);
}
form[name="post"] th, .pages {
	padding: 0.3rem;
	border-radius: 0.3rem;
}
/* Staff notice */
.blotter {
	background:
		url(img/gilda/blotter-frame-left.png) no-repeat scroll left,
		url(img/gilda/blotter-frame-right.png) no-repeat scroll right;
	background-size: contain;
}

/* -- Posts -- */
.wpost {
	color: white;
}
.reply {
	border-style: solid;
	border-color: rgb(151, 136, 86);
	border-radius: 0 1rem;
}
.wthread, .post-hover {
	padding: 3px;
}
.post-hover, .hashtag {
	border-color: rgb(152, 108, 73);
	background-color: rgb(7, 5, 4);
}
.hashtag {
	padding: 0.2em 0.9em;
}

.subject, .wsubject {
	font-family: 'Droid Serif', serif;
	color: rgb(213, 199, 219);
}

.name, .email .name, .email:hover .name, .wname {
	font: 100%/130% serif;
	color: rgb(224, 158, 3);
}

.email {
	border-bottom: 1px dotted rgb(234, 167, 3);
	/* change the underline color. */
}

.trip, .wtrip {
	color: rgb(237, 186, 55);
}
.capcode {
	color: gray;
}
a.post_no {
	/* Make this a deeper color than most links */
	color: rgb(236, 192, 74);
}

a.post_no:hover {
	color: rgb(242, 210, 118);
}
.fileinfo {
	color: rgb(120, 90, 27);
}

.reply.highlighted, .post-inline {
	background-color: rgb(31, 28, 18);
}
.reply.highlighted {
	/* Makes all borders solid. */
	border: 1px solid rgb(209, 131, 68) !important;
}
.post-inline {
	/* 	as nesting iterations approach infinity,
	 	what background color does it approach? */
	background-color: rgba(0,0,0,0.1);
}

.quote {
	color: rgb(200, 172, 212);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.40);
}
.spoiler, .spoiler * {
	background-color: rgb(228, 214, 232);
	color: rgb(228, 214, 232);
}
.spoiler:hover, .spoiler:hover * {
	color: rgb(147, 93, 153);
}
.hidetext {
	background-color: rgb(40, 31, 13);
	border: 1px dashed rgb(137, 137, 137);
	border-radius: 0.2rem;
}
.public_ban {
	color: rgb(187, 143, 149);
}
.omitted, .toolong {
	color: rgb(129, 129, 129);
}

/* Footer */
.boardlist.bottom {
	color: inherit;
}

/* The color of the ban page table */
.ban {
	border-color: rgb(208, 200, 106);
}

/* Page numbers */
.pages {
	color: rgb(174, 174, 174);
}
/* homepage */
.homepage > header h1 {
	color: rgb(244, 232, 203);
	text-shadow: 	1px 1px 1px rgb(244, 232, 203),
	0 0 16px rgb(201, 173, 129);
}
.homepage hr {
	border-top: 2px solid rgb(43, 37, 26);
	height: 0;
}
.homepage .subtitle {
	color: rgb(225, 214, 187);
	font-size: 180%;
}
.homeblock {
	border: 2px solid rgb(41, 35, 24);
	line-height: 140%;
	margin-top: 2em;
	background-color: rgb(12, 9, 5);
}
.homeblock > h2 + div {
	/* The body container */
	margin-top: 1em;
}
.homeblock .unimportant {
	font-family: serif;
	text-transform: uppercase;
}
.watcherAlerts {
	animation: notification 3.5s;
}
