/**
 * glimglam.css
 * Created on 1/26/2018 by Zeke Roa
 * Starlight Glimmer bg2.png pulled from derpibooru
 */
@import "common/pony-kusaba.css";
@import "common/bubble-buttons.css";
@import "common/serif.css";

@font-face {
	font-family: 'Dancing Script';
	src: url("font/dancing-script.woff") format("woff");
}

body {
	background: #edbcf3 url("img/glimglam/bg3.png") no-repeat bottom right fixed;
	background-size: cover;
	font: "Droid";
}

div.top {
	background-color: #64228d;
}

div.top span.boardlistpart a {
	font-weight: bold;
	color: #a3f2d8!important;
}

div.top a:hover {
	font-weight: bold;
	color: #8a8ee1!important;
}

div.highlighted:not(.op) {
	background-color: #01bbb8!important;
}

div.reply:not(.highlighted) {
	background-color: #cd97e2;
}

a {
	color: #64228d;
}

a:visited {
	color: #802faf;
}

div.banner {
	background-color: #8a8ee1;
}

a.unimportant {
	color: black !important;
	text-decoration: none !important;
}

a.unimportant:hover {
	color: #64228d !important;
}

a.bodylink, a.postlink {
	color: #64228d;
}

h1 {
	font-family: "Dancing Script", cursive !important;
	font-weight: bold;
}

h1, h2, h3, h4 {
	color: #64228d;
}

header div.subtitle {
	color: #802faf;
}

span.name, span.wname {
	color: #64228d;
}

.trip {
	color: #802faf;
}

span.subject, span.wsubject {
	color: #64228d;
}

span.quote {
	color: #802faf;
}

#qrDisplayButton {
	text-transform: lowercase;
	color: #64228d;
	text-decoration: bold;
	transition: letter-spacing 0.5s ease-out, color 0.3s ease-in-out;
}

#qrDisplayButton:hover {
	letter-spacing: 2px;
	color: #802faf;
}

#qrDisplayButton:before {
	content: "[";
	margin-right: 2px;
	transition: margin 1s ease-in-out; }

#qrDisplayButton:hover:before {
	margin-right: 8px;
}

#qrDisplayButton:after {
	content: "]";
	margin-left: 2px;
	transition: margin 1s ease-in-out;
}

#qrDisplayButton:hover:after {
	margin-left: 8px;
}

div#qrmove {
	background-color: #64228d;
}

div.pages {
	color: black;
	background-color: #edbcf3;
}

div.watcherMenu {
	background-color: #cd97e2;
}

.wremove {
	background-color: #cd97e2;
}

input[type="button"], input[type="submit"]:not(#qrsubmit), button:not(#qrfilebutton) {
	color: black !important;
	font-weight: normal;
}
