/**
 * guard.css
 *
 * Created on 4/5/2015
 * Ported from old Ponychan. Originally written by Anonymous.
 */

@import "common/pony-kusaba.css?t=1516991470";
@import "common/bubble-buttons.css?t=1516991470";

/* Fonts */
@font-face {
	font-family: 'Droid Serif';
	src: local('Droid Serif'),
	url(font/droid-serif.woff) format('woff');
}
@font-face {
	font-family: 'Open Sans';
	src: local('Open Sans'),
	url(font/open-sans.woff) format('woff');
}

/* Indiscriminate tags */
body {
	background: url(img/guard/bg.png);
	font: 80%/140% "Arial", "Helvetica", sans-serif;
	color: rgb(52, 52, 52);
}
a, a:visited, a:active, a.bodylink, .banner a, .banner a:visited, .banner a:hover {
	color: rgb(56, 147, 179);
}
a:hover, a.bodylink:hover {
	color: rgb(124, 189, 215);
}
hr {
	border-top-color: rgb(192, 192, 192) !important;
}
input[type=text], input[type=password], textarea {
	border: 1px solid black;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
	outline: 1px solid rgb(128, 69, 130);
}
th {
	background: linear-gradient(to bottom,
	rgb(126, 67, 128) 10em,
	rgb(152, 93, 154));
	color: rgb(235, 235, 235);
}
time {
	color: rgb(103, 103, 103);
}

/* -- Setting the common color scheme -- */
/* Heading colors */
h1, h2, h3, h4, h5, h6, .heading {
	font-family: 'Rockwell', "Courier Bold", serif;
	color: rgb(79, 22, 70);
}
/* Head bar backgrounds */
.top, #qrmove, .ban h2 {
	background: rgb(137, 13, 16);
}
/* Head bar links */
.top a, .top a:visited, #qrmove a, #qrmove a:visited {
	color: rgb(232, 197, 197);
}
/* Head bar links on hover */
.top a:hover, #qrmove a:hover, .top .boardlistactive, .top .boardlistactive:visited {
	color: rgb(255, 244, 232);
}
/* Block items */
.reply, dialog, .help-details, .catathread, #updateSettings {
	background-color: rgb(233, 233, 233);
	border-color: rgb(73, 144, 33);
}


/* Navigation bar */
.top {
	background: linear-gradient(
			rgb(138, 13, 16),
			rgb(104, 10, 13));
}
.top a:hover {
	background: rgb(2, 2, 2);
}
.top .boardlistactive, .watcherButton.open {
	border-color: rgb(237, 219, 155);
	background: linear-gradient(to bottom,
		rgba(0,0,0,0.4),
		rgba(0,0,0,0.1));
}
.top a[href="/"] {
	color: rgb(255, 247, 232);
}


/* -- Board Page header -- */
/* Board headline */
body > header h1 {
	color: rgb(169, 2, 2);
	padding: 0.5rem;
	font: 5em/130% 'Cambria', 'Droid Serif', serif;
	font-size: 5em !important;
}
/* Board description */
body > header .subtitle {
	letter-spacing: 1px;
	padding: 0 0.5rem;
	font: bold 120%/140% 'Segoe UI', 'Helvetica Neue', 'Open Sans', sans-serif;
	color: white;
	background: rgb(172, 40, 37)
	linear-gradient(to bottom,
			rgb(182, 42, 39),
			rgb(158, 37, 34));
}
.subtitle p {
	/* 'Return to Dashboard' sign */
	position: absolute;
	margin: 0;
	text-align: center;
	display: block;
	width: 100%;
	margin-left: -1.5em !important;
}
/* 'Posting mode: reply' bar */
div.banner {
	margin: 0 0 2em;
	background: transparent;
	color: gray;
	font-family: 'Segoe UI', 'Helvetica Neue', 'Open Sans', sans-serif;
}
.banner a {
	position: relative;
	bottom: 1em;
}

/* Post form */
form[name="post"] {
	padding: 0.7em;
	margin: 0.3em 0;
}
.help-bubble {
	font-size: 0.85em;
	background-color: rgb(126, 67, 128);
}
.blotter {
	color: inherit;
	font-weight: normal;
}

/* Posts */
.post {
	line-height: 140%;
}
.reply, .wthread, .post-hover, .pages, .catathread, #updateSettings {
	line-height: 150%;
	padding: 3px;
}
.reply {
	border-width: 1px 1px 1px 6px;
	border-style: solid !important;
	border-color: rgb(73, 144, 33)
}
.post-inline {
	border: 1px solid gray;
}

.postHider {
	margin-top: -2px;
}
.subject {
	font: bold 1.3em 'Cambria', 'Droid Serif', serif;
	color: rgb(51, 32, 151);
}
.wsubject {
	color: rgb(211, 203, 228);
}
.name, .email .name, .email:hover .name {
	color: rgb(75, 144, 35);
}
.wname {
	font-weight: normal;
	color: rgb(119, 192, 125);
}
.email {
	border-bottom: 1px dashed #3b9611;
}
.trip, .wtrip {
	color: rgb(104, 172, 86);
}
a.post_no {
	color: rgb(35, 36, 53);
}
a.post_no:hover {
	color: rgb(55, 61, 115);
}
.wpost {
	color: white;
}
.mentioned::before, .intro .subject::after {
	color: rgb(123, 123, 123);
}
.fileinfo {
	font: 80% sans-serif;
}
.reply.highlighted, .post-hover {
	border-style: solid !important;
	background: rgb(233, 233, 233);
	border-color: rgb(26, 164, 164);
}
.op .delete {
	/* Realigns the checkboxes */
	margin-top: 4px;
}

.quote {
	color: rgb(66, 167, 27);
}
.hidetext {
	border: 1px solid gray;
	background: url(img/guard/binary-tile.png);
}
.editmsg {
	color: rgb(98, 93, 93);
}

/* Footer */
.pages {
	border: none;
	padding: 0.5em;
	color: inherit;
	background-color: transparent;
}
body > footer {
	margin: 3em -1em -1em;
	background: url(img/guard/jagged-footer.png) repeat-x;
	font: normal 100%/160% 'Segoe UI', 'Helvetica Neue', 'Open Sans', sans-serif;
	color: rgb(219, 229, 229);
	padding-top: 0.4em;
}
body > footer *:last-child {
	padding-bottom: 1em;
}

/* -- Manipulated DOM -- */

/*Settings page*/
#settingsScreen {
	background: url(img/guard/steel-plate.png);
	color: white;
	font-family: 'Segoe UI', 'Helvetica Neue', 'Open Sans', sans-serif;
	text-shadow: 0 0 1px rgba(0,0,0,0.7);
}

#settingsScreen h1, #settingsScreen h2 {
	color: rgb(232, 232, 232);
}
#settingsScreen label {
	color: rgb(136, 177, 225);
	font-weight: bold;
}
#settingsScreen select {
	background-color: rgb(38, 38, 38);
	color: rgb(116, 170, 223);
	border-color: rgb(142, 142, 142);
}
.setting_more_details {
	color: rgb(221, 221, 221);
}
/* Quick reply */
#qrDisplayButton {
	display: inline-block;
	position: relative;
	font: 150% "Rockwell", "Courier Bold", sans-serif;
	color: white;
	background: rgb(53, 171, 214)
		linear-gradient(to bottom,
			rgb(61, 182, 227),
			rgb(46, 161, 202));
	box-shadow: inset 0 1px 0 rgb(128, 210, 241);
	border: 1px solid rgb(26, 112, 144);
	border-radius: 0.5em;
	padding: 0.3em 0.8em;
}
#qrDisplayButton:active {
	top: 1px;
	background: linear-gradient(to bottom,
		rgb(47, 162, 203),
		rgb(62, 183, 228));
}


/* Thread watcher */
#watcherScreen {
	background: url(img/guard/dark-canvas.png);
	border-width: 1px 1px 1px 6px;
	border-color: rgb(45, 67, 80);
	color: rgb(246, 246, 246);
}
#watcherScreen h2 {
	color: rgb(211, 203, 228);
}
@media (min-width: 800px) {
	#watcherScreen {
		right: 86px;
	}
}
.wtop {
	font-size: 110%;
}
.wlink, .wlink:visited {
	color: rgb(120, 209, 230);
}
.wlinkpart + .wname::before {
	/* The element is always there. If no nickname is given, it'll leave
		you an empty element. */
	color: rgb(218, 218, 218);
	font: normal 100% "Open Sans", "Calibri", sans-serif;
}
.wremove, .settings-close-button {
	padding: 0.05em 0.3em;
	border: 1px outset rgb(242, 84, 84);
	color: rgb(242, 84, 84);
	background-color: rgb(52, 52, 52);
}
.wremove:hover, .settings-close-button:hover {
	opacity: 1;
	color: rgb(249, 179, 165);
}
.wremove:active, .settings-close-button:active {
	color: white;
	background-color: black;
}
.wthread {
	border-bottom: 1px dashed rgb(203, 203, 203);
}
.settings-close-button {
	padding: 0.3em 0.4em;
}
/* Other pages */
.ban, .homeblock {
	border-color: #4a70ac;
}

/* Home */
.homepage > header {
	margin: -1rem -1rem 0 !important;
	padding: 4rem 1.3rem 1rem;
	box-shadow: 0 0.1rem 1rem rgba(0,0,0,0.5);
	background:
		linear-gradient(to bottom,
			rgba(0,0,0,0.0) 75%,
			rgba(0,0,0,0.3)),
		url(img/guard/banner-tile.png) repeat-x, rgb(140, 14, 17);
}
.homepage .top {
	background: linear-gradient(to bottom,
		rgb(138, 15, 18),
		rgb(100, 11, 14));
	box-shadow: none;
}
.homepage > header h1 {
	color: white;
	text-shadow: 	1px 1px 1px rgb(69, 69, 69),
					0 0 1.5rem rgba(255,255,255,0.2);
	display: block;
	font: bold 5em Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
	text-transform: lowercase;
}
.homepage > header .subtitle {
	font: italic bold 180%/170% 'Segoe UI', 'Helvetica Neue', 'Open Sans', sans-serif;
	background: none;
	text-align: center;
	color: rgb(229, 201, 202);
}
.homepage > hr {
	display: none;
}
.homeblock, .homepage .bottom {
	border: 1px solid rgb(191, 191, 191);
	padding: 0.2rem;
	background: rgb(247, 247, 247);
	font: normal 100%/150% 'Segoe UI', 'Helvetica Neue', 'Open Sans', sans-serif;
	text-shadow: 1px 1px rgba(255,255,255,0.2);
	box-shadow: inset 0 0 0 0.2rem rgb(226, 226, 226),
				0 0 1rem 0.3rem rgba(0,0,0,0.05);
	transition: max-width 0.5s ease-in-out;
}
.homeblock > h2 {
	background: rgb(132, 172, 218)
		linear-gradient(to bottom,
			rgb(141, 183, 234),
			rgb(119, 155, 197));
	color: white;
	border: 1px solid rgb(91, 120, 156);
	padding: 0.1em 0.3em;
	margin: 0;
}
.homeblock h3, .homeblock h4, .homeblock h5 {
	margin-bottom: 0.3em;
}
.homeblock li {
	margin-left: 1em;
}
.homeblock > p, .homeblock > h3, .homeblock div, .homeblock > h4, .homeblock > h5 {
	padding: 0 1rem;
	margin: 0.5em 0;
}
.mainhomeblock {
	font: 130%/130% 'Segoe UI', 'Helvetica Neue', 'Open Sans', sans-serif;
}
.newsitem {
	background: url(img/guard/note-icon.png) top right no-repeat;
}
.homepage .bottom {
	margin: 1.25em;
	padding: 0.7em;
	text-align: center;
}
