@namespace url(http://www.w3.org/1999/xhtml);

/*@-moz-document domain("ponychan.net") {*/

  /**
 * Midnight.css
 * For Ponyville by Starshine
 *
 * Modified from dark.css
 * For AwsumChan by Circlepuller
 */

body, div.options_tab, div#options_tablist, div#options_div, #settingsScreen, #watcherScreen {
	background: #110011;
	color: white;
	border-color: #999999;
}
body, .expanded-post-container, .expanded-post-container:hover {
	color: #BBBBBB;
	font-size: 12px;
	font-family: sans-serif;
}
a, a:visited {
	color: #CCCCCC;
	text-decoration: none;
}
a:hover {
	color: #fff !important;
}
h1 {
    color: yellow;
	font: bold 20pt serif;
	text-align: center;
	letter-spacing: 0px;
}

h2, header div.subtitle, p.intro a.email:hover span.name{
    color: yellow !important;
}
hr {
	height: 1px;
	border: #333333 1px solid;
}
	
div.banner a.unimportant {
		color:yellow;
	}
	
	span.name {
		color:lavender;
	}

div.boardlist,.boardlist.top {
	height: 24px;
	color: #999999;
	background-color: rgba(12%, 12%, 12%, 0.10);
}
.desktop-style div.boardlist:not(.bottom),.boardlist.top  {
	text-shadow: black 1px 1px 1px, black -1px -1px 1px, black -1px 1px 1px, black 1px -1px 1px;
	background-color: rgba(30%, 0%, 30%, 0.65);
}
.desktop-style div.boardlist:not(.bottom):hover,.boardlist.top:hover {
	background-color: rgba(30%, 0%, 30%, 0.65);
}

	.boardlist.top .boardlistpart a {
		font-size: 12px;
	}
	
	.boardlist.top .boardlistpart a.boardlistactive {
		border-top: 0px !important;
		color: white;
		font-weight: bold;
		background: transparent;
	}
	
	.boardlist.top .boardlistpart a:hover, .boardlist.top .watcherButton.open {
		background: #4B114B;
		height: 12px;
	}
	
	.boardlist.bottom {
		background: transparent;
	}
	
	
	
div.banner {
	background: rgba(0%,0%,0%,0);
	color: yellow;
	text-align: center;
	width: 250px;
	padding: 4px;
	padding-left: 12px;
	padding-right: 12px;
	margin-left: auto;
	margin-right: auto;
	font-size: 12px;
}
div.banner a {
	color:#000;
}
div.banner a:hover {
	color: #fff !important;
}


div.pages {
	color: #CCCCCC;
	background: #110011;
	border: #666666 1px solid;
	font-family: sans-serif;
	font-size: 10pt;
}
div.pages a.selected {
	color: #CCCCCC;
}

	div.body {
		color: #CCCCCC;
	}

input[type="text"], textarea, select {
	background: #220022;
	color: #CCCCCC;
	border: #666666 1px solid;
	padding-left: 5px;
	padding-right: -5px;
	font-family: sans-serif;
	font-size: 10pt;
}
input[type="password"] {
	background: #220022;
	color: #CCCCCC;
	border: #666666 1px solid;
}
input[type="submit"], #qr button {
	background: #330022;
	border: #888888 1px solid;
	color: #CCCCCC;
}
input[type="submit"]:hover, #qr button:hover {
	background: #550045;
	border: #888888 1px solid;
	color: yellow;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="text"]:focus, textarea:focus, select {
	border: #aaa 1px solid;

}
#qr button:not(#qrfileremove), #qr input[type='submit'] {
	background: #220022;
	border: 1px solid #888;
	border-radius: 0;
	box-shadow: inset 0 0 1px 1px #000000;
	color: #ccc;
	text-shadow: 0 1px 0 #000;
}
#qr input[type='submit'], #qr input[type='submit']:hover {
	border-color: #b468bf;
}
#qr button:not(#qrfileremove):hover, #qr input[type='submit']:hover {
	background: #550045;
	border: 1px solid #888;
	border-radius: 0;
	box-shadow: inset 0 0 1px 1px #000000;
	color: yellow;
	text-shadow: 0 1px 0 #000;
}
form table tr th {
	background: #220022;
	color: #CCCCCC;
	font-weight: 800;
	text-align: left;
	padding: 0;
}
	
	.thread hr {
		border-color: #333333;
	}

	div.ban {
		background: #220022;
		color: #CCCCCC;
	}
	div.ban h2 {
		background: #330033;
		color: yellow;
	}
	
	input.delete { /* the post checkboxes */
		position: relative;
		top: 2px;
		left: 2px;
	}
	div.ban h4, header h1, p.intro span.subject {
		color: yellow;
	}
	
	span.name, .name, p.intro span.name {
		color: lightgreen;
	}
	
	p.intro a.email span.name {
		color: lavender;
	}
	
	.intro .subject, p.intro a.email span.name:hover, span.heading {
		color: yellow;
	}
	
	.boardlist.top .boardlistpart a[href="/"] {
		color: #DDD;
	}

.post.reply, div.post.reply, .post.reply .post-hover {
	background: #220022;
	border: #555555 1px solid;
	border-radius: 10px;
}
	  .post.highlighted {
    background: #400045;
  }
.post.reply.highlighted, div.post.reply.highlighted {
	background: #3A003A;
	border: transparent 1px solid;
}
	
	.post.highlighted {
		background: transparent;
	}
	
	.post-inline, .post-hover {
		border: #110011 1px solid !important;
		box-shadow: 1px 1px 1px 1px transparent !important
	}

.post.reply:not(.inline) {
    border-width:0;
    max-width: 94%;
	}

.intro .name {
	font-weight: 800;
}
a.email, a.email .name, a.email:hover, a.email:hover .name {
	color: #32ddaf;
}
span.trip {
	color: lightgreen;
}
a.email .name {
	color: #CCCCCC;
}
.intro .post_no {
	color: #AAAAAA;
	text-decoration: none;
}
.intro .post_no:hover {
	color: #32DD72 !important;
	text-decoration: none;
}
	
	 #qrDisplayButton {
		color: yellow;
	}

	div.blotter {
		color: white;
	}
	
	.hashtag {
		background: linear-gradient(#3A003A, #220022);
		margin-bottom: 4px;
	}
	
	.hidetogglebutton, div.pages button {
		background: linear-gradient(#3A003A, #220022);
	}
	
.fileinfo a:hover {
	text-decoration: underline;
}

.post .body a, .post .body a:visited, .post > :not(.body) a {
	color: #CCCCCC;
}
.post .body a:hover {
	color: #32DD72 !important
}

span.quote {
	color:#B8D962;
}

span.upquote {
    color:magenta;
}

span.handle {
    background: #150015;
}

.ban {
	background-color: transparent;
	border: transparent 0px solid;
}
.ban h2 {
	background: transparent;
	color: lime;
	font-size: 12px;
}

#options_div, #alert_div {
	background: #333333;
}
.options_tab_icon {
	color: #AAAAAA;
}
.options_tab_icon.active {
	color: #FFFFFF;
}



table.modlog tr th {
	background: #333333;
	color: #AAAAAA;
}

.report {
	color: #666666;
}

#qr, .qrthumb {
	background-color: #220022;
	color:white !important;
	border-color: #555555 !important;
	border: 1px 1px 1px 1px;
}
	
	#qrfileremove {
		background-color: transparent !important;
		border: 0px !important;
	}
	
	.qrremovethumb {
		opacity: 0.5 !important;
	}
	
	#qr textarea {
		border-bottom-color: #555555;
	}
	
	#qr textarea:focus {
	
	}
	
	#qrimageswrapper, #qraddimage {
		overflow-x: hidden;
		background: #110011;
		color: white;
		min-height: 72px;
	}
	
	#qrmove {
		background-color: #330022;
	}
	
	#qr label {
		color: white;
	}
#quick-reply th {
	
}
	.hidetext {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0px 0px;
    padding: 5px;
    margin: 5px;
    overflow: hidden;
    transform-origin: center top 0px;
    transform: scaleY(1);
    transition: transform 0.25s ease-in-out 0s, margin 0.25s ease-in-out 0s, padding 0.25s ease-in-out 0s, height 0.25s ease-in-out 0s;
}

  
/*}*/
