@import "common/pony-kusaba.css?t=1516991469";
@import "common/serif.css?t=1516991469";

body, .boardpage {
	background: #eee;
	color: #333;
	font-family: trebuchet ms, Trebuchet, serif
}

a, a:visited {
	color: #f60
}

a:hover {
	color: #06f
}

.banner {
	background: #bbb;
}

header h1 {
	font-family: trebuchet ms, Trebuchet, serif;
	font-weight: 700;
}

header, header h1, .subtitle {
	color: #333;
}

.footer {
	text-align: center;
	font-size: 12px;
	font-family: serif;
	margin: 2em 0 0
}


.unkfunc {
	background: inherit;
	color: #789922
}

.post_no {
	color: #333;
	font-size: .8em;
	font-weight: 700
}

.morefileinfo {
	text-decoration: none;
	color: #666;
	
}

.filetitle {
	background: inherit;
	font-size: 1.2em;
	color: #024;
	font-weight: 700
}

span.name {
	color: #004a99;
	font-weight: 700
}

span.trip {
	color: #f30
}

.oldpost {
	color: #cc1105;
	font-weight: 700
}

.omittedposts {
	color: #666
}

.reply, .pages {
	background: #ddd;
	border: solid 1px #ccc;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


.doubledash {
	display: none;
	vertical-align: top;
	clear: both;
	float: left
}

.replytitle {
	font-size: 1.2em;
	color: #024;
	font-weight: 700
}

.commentpostername {
	color: #004a99;
	font-weight: 800
}

.thumbnailmsg {
	font-size: .8em;
	color: #666
}

hr {
	border-style: solid none none none;
	border-width: 1px;
	border-color: #bbb
}

table {
	border-style: none
}

table td {
	border-style: none
}

.nothumb {
	background-color: #fff;
	border-style: dotted;
	margin: .3em .5em
}

.abbrev {
	color: #666
}

.highlight {
	background: #eedacb;
	color: #333;
	border: 2px dashed #e60
}