@import "common/bw-spoilers.css?t=1518146084";
body {
	background: #EEF2FF url('img/fade-blue.png') repeat-x 50% 0%;
	color: black;
	font-family: serif;
	font-size: 16px;
}
header h1, #settingsScreen h1 {
	font-family: sans-serif;
	font-size: 30pt !important;
}
.subtitle {
	font-size: 14pt !important;
}
.homepage header h1 {
	font-size: 40pt !important;
}
.homeblock h2 {
	font-size: 24px;
}
div.boardlist {
	font-size: 11pt;
}
.help-bubble {
	background-color: rgb(196, 206, 232);
}
