/**
 * rainbow-dash.css
 *
 * Created on 2/21/2015
 * Based off the theme from old Ponychan. Originally by rossy.
 *
 *
 **/


@import "common/pony-kusaba.css?t=1516991470";
@import "common/razor-buttons.css?t=1516991470";

/* Fonts */
@font-face {
	font-family: 'Allan';
	src: url(font/allan-bold.woff) format('woff');
}

body {
    background:
    url("img/rainbow-dash/rd-in-clouds.png") no-repeat right top,
    url("img/rainbow-dash/bg.png") repeat-x right top,
    linear-gradient(to bottom, rgb(200, 231, 248) 0px, rgb(217, 244, 254) 400px);
    background-color: rgb(210, 238, 251);
	font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
}
/* Indiscriminate tags */

a, a:visited, a:active, .banner a.unimportant, .banner a:hover {
    color: rgb(197, 28, 113);
}
form a, form a:visited, form a:active {
    color :rgb(0,0,208);
}
form a:hover {
    color : rgb(0, 0, 230);
}
a:hover, a.bodylink:hover {
    color: rgb(211, 84, 148);
}
input[type=text], input[type=password], textarea {
    border: 1px solid #90a0d0;
    transition: all .25s ease-in-out;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
    border: 1px solid #0020c0;
}
hr {
    border-color: #c0c0c0;
}
*::-webkit-input-placeholder {
    color: rgb(119, 131, 168);
}
*:-moz-placeholder { /* Firefox 18- */
    color: rgb(119, 131, 168);
}
*::-moz-placeholder {  /* Firefox 19+ */
    color: rgb(119, 131, 168);
}
*:-ms-input-placeholder {
    color: rgb(119, 131, 168);
}


/* Setting the color scheme */
.wthread, .hashtag {
    background-color: rgb(243, 250, 254);
}
h1, h2, h3, h4, h5, h6 {
    color: #000080;
}
.heading {
    color: #A92D8C;
}
header h1 {
    color: black;
    font-family: "Allan", sans-serif;
    text-shadow: 0 0 0 rgb(233, 247, 253),
                 -70px 0 5px rgba(255, 0, 0, 0.2),
                 -40px 0 5px rgba(255, 165, 0, 0.2),
                 -10px 0 5px rgba(255, 255, 0, 0.2),
                 20px 0 5px rgba(0, 255, 0, 0.2),
                 50px 1px 5px rgba(0, 0, 255, 0.2),
                 90px 1px 5px rgba(165, 0, 255, 0.2) !important;
}
.top, #qrmove, #updateSettings {
    color: white;
    background-color: rgb(18, 53, 85) !important;
}
.top a, #qrmove a {
    color: #DADCF0;
    border-color: #45a;
}
.top a:hover, #qrmove a:hover {
    color: #e8f0ff;
}



/* Navigation bar */
.top {
    background-color: rgb(18, 53, 85);
}
.top a {
    color: #D1D4F2;
    border-top: 3px solid rgb(42, 73, 102);
}
.top a:hover {
    background-color: rgba(0,0,0,0.3);
}
.top a:nth-of-type(6n+1):hover, .top .boardlistactive:nth-of-type(6n+1) {
    border-top-color: rgb(252, 151, 157);
}

.top a:nth-of-type(6n+2):hover, .top .boardlistactive:nth-of-type(6n+2) {
    border-top-color: rgb(252, 183, 151);
}

.top a:nth-of-type(6n+3):hover, .top .boardlistactive:nth-of-type(6n+3) {
    border-top-color: rgb(252, 249, 150);
}

.top a:nth-of-type(6n+4):hover, .top .boardlistactive:nth-of-type(6n+4) {
    border-top-color: rgb(189, 252, 151);
}

.top a:nth-of-type(6n+5):hover, .top .boardlistactive:nth-of-type(6n+5) {
    border-top-color: rgb(151, 222, 252);
}

.top a:nth-of-type(6n):hover, .top .boardlistactive:nth-of-type(6n) {
    border-top-color: rgb(239, 151, 252);
}
.top .boardlistactive {
    padding-top: 6px;
}
.top .boardlistactive, .watcherButton.open {
    background: inherit;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.8);
    text-shadow: 0 0 2px rgba(0,0,0,0.6);
}
.top a[href="/"] {
    color: #D1D4F2;
}


div.banner {
    background: rgba(63, 121, 139, 0.1);
    color: #fff;
}
/* override the white font in style.css */
div.banner a {
    color: inherit;
}
div.banner .unimportant {
    float: left;
    font-size: 90%;
    letter-spacing: normal; /* This will revert the spacing on the links*/
}
div.banner .unimportant + .unimportant {
    float: right;
}

body > header {
    padding-top: 3em;
}
body > header h1 {
    font-weight: normal;
}
.subtitle {
    font: bold oblique 80%/130% sans-serif;
    letter-spacing: 1px;
    color: rgb(189, 71, 56); /* This should match her eye color */
}


/* Post form */
form th {
    text-align: right !important;
}
form th, .reply, .catathread {
    border-radius: 0.5rem 0;
}
.help-bubble {
    background-color: rgb(158, 211, 236);
}
input[type=text], input[type=email], input[type=search],
input[type=password], textarea, #watcherScreen {
    border-radius: 3px 0;
}

/* Rainbow row headers */
th {
	background-color: rgb(178, 227, 242);
	border: 1px solid rgb(154, 200, 214);
}
tr:nth-of-type(6n+1) th {
    background-color: rgb(252, 151, 157);
    border-color: rgb(126, 75, 78);
}

tr:nth-of-type(6n+2) th {
    background-color: rgb(252, 183, 151);
	border-color: rgb(126, 91, 75);
}

tr:nth-of-type(6n+3) th {
    background-color: rgb(252, 249, 150);
	border-color: rgb(126, 124, 75);
}

tr:nth-of-type(6n+4) th {
    background-color: rgb(189, 252, 151);
	border-color: rgb(94, 126, 75);
}

tr:nth-of-type(6n+5) th {
    background-color: rgb(151, 222, 252);
	border-color: rgb(75, 111, 126);
}

tr:nth-of-type(6n) th {
    background-color: rgb(239, 151, 252);
    border: 1px solid rgb(119, 75, 126);
}

/* Announcements */
div.blotter {
    color: rgb(56, 56, 155);
}

/* Posts */
.reply, .hashtag, .catathread {
    border: 1px solid rgb(169, 174, 177);
}
.reply, .help-details, #watcherScreen, .catathread {
    background-color: rgb(232, 246, 252);
}
.subject, .wsubject {
    color: rgb(16, 16, 224);
    font-weight: normal;
    font-style: italic;
}
.name, .email .name, .email:hover .name, .wname {
    color: rgb(32, 48, 144) !important;
}
.email {
    border-bottom: 1px dashed #6080e0;
}
.trip, .wtrip {
    color: rgb(64, 96, 176);
}
a.post_no, .post_no:visited {
    color: #09147E;
}
a.post_no:hover {
    color: #2F3CC2;
}
.fileinfo {
    font-size: 80%;
}
.reply .fileinfo {
    line-height: 120%;
}
.reply.highlighted {
    background: rgba(255, 255, 255, 0.9)
                url("img/rainbow-dash/highlight.png") no-repeat bottom left;
    transition: background-color 0.4s ease-out;

}
.reply.highlighted .body {
    padding-left: 1em;
    transition: padding 0.4s cubic-bezier(.3,-0.23,.29,1);
}
.reply.highlighted .postimg {
    margin-left: 1em;
    transition: margin 0.4s cubic-bezier(.3,-0.23,.29,1);
}
.op .delete {
    /* Realigns the checkboxes */
    margin-top: 4px;
}
.omitted, .toolong {
    color: rgb(64, 64, 64);
}
.hashtag {
    color: rgb(117, 122, 152);
    text-transform: lowercase;
    border-radius: 0.5rem 0;
}
a.bodylink, a.bodylink:visited {
    color: #CA1C57;
}
.quote {
    color: rgb(74, 134, 30);
}


/* Footer */
.pages {
    background: transparent;
    border: none;
}
.boardlist.bottom {
    font-size: 120%;
}
body > footer{
	border-color: rgb(169, 174, 177);
}



/* -- Front page specifics -- */
.homepage {
    background: rgb(232, 247, 254);
}
.homepage header {
    margin: 0 -1em !important;
    background: rgb(241, 250, 255);
    border-bottom: 1px solid rgb(185, 210, 221);
}
.homepage header h1 {
    font-size: 6em;
}
.homepage header + hr {
    display: none;
}
.homeblock {
    margin: 1.3em auto;
    padding: 1.5em;
    border-radius: 1.5em;
    box-shadow: inset 1px 1px 2px rgb(248, 253, 255);
}
.homeblock h2 {
    display: inline-block;
    background-color: rgb(232, 247, 254);
    padding: 0.3em 0.3em 0.2em;
    position: absolute;
    margin: -1.8em 0.6em;
}

.boardlinks {
  text-align: left;
}



/* -- Manipulated DOM -- */

/*Settings page*/
#settingsScreen {
    box-shadow: 0 0 3em rgba(0,0,0,0.4);
    border-radius: 2rem 0 0 0;
    border: 1px solid rgb(131, 159, 171);
    background-image: linear-gradient(to bottom, rgb(229, 229, 229), rgb(215, 215, 215));
    color: rgb(123, 123, 123);
}
#settingsScreen label {
    color: rgb(67, 102, 115);
    font-size: 105%;
    /* font-weight: bold; */
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
}

#settingsScreen h1 {
    font: 2em "Allan";
    background-color: rgb(23, 67, 105);
	border-radius: 1.7rem 0 0 0;
    text-shadow: 0 -2px 2px rgba(0,0,0,0.2);
    padding: 0.1em;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.2));
    margin: -2px -1px;
    color: rgb(194, 194, 194);
    font-weight: normal;
    text-transform: lowercase;
}
#settingsScreen h2 {
    color: rgb(57,95,129);
}
.settings-close-button {
	right: 10px;
    color: rgb(208, 208, 208);
}

/* Thread search */
#threadsearchbox {
    font-size: 100%;
}

/* -- Quick Reply -- */

/* Toggle */
#qrtoggleoptions label {
    text-transform: lowercase;
    font-size: 150%;
    font-weight: bold;
    color: rgb(29, 66, 100);
}
#qrDisplayButton {
    text-transform: lowercase;
    color: rgb(196, 86, 140);
    letter-spacing: 0px;
    transition: letter-spacing 0.5s cubic-bezier(.64,-0.81,.36,1.34),
                color 0.3s ease-in-out;
}
#qrDisplayButton:hover {
    letter-spacing: 2px;
    color: rgb(211, 133, 176);
}
#qrDisplayButton:before {
    content: "[";
    margin-right: 2px;
    transition: margin 1s cubic-bezier(.45,-0.15,.19,1.14);
}
#qrDisplayButton:hover:before {
    margin-right: 8px;
}
#qrDisplayButton:after {
    content: "]";
    margin-left: 2px;
    transition: margin 1s cubic-bezier(.45,-0.15,.19,1.14);
}
#qrDisplayButton:hover:after {
    margin-left: 8px;
}

/* QR box */
#qraddimage {
    color: inherit;
}
.qrremovethumb {
    color: #fff;
}


/* Posts*/
.post-hover {
    line-height: 110%;
}
.wthread, .post-hover {
    background-color: rgb(232, 246, 252);
}

/* Thread watcher */
#watcherScreen {
    color: inherit;
    margin: 0;
    right: 0;
    border-radius: 0;
    border-color: rgb(107, 119, 169);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    font-size: inherit;
}
.wlink {
    color: rgb(197, 28, 113);
}
.wthread {
    border-bottom: 1px dashed gray;
}
.wpost {
    color: #000;
}
.wname::before {
    color: #607ba3;
}
.post-inline {
    /* This should make the inline posts brighter depending on how deep it's nested. */
    background-color: rgba(255,255,255,0.05);
    box-shadow: none;
}

/* Countdown */
#updateSettings {
    color: white;
    padding: 0.5em;
    border-radius: 2rem 0 0 0;
    border: 1px solid rgb(169, 174, 177);
    border-width: 1px 0 0 1px;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
}
#updateSettings input {
    margin: 0.2em;
}
