/**
 * scootaloo
 *
 * Created on 3/27/2015
 * Ported from old Ponychan. Originally written by Solen.
 *
 *
 */

@import "common/pony-kusaba.css?t=1516991470";

/* Fonts */
@font-face {
	font-family: 'Cousine';
	src: local('Cousine'),
	url(font/cousine.ttf) format('ttf');
}
@font-face {
	font-family: 'Celestia';
	src: url(font/cousine.ttf) format('ttf');
}

/* Indiscriminate tags */
body {
	background: url(img/scootaloo/bgimage.png)
			bottom 80px right 30px no-repeat,
		radial-gradient( at bottom 270px right 230px,
			rgb(245, 222, 217),
			rgb(249, 208, 182),
			rgb(229, 198, 168));
}
a, a:visited, a:active, a.bodylink, .banner a, .banner a:visited, .banner a:hover {
	color: rgb(50, 50, 165);
}
a:hover, a.bodylink:hover {
	color: rgb(2, 2, 255);
}
hr {
	border-top-color: rgb(208, 140, 92) !important;
}
input[type=text], input[type=password], textarea {
	border: 1px solid #90a0d0;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
	border: 1px solid #0020c0;
}
th {
	background: rgb(230, 119, 45);
	border-radius: 0.2rem;
}

/* -- Setting the common color scheme -- */
/* Heading colors */
h1, h2, h3, h4, h5, h6, header h1, .heading {
	font-family: 'Open Sans', sans-serif;
	color: rgb(111, 67, 137);
}
/* Head bar backgrounds */
.top, #qrmove, .ban h2 {
	background: rgb(125, 19, 55);
}
/* Head bar links */
.top a, .top a:visited, #qrmove a, #qrmove a:visited {
	color: rgb(234, 133, 151);
}
/* Head bar links on hover */
.top a:hover, #qrmove a:hover, .top .boardlistactive, .top .boardlistactive:visited {
	color: #da8951;
}
/* Block items */
.reply, .help-details, #watcherScreen, .post-hover, .hashtag, .pages, .catathread, #updateSettings {
	background-color: rgb(245, 185, 144);
	border-color: rgb(230, 120, 47);
}


/* Navigation bar */
.top a:hover {
	background: rgb(63, 2, 84);
}
.top .boardlistactive, .watcherButton.open {
	border-color: #dda1a1;
}
.top a[href="/"] {
	color: rgb(255, 228, 246);
}


/* -- Board Page header -- */
/* Board headline */
body > header h1 {
	font-family: "Ravie", serif;
	text-shadow: 0.05rem 0.05rem 0.1rem rgb(54, 10, 90);
}
/* Board description */
.subtitle {
	font-family: "Celestia", "AR Christy", serif;
	color: rgb(181, 83, 114);
	text-shadow: 0.05rem 0.05rem 0.1rem rgb(246, 220, 211);
}
.help-bubble {
	background-color: rgb(236, 146, 98);
}
/* 'Posting mode: reply' bar */
div.banner {
	background: #e6ad89;
	color: white;
}


/* Posts */
.post {
	line-height: 140%;
}
.reply, .wthread, .post-hover, .hashtag, .pages, .catathread, #updateSettings {
	line-height: 150%;
	padding: 3px;
}

.postHider {
	margin-top: -2px;
}
.intro {
	margin: 0;
}
.subject, .wsubject {
	color: rgb(126, 21, 56);
	font-weight: normal;
	font-style: italic;
}
.name, .email .name, .email:hover .name, .wname {
	color: rgb(44, 69, 148);
	font-weight: bold;
}
.email {
	border-bottom: 1px dashed #577be4;
}
.trip, .wtrip {
	color: rgb(58, 88, 187);
	font: 1.1em "Cousine", monospace;
}
a.post_no {
	color: #c24463;
}
a.post_no:hover {
	color: #d97895;
}
.fileinfo {
	font-size: 80%;
}
.reply .fileinfo {
	line-height: 120%;
}
.reply.highlighted {
	background: rgb(243, 200, 161);
	border-style: solid none none solid;
	border-color: rgb(201, 189, 67);
}
.op .delete {
	/* Realigns the checkboxes */
	margin-top: 4px;
}

.quote {
	color: rgb(116, 69, 89);
}
.orangetext {
	color: #e00063;
}

/* Footer */
.pages {
	padding: 0.5em;
	color: inherit;
}


/* -- Manipulated DOM -- */

/*Settings page*/
#settingsScreen h1, #settingsScreen h2 {
	color: rgb(176, 32, 133);
}

/* Quick Reply */
#qrtoggleoptions label {
	text-transform: lowercase;
	font-size: 150%;
	font-weight: bold;
	color: rgb(29, 66, 100);
}
#qrDisplayButton {
	text-transform: lowercase;
	color: rgb(196, 72, 124);
	letter-spacing: 0px;
	transition: letter-spacing 0.5s cubic-bezier(.64,-0.81,.36,1.34),
	color 0.3s ease-in-out;
}
#qrDisplayButton:hover {
	letter-spacing: 2px;
	color: rgb(211, 133, 176);
}
#qrDisplayButton:before {
	content: "[";
	margin-right: 2px;
	transition: margin 1s cubic-bezier(.45,-0.15,.19,1.14);
}
#qrDisplayButton:hover:before {
	margin-right: 8px;
}
#qrDisplayButton:after {
	content: "]";
	margin-left: 2px;
	transition: margin 1s cubic-bezier(.45,-0.15,.19,1.14);
}
#qrDisplayButton:hover:after {
	margin-left: 8px;
}


/* Thread watcher */
#watcherScreen {
	border-color: rgb(167, 70, 120);
}
.wname:before {
	/* The element is always there. If no nickname is given, it'll leave
		you an empty element. */
	color: gray;
}

/* Other pages */
.ban, .homeblock {
	border-color: #d08d5d;
}
.homepage > header h1 {
	text-shadow: 0.05rem 0.05rem 0.1rem rgba(252, 250, 255, 0.5);
}
