/**
 * scratch.css
 *
 * Created on 3/26/2015
 * Ported from old Ponychan. Originally written by LoveFluttershy.
 *
 *
 */
/* Imports */
@import "common/pony-kusaba.css?t=1516991470";
@import "common/ghost-buttons.css?t=1516991470";
@import "common/enigma-settings.css?t=1516991470";
@import "common/paper-footer.css?t=1516991470";

/* Fonts */
@font-face {
	font-family: 'Ubuntu';
	src: url("font/ubuntu.woff") format('woff');
}
/* Indiscriminate tags */
body {
	background: white url(img/scratch/bg.png) right center repeat-y;
}

/* All links, including the ref-links inside the post body. */
a, a:visited, a:active, a.bodylink, .banner a, .banner a:visited, .banner a:hover {
	color: rgb(2, 2, 208);
}

/* Mouse over link */
a:hover, a.bodylink:hover {
	color: rgb(81, 40, 106);
}

/* Set the border here */
input[type=text], input[type=password], textarea {
	border: 1px solid black;
}

/* What color do you want the border to glow here */
input[type=text]:focus, input[type=password]:focus, textarea:focus {
	outline: 2px solid rgb(52, 122, 191);
}
hr {
	border-color: rgb(192, 192, 192);
}
/* Table headers, including the post form */
/* as well as many staff dashboard headers */
th {
	background-color: rgb(111, 206, 244);
	text-shadow: 1px 1px 2px rgba(255,255,255,0.3);
}

/* -- Setting the common color scheme -- */
/* Heading colors */
h1, h2, h3, h4, h5, h6, header h1, .heading {
	letter-spacing: -1px;
	font-family: "Adobe Caslon Pro", "Times New Roman", serif;
	font-weight: bold;
	text-transform: lowercase;
	color: rgb(67, 12, 50);
}

/* Head bar backgrounds */
.top, #qrmove, .ban h2 {
	background: rgb(79, 161, 254)
		linear-gradient(to right, white 15em, rgb(80, 162, 254));
	color: white;
}
#qrmove {
	background: rgb(79, 161, 254)
		url(img/scratch/navbar.png) left no-repeat;
}

/* Head bar links */
.top a, .top a:visited, #qrmove a, #qrmove a:visited {
	color: black;
}

/* Head bar links on hover */
.top a:hover, #qrmove a:hover {
	color: rgb(255, 194, 249);
}
.top .boardlistactive, .top .boardlistactive:visited {
	color: rgb(168, 106, 162);
}
.top .boardlistactive:hover {
	background-color: white !important;
}

/* Block items */
.reply, dialog, .help-details, #watcherScreen, .post-hover, .pages, .catathread, #updateSettings, #settingsScreen {
	background-color: rgb(174, 221, 237)
}

/* -- Navigation bar -- */
.top a:hover {
	background-color: rgb(167, 97, 201);
}

/* set the border-color property to show that the button is 'lit' */
.top .boardlistactive, .watcherButton.open {
	border-color: rgb(221, 120, 221);
	box-shadow: inset 0 0 1em rgba(0,0,0,0.2);
}

/* Color of the 'home' link */
.top a[href="/"] {
	color: rgb(44, 93, 159);
	text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
}

/* Toggle links on the right */
.top .watcherButton, .top .settingsButton {
	color: rgb(34, 39, 59);
}
/* Settings page */
#settingsScreen {
	background: rgb(224, 232, 232)
	linear-gradient(to bottom,
			rgb(235, 237, 239),
			rgb(219, 222, 220));
	text-shadow: 1px 1px 2px rgba(255,255,255,0.5);
}
/* Settings headers */
#settingsScreen h1, #settingsScreen h2 {
	/* Color */
	color: rgb(60, 91, 129);
	text-shadow: 1px 1px 2px rgba(228, 226, 229,0.4);
}
#settingsScreen h1 {
	background: rgb(223, 221, 221)
	linear-gradient(to bottom, rgb(228, 230, 230), rgb(205, 203, 206));
}
#settingsScreen select,
#settingsScreen label,
#settingsScreen option {
	color: rgb(74, 98, 124);
	text-shadow: 1px 1px 2px rgba(255,255,255,0.5);
}
.settings-close-button {
	background-color: white;
	padding: 0 0.2em;
}
/* Watcher frame. Set a bright border. */
#watcherScreen {
	border: 2px solid rgb(2, 2, 2);
}

/* the color of 'by' in watcher */
.wlinkpart + .wname:before {
	/* The element is always there. If no nickname is given, it'll leave
		you an empty element. */
	color: #256aa3;
}

/* -- Board Page header -- */
/* Board headline */


/* Board description */
body > header .subtitle {
	color: gray;
	font: bold 100% "Ubuntu", "Arial", sans-serif;
}

/* 'Posting mode: reply' bar */
div.banner {
	background-color: rgb(171, 203, 223);
}

/* -- Post form -- */
.help-bubble {
	background-color: rgb(146, 213, 239);
}
/* 'Open the Quick reply dialog' */
/* Make a good button out of this. */
#qrDisplayButton {
	color: white;
	font-weight:bold;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	text-transform: lowercase;
	background-color: rgb(108, 168, 202);
	border: 1px solid rgb(10, 40, 67);
	margin: 2em;
	padding: 0.3em 1em;
	border-radius: 0.4rem;
	position: relative;
	top: 0.5em;
}
#qrDisplayButton:hover {
	color: white;
	background-color: rgb(111, 174, 209);
	box-shadow: 0 0 0.1rem rgba(0,0,0,0.3);
}
th, .reply, .pages {
	box-shadow: 0.1rem 0.1rem 0.1rem rgba(255,255,255,0.3);
}
form[name="post"] th, .reply, .pages {
	padding: 0.4em;
}

/* Staff notice */
.blotter {
	border: 1px solid rgb(151, 90, 129);
	color: white;
	border-radius: 0.5rem;
}
.blotter {
	border: 1px solid rgb(70, 116, 140);
	color: inherit;
	background-color: rgb(204, 235, 246);
	padding: 0.5em;
	font-size: 120%;
	font-weight: normal;
}

/* -- Posts -- */
.reply {
	border-style: solid;
	border-color: rgb(83, 137, 165);
}
.wthread, .post-hover {
	padding: 3px;
}
.post-hover, .hashtag {
	border-color: black;
	background-color: rgb(125, 194, 227);
}
.hashtag {
	background-color: rgb(178, 216, 232);
	padding: 0.2em 0.9em;
}

.subject, .wsubject {
	font-family: "Philosopher", sans-serif;
	color: rgb(52, 122, 191);
	text-shadow: 1px 1px 2px rgba(255,255,255,0.3);
}

.name, .email .name, .email:hover .name, .wname {
	color: rgb(84, 24, 111);
}

.email {
	border-color: rgb(122, 71, 140);
	/* change the underline color. */
}

.trip, .wtrip {
	font-family: "Ubuntu", monospace;
	color: rgb(149, 79, 161);
}

a.post_no {
	/* Make this a deeper color than most links */
	color: rgb(40, 51, 51);
}

a.post_no:hover {
	color: rgb(94, 114, 114);
}
.reply.highlighted, .post-inline {
	border: 1px solid #5d9ab9 !important;
}
.reply.highlighted {
	/* Makes all borders solid. */
	background-color: rgb(123, 191, 223);
	box-shadow: 0 0 0.3rem rgba(0,0,0,0.2);
}
.post-inline {
	/* 	as nesting iterations approach infinity,
	 	what background color does it approach? */
	background-color: rgba(255,255,255,0.1);
}

.quote {
	color: rgb(150, 50, 192);
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.30);
}
.omitted, .toolong {
	font-style: italic;
	color: rgb(182, 211, 231);
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.40);
}

/* Footer */
.boardlist.bottom {
	color: inherit;
}


.wlinkpart + .wname:before {
	color: rgb(171, 222, 241);
}

/* The color of the ban page table */
.ban {
	border: 2px solid rgb(76, 123, 148);
}

/* Page numbers */
.pages {
	color: rgb(72, 72, 72);
}
/* homepage */
.homepage > header h1 {
	text-shadow: 	1px 1px 1px rgb(128, 84, 121),
	0 0 16px rgb(214, 175, 203);
}
.homepage hr {
	border-top: 1px solid rgb(93, 143, 172);
}
.homepage .subtitle {
	color: rgb(175, 198, 221);
	font-size: 180%;
}
.homeblock {
	border: 2px solid rgb(94, 144, 173);
	line-height: 140%;
	margin-top: 2em;
}
.homeblock > h2 + div {
	/* The body container */
	margin-top: 1em;
}
.homeblock .unimportant {
	font-family: "Lucida Console", "Monaco", "DejaVu Sans Mono", monospace;
	text-transform: uppercase;
}
