/**
 * shadowbolts
 *
 * Created on 3/26/2015
 * Ported from old Ponychan. Originally written by LoveFluttershy.
 *
 *
 */
/* Imports */
@import "common/pony-kusaba.css?t=1516991470";
@import "common/3d-buttons.css?t=1516991470";

/* Fonts */
@font-face {
	font-family: 'Molengo';
	src: url(font/molengo.woff) format('woff');
}
@font-face {
	font-family: 'Josefin Sans';
	src:    url('font/josefin-sans-bold.woff') format('woff');
}
@font-face {
	font-family: 'Ubuntu';
	src: url(font/ubuntu.woff) format('woff');
}

/* Indiscriminate tags */
body {
	background: url(img/shadowbolts/cm.png) bottom 30px right 30px no-repeat,
	radial-gradient(
			circle at bottom,
			rgb(74, 53, 105),
			rgb(74, 60, 98),
			rgb(48, 31, 72));
	color: white;
}

/* All links, including the ref-links inside the post body. */
a, a:visited, a:active, a.bodylink, .banner a, .banner a:visited {
	color: rgb(192, 207, 228);
	font-family: "Molengo", sans-serif;
}

/* Mouse over link */
a:hover, a.bodylink:hover {
	color: rgb(201, 209, 125);
}
time {
	color: rgb(192, 198, 207);
}
/* Set the border here */
input[type=text], input[type=password], textarea {
	border: 1px solid #91a1d0;
}

/* What color do you want the border to glow here */
input[type=text]:focus, input[type=password]:focus, textarea:focus {
	outline: 2px solid rgb(2, 34, 192);
}
hr {
	border-color: rgb(180, 178, 129);
	box-shadow: 0 1px 0 rgba(192, 192, 192, 0.3);
}
/* Table headers, including the post form */
/* as well as many staff dashboard headers */
th {
	background-color: rgb(50, 78, 127);
	color: rgb(188, 213, 210);
}
label {
	color: rgb(188, 213, 210);
}


/* All things with black shadows */
a, th, .op, .intro, h1, h2, h3, h4, h5, h6, header h1, .heading {
	text-shadow: 0.05rem 0.05rem black;
}


/* -- Setting the common color scheme -- */
/* Heading colors */
h1, h2, h3, h4, h5, h6, header h1, .heading {
	font-family: "Molengo", sans-serif;
	color: rgb(70, 123, 197);
}
/* Head bar backgrounds */
.top, #qrmove, .ban h2 {
	background-color: rgb(36, 23, 54);
	color: white;
}

/* Head bar links */
.top a, .top a:visited, #qrmove a, #qrmove a:visited {
	color: rgb(198, 213, 234);
}

/* Head bar links on hover */
.top a:hover, #qrmove a:hover, .top .boardlistactive, .top .boardlistactive:visited {
	color: rgb(212, 209, 152);
}

/* Block items */
.reply, .help-details, .blotter, .hashtag, #watcherScreen, .post-hover, .pages, #updateSettings, #settingsScreen {
	background-color: rgb(35, 25, 59);
}

/* -- Navigation bar -- */
.top a {
	color: #D1D4F2;
	border-top: 3px solid rgb(51, 79, 128);
}
.top a[href="/"]:hover {
	color: white;
}
.top .boardlistactive:hover {
	background-color: transparent !important;
}
.top a:not(.boardlistactive):hover {
	background-color: rgb(44, 46, 86);
}
.top a:hover, .top .boardlistactive {
	border-top-color: rgb(149, 157, 203);
}
.top .boardlistactive {
	padding-top: 6px;
}
.top .boardlistactive, .watcherButton.open {
	background: inherit;
	box-shadow: inset 0 0 10px rgba(0,0,0,0.8);
	text-shadow: 0 0 2px rgba(0,0,0,0.6);
}
.top a[href="/"] {
	color: #D1D4F2;
}



/* set the border-color property to show that the button is 'lit' */
.top .boardlistactive, .watcherButton.open {
	border-color: rgb(148, 156, 203) !important;
}

/* Color of the 'home' link */
.top a[href="/"] {
	color: rgb(255, 218, 252);
	padding-top: 3px;
}

/* Toggle links on the right */
.top .watcherButton, .top .settingsButton {
	color: rgb(231, 234, 247);
}
/* Settings page */
#settingsScreen {
	background: rgb(86, 72, 118)
	linear-gradient(to bottom,
			rgb(87, 73, 119),
			rgb(48, 31, 72));
	color: rgb(221, 221, 221);
}
/* Settings headers */
#settingsScreen h1, #settingsScreen h2 {
	/* Color */
	color: rgb(70, 123, 197);
}
.setting_more_details {
	color: rgb(231, 231, 231);
}

/* Watcher frame. Set a bright border. */
#watcherScreen {
	border: 2px solid rgb(50, 78, 127);
	border-radius: 0.75rem;
}

/* the color of 'by' in watcher */
.wname:before {
	/* The element is always there. If no nickname is given, it'll leave
		you an empty element. */
	color: gray;
}

/* -- Board Page header -- */
/* Board headline */

/* Board description */
body > header .subtitle {
	color: rgb(188, 213, 204);
	font: bold 130% "Josefin Sans", "Century", sans-serif;
}

/* 'Posting mode: reply' bar */
div.banner {
	background-color: rgb(18, 15, 31);
}

/* -- Post form -- */
/* 'Open the Quick reply dialog' */
/* Make a good button out of this. */
#qrDisplayButton {
	font-family: "Josefin Sans", "Century", sans-serif;
	color: rgb(61, 111, 170);
	text-transform: lowercase;
	background-color: rgb(62, 51, 77);
	border: 1px solid rgb(50, 78, 127);
	margin: 2em;
	padding: 0.3em 1em;
	border-radius: 0.4rem;
	position: relative;
	top: 0.5em;
}
#qrDisplayButton:hover {
	border-color: rgb(78, 110, 166);
	color: rgb(84, 119, 179);
	background-color: rgb(73, 64, 91);
	box-shadow: 0 0 0.1rem rgba(0,0,0,0.8);
}
.reply, .help-details, .post-hover, .post-inline, .pages, #settingsScreen, #watcherScreen,
#updateSettings, .blotter, .catathread, .homeblock, .hashtag {
	border: 2px solid rgb(50, 78, 127);
	border-radius: 0.75rem;
}
form[name="post"] th, .reply, .pages {
	padding: 0.4em;
}
.help-bubble {
	background-color: rgb(62, 102, 163);
}
/* Staff notice */
.blotter {
	border: 2px solid rgb(151, 90, 129);
	color: white;
}

/* -- Posts -- */
.post a {
	font-size: 110%;
}
.wthread, .post-hover {
	padding: 3px;
}
.wpost {
	color: white;
}
.hashtag {
	text-transform: none;
	font: 1.1em "Molengo", sans-serif;
	padding: 0.2em 0.9em;
	background-color: rgb(0,0,0);
}

.subject, .wsubject {
	font-family: "Molengo", sans-serif;
	color: rgb(181, 198, 233);
}

.name, .email .name, .email:hover .name, .wname {
	color: rgb(203, 218, 239);
}

.email {
	border-bottom: 1px dotted rgb(177, 213, 234);
	/* change the underline color. */
}

.trip, .wtrip {
	font-family: "Ubuntu", "Lucida Console", monospace;
	color: rgb(160, 195, 216);
}

a.post_no {
	/* Make this a deeper color than most links */
	color: rgb(234, 167, 211);
}
a.post_no:hover {
	color: rgb(234, 194, 209);
}

.fileinfo {
	font-family: "Josefin Sans", sans-serif;
	color: rgb(74, 117, 186);
}
.reply.highlighted, .post-inline {
	border: 1px solid #4567aa !important;
}
.reply.highlighted {
	/* Makes all borders solid. */
	border-color: rgb(115, 37, 102);
	background-color: rgb(22, 22, 47);
}
.post-inline {
	/* 	as nesting iterations approach infinity,
	 	what background color does it approach? */
	background-color: rgba(255,255,255,0.1);
}

.quote {
	color: rgb(159, 171, 121);
}
.omitted, .toolong {
	font-style: italic;
	color: rgb(228, 228, 228);
}

/* Footer */
.boardlist.bottom {
	color: inherit;
}


.wname:before {
	color: rgb(235, 235, 235);
}

/* The color of the ban page table */
.ban {
	border-color: rgb(167, 109, 158);
}

/* Page numbers */
.pages {
	color: rgb(50, 78, 127);
}
/* homepage */
.homepage > header h1 {
	color: rgb(70, 123, 197);
	text-shadow: 0.05rem 0.05rem black;
}
.homepage hr {
	border-top: 2px solid rgb(50, 78, 127);
}
.homepage .subtitle {
	color: rgb(165, 175, 197);
	font-size: 180%;
}
.homeblock {
	line-height: 140%;
	margin-top: 2em;
	border-color: rgb(35, 25, 59);
	overflow: hidden;
}
.homeblock > h2 + div {
	/* The body container */
	margin-top: 1em;
}
.homeblock .unimportant {
	text-transform: uppercase;
}
