
/* All vendor specifics are stripped in this dev version. */
/**/

@font-face {
	font-family: 'Comic Neue';
	src: url(font/ComicNeue-Regular.woff) format("woff");
}

/* ---------- INDISCRIMINATE SELECTORS ---------- */

/* --- Indiscriminate tag selectors --- */
html, body {
	/* Make the body fill the height of the page when it isn't. */
	min-height: 100%;
}
body {
	background: #EEF2FF url('img/fade-blue.png') repeat-x 50% 0;
	font-family: arial, helvetica, sans-serif;
	font-size: 10pt;
	margin: 0 8px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 48px;
}
a, a:visited {
	text-decoration: underline;
	color: #34345C;
}
a:hover {
	color: #ff0000;
}
dialog {
	/* This is the polyfill for browers that don't */
	/* recognize the element */
	z-index: 20;
	background-color: white;
	border: 0.2rem solid;
	padding: 0.5em;
	left: 50%;
	margin-left: -200px;
	width: 400px;

	/* Everything beyond here is our styling.*/
	color: inherit;
	position: fixed;
	top: 20%;
	text-align: center;
}

fieldset label {
	display: block;
}
form table {
	margin: auto;
}
form table td {
	position: relative;
	text-align: left;
	margin: 0;
	padding: 0;
}
footer {
	clear: both;
	text-align: center;
	margin-top: 20px;
}
th {
	text-align: left;
	padding: 4px;
	background: #98E;
}
h1 {
	text-align: center;
	/* The only center header */
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 17px;
}
header {
	margin: 1em 0;
}
h1 {
	font-family: "tahoma", "Arial", sans-serif;
	letter-spacing: -2px;
	font-size: 20pt;
	margin: 0;
	text-align: center;
}
hr {
	border: none;
	border-top: 1px solid #B7C5D9;
	height: 0;
	clear: left;
}
input, textarea {
	font-family: sans-serif;
}
input[type="text"], input[type="password"], textarea {
	border: 1px solid #a9a9a9;
	text-indent: 0;
	text-shadow: none;
	text-transform: none;
	word-spacing: normal;
}
table * {
	margin: 0;
}
table input {
	height: auto;
}


/* ----- Semantic classes ----- */
/* These are classes that are eponymous to their ruleset */
.clear {
	clear: both;
	display: block;
}
.comicsans {
	font-family: "comic", comic sans, comic sans ms, "Comic Neue";
}
.minimal {
	width: 1%;
	white-space: nowrap;
}
.unimportant, .unimportant * {
	/**
		Consider using the <small> element for this next time.

		https://developer.mozilla.org/en-US/docs/Web/HTML/Element/small
		>In HTML5, this element is repurposed to represent side-comments and
		>small print, including copyright and legal text, independent of its
		>styled presentation.
	**/
	font-size: 10px;
}
.useflexstyle {
	display: flex;
}
.useflexstyle > * {
	flex: 1 0 auto;
	/* This is the 2013+ specification. */
	/* For fallbacks, we'll use a prefix tool. */
	transition: border-color 0.25s, flex 0.25s;
	min-width: 0 !important;
}
.useflexstyle > input:focus, .useflexstyle > input:hover {
	flex-grow: 3;
}
.useflexstyle input[type='text']:focus {
	border-color: #e3bc71;
}


/* --- Color Scheme --- */
/* This section is separated because its the only category where you */
/* have more attention on its rules than its specifity  */
h1, h2, h3, h4, h5, h6, .subtitle {
	color: #AF0A0F;
}
.top, #qrmove {
	background: #222;
}






/* ---------- MAIN SITE BODY ---------- */


/* navigation bar */
.boardlist {
	color: #89A;
	font-size: 9pt;
	margin-top: 3px;
}
.boardlist a {
	text-decoration: none;
}
.top {
	margin: 0 -13px;
	box-shadow: 0 -1px 8px black;
	background: #222;

	position: fixed;
	top: 0;
	left: 13px;
	width: 100%;

	z-index: 5;
}
.top + * {
	margin-top: 48px;
}
.top .boardlistpart {
	font-size: 0;
	visibility: hidden;
	padding-left: 6px;
	float: left;
}
.top a, .top a:visited {
	display: inline-block;
	color: #ddd;
	padding: 6px 3px;
	margin: 0 1px;
	font-size: 16px;
	visibility: visible;
}
.top a[href="/"] {
	font-weight: bold;
	color: #183;
	padding: 6px;
}
.top a[href="/"]:hover {
	color: #6bc279;
}
.modboardlistpart a, .modboardlistpart a:visited {
	opacity: 0.65;
}
.top a:hover {
	color: #ddd;
	background: #444;
}
.top .boardlistactive {
	padding-top: 3px;
	border-top: 3px solid #777;
	background: #404040;
}
.top .boardlistpart a:before, .top .boardlistpart a:after  {
	content: "/";
}
.top .boardlistpart a[href="/"]:before, .top .boardlistpart a[href="/"]:after,
.top .settingsSection a:before, .top .settingsSection a:after {
	content: "";
}
.top .settingsSection {
	float: right;
}
.top .settingsSection a {
	font-weight: bold;
	padding: 6px;
	margin: 0 5px;
}
.top .open {
	background: #404040;
}
.file-picker-list li {
	margin-top: 5px;
	margin-bottom: 5px;
}
.CodeMirror {
	height: auto;
}
.noscript-warning {
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 15px;
	color: red;
	font-size: 30px;
}
.theme-edit-msg {
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 15px;
}
.theme-edit-error {
	display: block;
	color: red;
}
.theme-save {
	margin-top: 30px;
	text-align: center;
}

/* Board headers */
.subtitle {
	font-size: 8pt;
	text-align: center;
}
.heading {
	color: #AF0A0F;
	font-size: 11pt;
	font-weight: bold;
}
.banner {
	background-color: #E04000;
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
	margin: 1em 0;
}
.banner, .banner a, .banner a:visited, .banner a:hover {
	color: white;
}
.banner a:hover {
	text-decoration: none;
}
.top + .banner {
	display: block;
	border: 1px solid #a9a9a9;
	margin: 0 auto;
	max-width: 95%;
}



/* The post form */
form[name='post'] {
	margin-bottom: 2em;
}
form[name="post"] input[name="submit"] {
	margin-left: 2px;
}
/* Help bubbles */

@media screen and (min-width: 480px) {
	form[name="post"] td {
		/* Hang help messages over the fields */
		position: relative;
	}
}
@media screen and (max-width: 480px) {
	form[name="post"] tr {
		/* Hang help messages over the fields and their headers*/
		position: relative;
	}
}
.help-bubble {
	cursor: default;
	font: bold 0.7em/1.3em sans-serif;
	display: inline-block;
	padding: 2px 1px 0;
	width: 1.52em;
	height: 1.52em;
	border-radius: 1em;
	text-align: center;
	box-shadow: 0 0.03em 0.04em 0 rgba(29, 29, 29, 0.28);
	background: rgb(167, 183, 239)
	radial-gradient(circle at bottom,
			rgba(0, 0, 0, 0.01),
			rgba(0, 0, 0, 0.05) 0.8em,
			rgba(0, 0, 0, 0) 0.9em);
	color: white;
	text-shadow: 0 0 0.017em rgba(11, 11, 11, 0.61);

	position: relative;
	top: -0.11em;
	left: 0.5ex;
}
.help-details {
	/* Hide behind stuff but still have dimensions */
	visibility: hidden;
	overflow: hidden;
	z-index: -1;

	/* fade animation with delay */
	opacity: 0;
	transition: opacity 150ms ease-in,
	z-index 0ms 250ms,
	visibility 0ms 250ms;

	/* Don't displace the input fields */
	position: absolute;
	left: 0;

	margin-top: 2px;
	border: 1px dotted gray;
	padding: 0.75em;
	background: rgb(214, 218, 240);
}
.help-bubble:hover + .help-details, .help-details:hover {
	/* Make visible and overlap content */
	visibility: visible;
	opacity: 1;
	z-index: 1;

	/* opening animations */
	transition: opacity 150ms ease-in 400ms,
	z-index 0ms 400ms;
}
.help-bubble:active + .help-details, .help-details:hover {
	/* Touchscreen behavior */
	transition: opacity 50ms ease-in 0ms,
	z-index 0ms 0ms;
}
.help-details p + p {
	/* Spacing is between paragraphs only */
	padding-top: 0.5em;
}
.help-demo {
	padding: 0.5em 0 0.5em 0.5em;
}
textarea ~ .help-details {
	/** the details for the message box is allowed to go
	on the right side since it's expandable. **/
	right: 0;
	left: auto;
}
.markup-doc {
	width: 100%;
	box-sizing: border-box;
	column-width: 300px;
	-webkit-column-width: 300px;
}
.markup-doc dl {
	break-inside: avoid;
	-webkit-column-break-inside: avoid;
}
.markup-doc dt {
	font-size: 1.1em;
}
.bulleted-dl dd {
	display: list-item;
	margin-left: 1.5em;
}
.shortcut {
	font-family: inherit;
	font-size: small;
	float: right;
	opacity: 0.6;
}
.dd-example {
	font-size: 0.85em;
	padding-left: 1ch;
}


/* blotter */
.blotter {
	color: red;
	font-weight: bold;
	text-align: center;
}


/* --- All css relating to board content --- */

/* -- Threads -- */
.threadviewlink {
	margin: 0 3px;
}
.icon {
	/* Icons for the thread's status */
	margin: 0 5px;
}
.omitted {
	display: block;
	/*margin-top: 1em;*/
}
.thread hr {
	border-color: #d9d6d9;
}


/* --- Posts --- */
.post {
	max-width: 97%;
	box-sizing: border-box;
}
/* header */
.intro {
	margin: 0.5em 0;
	padding: 0 0 0.2em 0;
}
.delete {
	margin: 1px 6px 0 0;
}
.subject {
	color: #0F0C5D;
	font-weight: bold;
	font-size: 125%;
}
.name {
	color: #117743;
	font-weight: bold;
}
.trip {
	color: #228854;
}
a .name {
	color: #34345C;
}
a:hover .name {
	color: #ff0000;
}
.capcode, .nametag {
	color: #F00000;
	margin-left: 0;
}
.post_no {
	text-decoration: none;
	margin: 0;
	padding: 0;
}

/* -- figure -- */
.fileinfo {
	font-size: 12px;
	margin: 0;
	padding-right: 7em;
	word-break: break-all;
}
.thumbContainer {
	display: block;
	float: left;
	position: relative;
	margin: 5px 20px 0 0;
}
.postimg {
	display: block;
	margin: 5px;
	border: none;
}
.fullImageContainer + .thumbContainer,
.expanded + .thumbContainer {
	display: none;
}

/* -- body content -- */
.body {
	margin-left: 1.5em;
	word-wrap: break-word;
	white-space: pre-wrap;
}
/* icons */
.diceroll, .conch {
	font-weight: bold;
	margin-right: 0.75em;
}
.diceroll:before {
	content: url(img/dice.png);
}
.conch:before {
	content: url(img/Bag_Helix_Fossil_Sprite.png);
}
/* links */
.postlink {
	word-wrap: normal;
	white-space: nowrap;
}
.bodylink {
	color: #D00;
}
/* BBcode */
.hashtag {
	display: inline-block;
	margin: 0.25ex;
	background: #232b2b;
	background: linear-gradient(top, #43475e 0%,#232b2b 49%,#1c1c1c 100%);
	padding: 0.2em 0.5em;
	border-width: 1px;
	border-style: none solid solid none;
	border-color: #111;
	box-shadow: 1px 1px 3px #555;
	color: #edc;
}
.shy {
	font-size: 0.6rem;
	text-transform: lowercase;
}
.spoiler {
	background: black;
	color: black;
	padding: 0 1px;
}
.spoiler a {
	color: black;
}
.spoiler:hover, .spoiler:hover a, .spoiler-force-color {
	color: white;
}
/* other parsed elements */
.quote {
	color: #789922;
}
.orangetext {
	color: #E07000;
}
.royalluna {
	text-shadow: 2px 2px 0px rgba(64, 64, 64, 0.4),
				-2px -2px 0px rgba(64, 64, 64, 0.2);
	font-size: 1.1em;
}

/* Post footnotes */
.public_ban {
	display: block;
	color: red;
	font-weight: bold;
	margin-top: 15px;
}
.toolong {
	display: block;
	margin-top: 15px;
}
.editmsg {
	font-style: italic;
	font-size: 75%;
	margin-top: 1em;
}
.postfooter {
	/* Where the 'watch' button goes. */
	font-size: 90%;
	text-align: right;
	margin: 0 0.3em 0 0;
}
.footer-item {
	display: inline;
	margin: 0;
	padding: 0;
}
.footer-item + .footer-item:before {
	content: "•";
	padding: 0 0.7em;
}
.postfooter a {
	text-decoration: none;
}



/* --- OP --- */
.opMain {
	margin-right: 20px;
	margin-bottom: 5px;
}


/* --- Replies --- */
.reply {
	display: inline-block;
	background: #D6DAF0;
	margin: 2px 16px 2px 25px;
	padding: 0.2em 0.3em 0.8em 0.6em;
	border-width: 1px;
	border-style: none solid solid none;
	border-color: #B7C5D9;
	position: relative;
}
.reply .body {
	margin: 0.8em 0 0 1.8em;
	padding-right: 3em;
	padding-bottom: 0.3em;
}
.reply.highlighted {
	background: #D6BAD0;
}





/* ---- Bottom of the page ---- */

/* User post controls */
.controls {
	float: right;
	margin: 0;
	padding: 0;
	font-size: 80%;
}
.controls.op {
	float: none;
	margin-left: 10px;
}
.controls a {
	margin: 0;
}
.delete_post, .report_post, .edit_post, .edit_post_description {
	float: right;
	clear: right;
}
.edit_post_description {
	font-size: 0.8em;
}

/* Page numbers */
.pages {
	display: inline-block;
	color: #89A;
	background: #D6DAF0;
	padding: 8px;
	border-right: 1px solid #B7C5D9;
	border-bottom: 1px solid #B7C5D9;
}
.pages .selected {
	color: inherit;
	font-weight: bolder;
}
.pages a {
	text-decoration: none;
}
.pages form {
	margin: 0;
	padding: 0;
	display: inline;
}
.pages input {
	margin: 0 5px;
	display: inline;
}


/* bottom board navigation */
.bottom {
	margin-top: 20px;
}

/* Page footer */
#bottom {
	clear: both;
}



/* -------- Manipulated DOM (Things that don't exist without JS) -------- */

/* ----- News notification ----- */
.popnotice {
	cursor: default;
	box-shadow: 0 -1px 8px black;
	background-color: rgb(34, 34, 34);
	color: rgb(221, 221, 221);
	position: fixed;
	top: 30px;
	right: 0;
	margin: 10px;
	padding: 5px;
	z-index: 100;
	max-width: 500px;
	transition: top 0.4s ease-in-out;
}
.top_notice {
	text-align: center;
	margin: 48px auto 1em;
}


/* ----- Thread watcher ----- */
.watcherAlerts {
	/* The watcher notification alerts */
	color: red;
	margin-right: 0.3em;
}
#watcherScreen {
	margin: 15px;
	padding: 0;
	border: 1px solid black;
	box-shadow: 0 -1px 8px black;
	border-radius: 3px;
	background: #303030;
	right: 0;
	color: white;
	width: 40em;
	font-size: 11pt;
	max-height: 80%;
	max-width: 95%;
	overflow: auto;
}


/* -- Watcher content -- */
#watcherScreen h2 {
	margin: 0 1ex;
}
.wmod .wcontent {
	padding: 4px;
	margin: 0;
}
.wthread {
	padding: 5px;
	border-bottom: 1px solid black;
}
.wcontent {

}
.wthread:last-of-type {
	border-bottom: none;
}
.wlink, .wlink:visited {
	color: rgb(100, 100, 230);
	text-decoration: none;
}
.wlink:hover {
	color: rgb(80, 80, 200);
}
.wsubject {
	color: white;
}
.wtrip {
	color: #ccc;
}
.wpostcounter {
	margin-left: 0.7em;
}
.wnewposts {
	color: rgb(255,0,0);
}
.wcounterror {
	color: rgb(200,0,0);
}
.wremove {
	color: rgb(160,0,0);
	text-decoration: none;
	float: right;
	background: none;
	border: none;
	cursor: pointer;
}
.wremove:hover {
	color: rgb(230,0,0);
}
.wdetails {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

	padding-left: 0.5em;
	color: #aaa;
}



/* ----- Settings box ----- */
.settings-close-button {
	background: none;
	border: none;
	cursor: pointer;
	float: right;
	margin: 2px;
	font-size: 20pt;
	font-family: sans-serif;
	text-decoration: none;
}
.settings-close-button:hover {
	opacity: 0.5;
}
#settings-overlay {
	background-color: black;
	opacity: 0.5;
	z-index: 19;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}
.settingsScreen label {
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.settingsScreen .disable_message {
	color: blue;
}
.settingsScreen input[type=number] {
	width: 4em;
	text-align: right;
}
.settingsScreen input[type=number],
.settingsScreen textarea {
	margin-left: 2em;
}

#settingsScreen h1 a {
	float: right;
	margin: 0 11px 2px 2px;
	text-decoration: none;
}
#settingsScreen {
	z-index: 20;
	color: black;
	border: 1px solid black;
	width: 400px;
	padding: 0.5em;
	overflow-y: auto;
	max-height: 95%;
	max-width: 95%;
	background-color: #e2e2e2;
	position: fixed;
	top: 2.5%;
	right: 2.5%;
	display: none;
}
#settingsScreen .setting_section button {
	margin: 4px 3px;
}
.setting_section {
	margin-bottom: 0.5em;
}
#settingsScreen h2 {
	margin: 1em 0 0 0;
}
.settings-close-button {
	position: absolute;
	right: 0;
}

/*-- Warning message --*/
dialog .settings-close-button {
	font-size: 1.5em;
	line-height: 0.1em;
	padding: 0 0.2em;
	position: absolute;
	margin-left: -200px !important;
	top: 0.4em;
}




/* ----- Mod tools ----- */
.posterip {
	word-break: break-all;
}
.userbanlist {
	text-align: center;
}
.userbanlist table {
	margin: auto;
	width: 400px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
	padding:5px
}
.banlist td {
	padding: 2px;
}
.ban-hidden {
	display: none;
}
.report {
	color: #333;
}
.modlog {
	margin: auto;
	width: 100%;
}
.modlog td {
	text-align: left;
	margin: 0;
	padding: 4px 15px 0 0;
}
.modlog th {
	text-align: left;
	padding: 4px 15px 5px 5px;
	white-space: nowrap;
}
.config-editor {
	font-size: 9pt;
	width: 100%;
}
.config-editor td {
	text-align: left;
	padding: 5px;
	border-bottom: 1px solid #98e;
}
.config-editor input[type="text"] {
	width: 98%;
}
.searchPage li {
	margin: 10px 5px;
}
.searchPage input[type=text] {
	min-width: 30em;
	margin-right: 1em;
}


/* --- Thread search --- */
.boardlinks {
	text-align: right;
}
#threadsearchbox {
	font-size: 11px;
	padding: 1px;
}
.searchhidden {
	display: none !important;
}

/* Spoiler entire thread */
.spoileredThread .body:not(.spoileredThreadControls),
.spoileredThread .replyContainer {
	display: none !important;
}

/* ---- Quick reply ---- */

/* -- QR toggle -- */
/* reloader */
#updateSettings {
	background-color: grey;
	text-align: right;
	padding: 2px;
}
#updateIntervalField {
	width: 3em;
}
/* qr */
#qrtoggleoptions {
	text-align: center;
}
#qrDisplayButtonDiv {
	margin-bottom: 1.5em;
}
#qrDisplayButton {
	color: red;
	font-size: 150%;
}

/* -- QR box -- */
#qr {
	border-radius: 3px;
	padding: 1px;
	background-color: #e2e2e2;
	border: 1px solid black;
	z-index: 6;
	font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	min-width: 300px;
	max-width: 100%;
	box-sizing: border-box;
	position: fixed;
}
#qr > * {
	margin: 0;
	padding: 0;
}
#qr input {
	outline: none;
}
#qr label {
	cursor: pointer;
	margin: -2px 10px 0 2px;
	color: black;
}
#qrmove {
	min-width: 100%;
	height: 22px;
	background-color: black;
	cursor: move;
}
#qr textarea {
	padding: 3px;
	font-family: Arial, sans-serif;
	font-size: 13px;
	min-height: 110px;
}
#qr input[type='text'] {
	padding: 2px;
	min-height: 26px;
}
#qr input[type='text'], #qr textarea {
	min-width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	display: block;
	border: 1px solid rgb(172, 174, 179);
}
#qr input[type=text]:hover, #qr textarea:hover {
	border: 1px solid rgb(224, 220, 220);
}
#qr input[type=text]:focus, #qr textarea:focus {
	border: 1px solid #e3bc71;
}

/* styling the buttons in the QR */
#qr button:not(#qrfileremove), #qr input[type='submit'] {
	background: #E9E9E9;
	border: 1px solid #919191;
	border-radius: 3px;
	box-shadow: inset 0 0 1px 1px #f6f6f6;
	color: #333;
	font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
	padding: 4px 0 4px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	margin: 1px 0;
	outline: none;
}
#qr button:not(#qrfileremove):hover, #qr input[type='submit']:hover {
	background: #E0E0E0;
	box-shadow: inset 0 0 1px 1px #e3e3e3;
	color: #000;
}
#qr button:not(#qrfileremove):active, #qr input[type='submit']:active {
	background: #d0d0d0;
	box-shadow: inset 0 0 3px 0 #BDBDBD;
	color: #000;
}
#qr button:not(#qrfileremove):disabled, #qr input[type='submit']:disabled {
	color: #A2A2A2;
	border: 1px solid #CCCCCC;
	background-color: #F0F0F0;
	box-shadow: none;
}
#qr input[type='submit'] {
	border-color: #1C5CA2;
}
#qrfile {
	width: 70%;
}
.qr-only-post .qrremovethumb, .hide-file-close {
	display: none;
}
#qrsubmit {
	float: right;
	width: 30%;
}

#qrfile {
	display: none;
}
#qrfilebutton {
	min-width: 16ch;
}
#qrfilebutton, #qrsubmit {
	min-width: 16ch;
	width: 30%;
	padding-left: 1ch;
	padding-right: 1ch;
}

#qr input[type='checkbox'] {
	position: relative;
	top: 2px;
	margin: 0 4px 0 -1px;
}
#qrimageswrapper {
	overflow-x: scroll;
	overflow-y: hidden;
	background-color: darkGray;
	position: relative;
	min-height: 87px;
	display: none;
}
#qrfileremove {
	background: none;
	margin-left: 0.5ch;
	border: none;
	cursor: pointer;
}
#qrimages {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	white-space: pre;
	counter-reset: thumbnails;
}
#qrmove a {
	color: white;
	cursor: pointer;
	margin: 2px 3px 0 0;
	float: right;
	font-weight: bold;
	text-decoration: none;
	font-size: 15px;
}
#qrmove a:hover {
	color: #b0b0b0;
}
.qrthumb {
	border: 1px solid black;
	transition: opacity .15s ease-in-out;
	opacity: .6;
	width: 68px;
	height: 68px;
	background-size: cover;
	cursor: pointer;
	display: inline-block;
	background-color: #cfcfcf;
}
.qrthumb::before {
	counter-increment: thumbnails;
	content: counter(thumbnails);
	color: #FFF;
	font-weight: 700;
	padding: 3px;
	top: 0;
	left: 0;
	text-shadow: 0 0 3px #000, 0 0 8px #000;
	float: left;
}
.qrthumb:hover {
	opacity: 1;
}
#qrthumbselected {
	opacity: 1;
	border: 1px solid white;
}
#qrwarning {
	color: red;
}
.qrremovethumb:hover {
	color: white;
}
#qraddimage:hover {
	color: white;
}
#qraddimage {
	color: black;
	display: inline-block;
	width: 68px;
	height: 68px;
	text-align: center;
	font-size: 50px;
	line-height: 69px;
	vertical-align: top;
	text-decoration: none;
}
.qrremovethumb {
	font-size: 12px;
	float: right;
	font-weight: bold;
	text-decoration: none;
	background-color: black;
	color: white;
	border: 1px solid black;
	padding: 0 3px 1px 3px;
	border-radius: 2px;
}
/* end qr */





/* ----- For individual post features ----- */

/* -- Header -- */
.backlink {
	margin-left: 2px;
	display: inline-block;
}


/* -- collapsible spoilers -- */
.hidetext {
	padding: 5px;
	background: #ddd;
	clear: both;
	margin: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	background: rgba(0,0,0,0.1);
}
.hidetext.off {
	height: 0 !important;
	padding-top: 0;
	padding-bottom: 0;
	overflow: hidden;
}

/* Post hider stubs */
.postHider, .postStub {
	font-size: 13px;
}
.postHider a {
	text-decoration: none;
}

/* for OP posts without a file */
.op .postHider {
	float: left;
	margin-left: -5px;
	margin-right: 4px;
}
.reply .postHider {
	position: absolute;
	margin-left: -34px;
}
.replyContainer .postStub {
	margin-left: -3px;
}
.post-inline .postHider, .post-hover .postHider {
	display: none;
}
.hidetogglebutton {
	min-width: 4em; /* Post unhider */
}


/* -- handling images -- */
/* Hover preview */
.thumbContainer.video::before {
	content: "";
	background-image: url('img/speaker_icon.png');
	background-size: 24px;
	width: 24px;
	height: 24px;
	display: block;
	position: absolute;
	bottom: 6px;
	right: 6px;
	pointer-events: none;
}
.image-hover {
	position: absolute;
	margin: 0;
	padding: 0;
	max-width: 75vw;
	max-height: 95vh;
	z-index: 10;
}
/* Spoiler images */
.spoiler-image:not(.expanded), .spoiler-image.loading {
	background: radial-gradient(at center,
	rgb(255, 255, 255),
	rgb(237, 231, 168));
}
.mature-image:not(.expanded), .mature-image.loading {
	background: radial-gradient(at center,
	rgb(232, 232, 255),
	rgb(172, 176, 200));
}
.spoiler-image:not(.expanded), .spoiler-image.loading {
	border: 2px solid rgb(240, 223, 159);
}
.mature-image:not(.expanded), .mature-image.loading {
	border: 2px solid rgb(147, 149, 170);
}
/* Inline preview */
.loading {
	opacity: 0.4;
	filter: alpha(opacity=40);
}
.expanded {
	width: auto !important;
	height: auto !important;
	max-width: 85%;
	max-height: 85%;
	max-width: 85vw;
	max-height: 85vh;
}


/* -- Handling Youtube embeds -- */
.embed {
	display: block;
	margin: 5px;
}


/* -- Handling post previews -- */
/* Hover preview */
.post-hover {
	margin-left: 16px;
	position: fixed;
	display: block;
	z-index: 10;
}

/* Inline preview */
.post-inline {
	margin: 2px;
}
.post-hover, .post-inline {
	border-style: solid;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
.post-inline .body {
	margin-left: 0.3em;
	padding-right: 0.2em;
}
.preview-hidden {
	display: none;
}
.inlined {
	opacity: 0.5;
}
.parent-link {
	text-decoration: none;
	border-bottom: 1px dashed;
}
.filtered-backlink {
	display: none;
}


/* Footers, Edit button */
.postfooter {
	margin: 0 0.3em 0 0;
}
.footer-item {
	display: inline;
	margin: 0;
	padding: 0;
}
.footer-item + .footer-item::before {
	content: "•";
	padding: 0 1ex;
}
/* - Editing posts - */
.reply .postfooter {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 0.85em;
	margin-right: 0.3em;
}
.edit-form {
	margin: 0.5em 0.5em 0.8em 2em;
}
.edit-controls > * + * {
	margin-left: 0.5em;
}
.post .edit-form ~ .body {
	display: none !important;
}
.edit-body {
	padding: 0.2em;
	min-width: 250px;
	min-height: 5em;
}

/* For live post changes */
.dead-buttons {
	opacity: 0;
	visibility: hidden;
	/* Don't throw off the scroll position */
	transition: opacity 0.5s ease-in-out 3s,
	visibility 1ms ease 3.5s;
}
.edit-revealer {
	margin: 0 1ch;
}
.dead-file {
	opacity: 0.4;
}


/* Navbar stuff */
.setting_more_details {
	font-size: 10pt;
	margin-left: 2.7em;
}


/* recaptcha */
.recaptcha_image_cell {
	background: none;
}
.recaptchatable {
	border: none;
}
#recaptcha_logo, #recaptcha_tagline {
	display: none;
	float: right;
}
.recaptchatable a {
	display: block;
}







/* ----- mobile stuff ----- */
@media screen and (max-width: 480px) {
	body {
		margin: 0;
		padding: 0;
	}
	input[type="text"], textarea {
		width: 220px;
	}
	.top {
		position: absolute;
	}
	.post {
		display: block;
		margin-left: 2px;
		margin-right: 2px;
		overflow: auto;
	}
	.reply .body {
		margin-left: 0.3em;
		padding-right: 0.2em;
	}
	.endlinks {
		clear: right;
	}
	.reply .postHider {
		float: left;
		position: static;
		margin: 5px 4px 0 -3px;
	}
	.intro .postHider {
		margin-left: 0;
	}
	.postHider {
		display: inline;
	}
	.post-inline {
		clear: both;
	}
}
@media all and (max-width: 600px) {
	img.banner {
		height: auto;
	}
}




/* ----- Page specific ----- */
/* Anything that has no relation to the board or thread pages are found here */


/* --- Home --- */
.homepage > header h1 {
	font-size: 40pt;
	text-shadow: 0 0 0.25em rgb(136,136,136);
}
.homepage .subtitle {
	font-size: 16pt;
}
/* Home containers */
.homeblock {
	margin: 1em auto;
	font-size: 110%;
	width: 75%;
	min-width: 300px;
	border: 1px solid rgb(160,160,160);
	padding: 1em;
	border-radius: 3px;
}
.mainhomeblock {
	font-size: 130%;
}
.mainhomeblock sup {
	font-size: 0.6em;
}
.staffList {
	list-style: none;
	margin: 0;
	padding: 0;
}
.staffList > li {
	margin: 4px 0;
}
.staffList .details {
	margin-left: 1em;
	font-size: 0.9em;
}
.newscontent {
	margin: 0.5em;
}
#recent_posts {
	white-space: nowrap;
	overflow-x: hidden;
}
.recent_post {
	display: inline-block;
	text-align: center;
	padding: 5px;
	width: 200px;
	vertical-align: middle;
	white-space: normal;
	word-wrap: break-word;
}
.boarddir {
	border: none;
}
.boarddir td {
	padding: 2px 5px;
}
.donatebitcoin {
	font-size: 0.8em;
}
.donatebitcoin a, .donatebitcoin a:visited {
	text-decoration: none;
}




/* Catalog */
.catalink {
	display: block;
}
.catalog {
	text-align: center;
}
.catacount {
	font-size: 0.9em;
}
.catasubject {
	font-weight: bold;
}
.catalogthumb {
	margin: auto;
	margin-bottom: 9px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.55);
	border: 2px solid rgba(153, 153, 153, 0);
}
.catalink img:hover {
	border: 2px solid rgba(153, 153, 153, 0.27);
}
.catathread {
	display: inline-block;
	vertical-align: top;
	margin: 5px 10px 10px;
	text-align:center;
	width: 165px;
	overflow: hidden;
	font-size: 11px;
	padding: 5px;
	background: rgba(182, 182, 182, 0.12);
	border: 2px solid rgba(111, 111, 111, 0.34);
	max-height:275px;
}

/* Ban page */
.ban {
	background: white;
	color: black;
	border: 1px solid #98E;
	max-width: 700px;
	margin: 30px auto;
	overflow: auto;
}
.ban h2 {
	background: #98E;
	color: black;
	font-size: 12pt;
	margin: 0;
}
.ban p {
	font-size: 12px;
	margin-bottom: 12px;
}
.ban p, .ban h2 {
	padding: 3px 7px;
}
.ban .reason {
	font-weight: bold;
}
.ban .moonlink {
	font-size: 130%;
	text-align: center;
}
.appealcomment {
	border: 1px solid black;
}
.appealintro time {
	padding-left: 3em;
}

/* Install.php tables */
.test {
	width: 100%;
}
.test td, .test th {
	text-align: left;
	padding: 5px;
}
.test img {
	margin: 0;
}

/* Standalone watcher page */
.watcherPage #watcherScreen,
.watcherPage .watcherMenu {
	background: none;
	box-shadow: none;
	border: none;
	width: auto;
	max-height: none;
	max-width: none;
}
.wmod .wcontent {
	padding: 4px 2ex;
	margin: 0;
	list-style-type: none;
}
