/**
 * timelord
 *
 * Created on 3/26/2015
 * Ported from old Ponychan. Originally by DarkGubi.
 *
 *
 */
/* Imports */
@import "common/pony-kusaba.css?t=1516991471";
@import "common/bubble-buttons.css?t=1516991471";
@import "common/serif.css?t=1516991471";

@font-face {
	font-family: 'Cabin Sketch';
	src: url(font/cabinsketch-bold.woff) format('woff');
}
@font-face {
	font-family: 'Fontdiner Swanky';
	src: url(font/fontdiner-swanky.woff)
	format('woff');
}
@font-face {
	font-family: 'Ubuntu';
	src: url(font/ubuntu.woff)
		format('woff');
}
@font-face {
	font-family: 'Neucha';
	src: url(font/neucha.woff)
	format('woff');
}
/* Indiscriminate tags */
body {
	background: url(img/timelord/cm.png) bottom 30px right 30px no-repeat,
	radial-gradient(
			circle at bottom,
			rgb(197, 183, 145),
			rgb(178, 160, 118),
			rgb(170, 154, 114));
}

/* All links, including the ref-links inside the post body. */
a, a:visited, a:active, a.bodylink, .banner a, .banner a:visited, .banner a:hover {
	color: rgb(95, 51, 50);
}

/* Mouse over link */
a:hover, a.bodylink:hover {
	color: rgb(161, 27, 27);
}

/* Set the border here */
input[type=text], input[type=password], textarea {
	border: 1px solid rgb(233, 227, 118);
	border-radius: 0.2rem;
}
input[type=text], input[type=password] {
	border-bottom-right-radius: 0.4rem;
}
textarea {
	border-top-right-radius: 0.4rem;
}

/* What color do you want the border to glow here */
input[type=text]:focus, input[type=password]:focus, textarea:focus {
	border: 1px solid rgb(66, 55, 31);
}
hr {
	border-color: rgb(100, 82, 27);
}
/* Table headers, including the post form */
/* as well as many staff dashboard headers */
th {
    background-color: #e9e375;
}

/* -- Setting the common color scheme -- */
/* Heading colors */
h1, h2, h3, h4, h5, h6, header h1, .heading {
 	color: rgb(68, 56, 32);
}

/* Head bar backgrounds */
.top, #qrmove, .ban h2 {
	background-color: rgb(90, 82, 59);
	color: rgb(239, 226, 209);
}

/* Head bar links */
.top a, .top a:visited, #qrmove a, #qrmove a:visited {
	color: rgb(215, 204, 119);
}

/* Head bar links on hover */
.top a:hover, #qrmove a:hover, .top .boardlistactive, .top .boardlistactive:visited {
    color: rgb(233, 240, 234);
}

/* Block items */
.reply, .help-details, #watcherScreen, .post-hover, .pages, .catathread, #updateSettings {
	background-color: rgb(223, 211, 123)
}
.help-bubble {
	background-color: rgb(224, 204, 134);
}

/* -- Navigation bar -- */
.top a:hover {
	background-color: rgb(74, 64, 37);
}

/* set the border-color property to show that the button is 'lit' */
.top .boardlistactive, .watcherButton.open {
	border-color: rgb(220, 208, 122);
}

/* Color of the 'home' link */
.top a[href="/"] {
	color: rgb(243, 233, 170);
}

/* Toggle links on the right */
.top .watcherButton, .top .settingsButton {
	color: rgb(219, 224, 217);
}
/* Settings page */
#settingsScreen {
	background: rgb(223, 211, 124)
				linear-gradient(to bottom,
					rgb(223, 211, 123),
					rgb(207, 198, 120));
}
/* Settings headers */
#settingsScreen h1, #settingsScreen h2 {
    /* Color */
	color: rgb(127, 22, 22);
}

/* Watcher frame. Set a bright border. */
#watcherScreen {
	border: 2px solid rgb(233, 227, 117);
}

/* the color of 'by' in watcher */
.wname:before {
    /* The element is always there. If no nickname is given, it'll leave
        you an empty element. */
	color: gray;
}

/* -- Board Page header -- */
/* Board headline */
body > header h1 {
	font-family: "Cabin Sketch", sans-serif;
}

/* Board description */
body > header .subtitle {
	color: rgb(70, 70, 70);
	font: bold 130% "Philosopher", Cambria, Georgia, serif;
}

/* 'Posting mode: reply' bar */
div.banner {
	background-color: rgb(154, 139, 102);
}

/* -- Post form -- */
/* 'Open the Quick reply dialog' */
/* Make a good button out of this. */
#qrDisplayButton {
	color: rgb(89, 80, 59);
	text-transform: lowercase;
	background-color: rgb(169, 152, 108);
	border: 1px solid rgb(129, 116, 86);
	margin: 2em;
	padding: 0.3em 1em;
	border-radius: 0.4rem;
	position: relative;
	top: 0.5em;
}
#qrDisplayButton:hover {
	color: rgb(93, 84, 62);
	background-color: rgb(175, 158, 113);
	box-shadow: 0 0 0.1rem rgba(0,0,0,0.3);
}
form[name="post"] th, .reply, .pages {
	border-style: none;
	padding: 0.2rem;
	border-radius: 0.3rem 0.3rem 0.5rem 0.3rem;
	box-shadow: 0.1rem 0.1rem 0.1rem rgb(107, 98, 28);
}
form:not(#qrform) input[type=text],
form:not(#qrform) input[type=password],
form:not(#qrform) textarea,
#threadsearchbox {
	box-shadow: 0.1rem 0.1rem 0.1rem rgb(107, 98, 28);
}
form:not(#qrform) input[type=text]:focus,
form:not(#qrform) input[type=password]:focus,
form:not(#qrform) textarea:focus,
#threadsearchbox:focus {
	box-shadow: 0.1rem 0.1rem 0.1rem rgb(107, 98, 28),
				inset 0 0 7px rgba(0,0,0,0.0);
}
/* Staff notice */
.blotter {
	padding: 0.3em;
	background-color: rgb(145, 131, 98);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	color: white;
}

/* -- Posts -- */
.wthread, .post-hover {
    padding: 3px;
}
.post-hover, .hashtag {
	border-color: rgb(151, 139, 106);
	background-color: rgb(239, 233, 176);
}

.subject, .wsubject {
	font-family: "Philosopher", Cambria, Georgia, serif;
	color: rgb(41, 61, 127);
}

.name, .email .name, .email:hover .name, .wname {
	color: rgb(37, 10, 2);
}

.email {
     border-color: rgb(37, 10, 2);
    /* change the underline color. */
}

.trip, .wtrip {
	font-family: "Ubuntu", "Lucida Console", monospace;
	color: rgb(72, 22, 8);
}

a.post_no {
    /* Make this a deeper color than most links */
	color: rgb(51, 27, 27);
}

a.post_no:hover {
	color: rgb(159, 85, 84);
}
.reply.highlighted, .post-inline {
	border: 1px solid black !important;
}
.reply.highlighted {
    /* Makes all borders solid. */
	background-color: rgb(239, 237, 179);
}
.post-inline {
	/* 	as nesting iterations approach infinity,
	 	what background color does it approach? */
	background-color: rgba(255,255,255,0.1);
}

.quote {
	color: rgb(81, 91, 118);
	text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
}
.omitted {
	color: rgb(255, 249, 208);
}

/* Footer */
.boardlist.bottom {
	color: inherit;
}

.wname:before {
	color: rgb(92, 92, 92);
}

/* The color of the ban page table */
.ban {
	border-color: black;
}

/* Page numbers */
.pages {
	color: rgb(72, 72, 72);
}
/* homepage */
.homepage > header h1 {
	font: bold 4.5em "Fontdiner Swanky", "Arial", sans-serif;
	color: rgb(59, 85, 179);
	text-shadow: 	1px 1px 1px rgb(59, 85, 179),
					0 0 16px rgb(176,188,230);
}
.homepage hr {
	border-top: 2px solid rgb(146, 129, 83);
}
.homepage .subtitle {
	color: rgb(230, 226, 214);
	font-size: 180%;
}
.homeblock {
	border: 2px solid rgb(146, 129, 83);
	line-height: 140%;
	margin-top: 2em;
}
.homeblock > h2 + div {
	/* The body container */
	margin-top: 1em;
}
.homeblock .unimportant {
	font-family: "Ubuntu", "Lucida Console", monospace;
}
