/* Tomorrow
MLPchan version of the Tomorrow 4chan theme

- by Tom' the /♥/ bringer*/
@import "common/bw-spoilers.css?t=1518146085";
body{
    background:#1e1f21;
}
body, .report {
    color: rgb(197, 200, 198);
}

a, a:visited {
    color: rgb(129, 162, 190);
}
a:hover {
    color: rgb(95, 137, 172);
}
.bodylink {
    color: rgb(95, 137, 172);
}
.bodylink:hover {
    color: rgb(129, 162, 190);
}

.trip {
    color:#8398A3;
}

header h1, header .subtitle, .blotter {
    color:#D9D9D9;
}

.reply, .help-details, .banner, th {
    background: rgb(40, 42, 46);
    border: none;
}
.reply.highlighted{
    background:#3E3F43;
}
.post-hover, .post-inline {
    border: 1px solid rgb(17, 17, 17) !important;
    box-shadow: none !important;
}
.post-inline {
    background-color: rgba(0, 0, 0, 0.14) !important;
}
.help-bubble {
    background-color: rgb(90, 94, 101);
}

.name{
    color: rgb(197, 200, 198);
}
.email .name {
    color: rgb(129, 162, 190);
}
.email:hover .name {
    color: rgb(95, 137, 172);
}
.quote{
    color:#99BF87;
}
.subject{
    color:#C4AADE;
}

.pages {
    background: none;
    border: none;
}


.top{
    background: rgb(185, 185, 185);
    box-shadow: 0 -1px 5px rgb(150, 150, 150);
}
.top a, .top a:visited, .top a:hover {
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 0;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    color: rgb(75, 90, 110);
}
.top a:hover {
    background: none;
    border-top: 2px solid rgb(100, 100, 190);
    padding-top: 0;
}

.top a[href="/"] {
    padding-top: 0;
    padding-bottom: 0;
}
.top .settingsSection a {
	padding-top: 0;
	padding-bottom: 0;
}
.top .boardlistactive, .top .watcherButton.open {
    background: none;
    border-top: 2px solid rgb(98, 98, 98);
    border-bottom: 2px solid rgb(98, 98, 98);
    padding-top: 0;
    padding-bottom: 0;
}
.boardlist.top .boardlistpart a:hover {
    background: none;
    border-top: 2px solid rgb(100, 100, 190);
    padding-top: 0;
}

.hidetext{
    background:#47533C;
}
#settingsScreen h1{
    color:#1e1f21;
}
#updateSettings {
    color: black;
}
