/**
 * twilight-tackle.css
 *
 * Created on 2/10/2015
 * Ported from old Ponychan. Originally written by actxyn.
 *
 *
 */

@import "common/pony-kusaba.css?t=1516991471";
@import "common/3d-buttons.css?t=1516991471";

/* Indiscriminate tags */
body {
    color: #eaeaea;
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    background: linear-gradient(to bottom, rgb(148, 55, 131) 0px, rgb(84, 17, 71) 700px);
}
a, h1, h2, h3, h4, h5, h6, .heading, header h1 {
    font-family:  "Century", "Times New Roman", serif;
}
body > header h1 {
    font-weight: bold;
}
a, a:visited, a:active, .banner a, .banner a:visited, .banner a:hover {
    color: rgb(231,129,213);
}
a:hover, a.bodylink:hover {
    color: rgb(229,208,225);
}
hr {
    border: none;
    height: 1px;
    /* color: #000000; */
    background-color: #460E3D;
    box-shadow: 0 1px 1px rgb(109, 53, 100);
}

input[type=button], input[type=submit], input[type=file], button {
    margin: 0 2px;
}
input[type=text], input[type=password], input[type=search], textarea {
    outline: none;
    border: 1px solid rgb(176,96,176);
    padding: 2px;
    transition: all .25s ease-in-out;
    transition-property: box-shadow, border;
    line-height: 140%;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus {
    outline: 1px outset rgb(205, 95, 205)
}
input::-webkit-input-placeholder {
    color: rgb(115, 47, 126);
}
input::-moz-placeholder {
    color: rgb(115, 47, 126);
}
input:-ms-input-placeholder {
    color: rgb(115, 47, 126);
}
th {
	color: rgb(218, 204, 219);
	background: linear-gradient(to bottom, rgb(142, 77, 130) 0px, rgb(131, 82, 122) 300px);
	box-shadow: inset 0 1px 7px rgba(114, 35, 100, 1);
	text-shadow: 0 1px 1px rgb(0,0,0);
}


/* Setting the color scheme */
.reply, dialog, .help-details, #watcherScreen, #settingsScreen, .hashtag, #updateSettings, .catathread {
    border: 2px solid rgb(121,24,103);
    background: linear-gradient(to bottom, rgb(121, 24, 103) 0px, rgb(90, 18, 77) 300px);
}
input[type=text], input[type=password], input[type=search], textarea {
	box-shadow: inset 1px 1px 0 rgba(255,255,255, 0.2);
    background: linear-gradient(to bottom, rgb(237, 226, 232) 0px, rgb(230, 218, 223) 300px);
}
header h1, h1, h2, h3, h4, h5, h6 {
    color: white;
    letter-spacing: 0;
}
.heading {
    color: rgb(225,225,225);
}
#settingsScreen {
    background-color: rgb(22,31,72);
}
.top {
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.15));
}
.top a, .top a:visited {
    color: rgb(151,164,225);
}
.top a:hover {
    background-color: rgb(64, 16, 64);
}
.top, #qrmove {
    background-color: rgb(22,31,72);
}
.top a:hover, #qrmove a:hover {
    color: white;
}

/* Semantics */



/* Navigation bar */
.boardlist.top .boardlistactive, .watcherButton.open {
    border-color: rgb(151,164,225);
    background: rgba(0,0,0,0.3);
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
    text-shadow: 0 0 1px rgba(0,0,0,0.5);
}
.top a[href="/"] {
    color: rgb(218, 222, 236);
}




/* Board Page header */
div.banner {
    background-color: rgb(116, 26, 100);
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
    color: rgb(194, 152, 173);
}

body > header {
    padding-top: 3em;
}
body > header h1 {
    font-size: 4em;
}
body > header .subtitle {
    font-size: 110%;
    color: rgb(237, 235, 240);
}

/* Post form */
#threadsearchbox:focus {
    outline: none;
    border-color: rgb(61, 52, 61)
}
.help-bubble {
    background-color: rgb(174, 113, 164);
}
form:not(#qrform) input[type=submit] {
    position: relative;
    bottom: 1px;
    background: rgb(159, 77, 172) linear-gradient(to bottom, rgb(189,99,203), rgb(118,50,131));
    border: 1px solid rgb(140,78,150);
    border-bottom: 1px solid rgb(136, 82, 145);
    box-shadow: inset 0 1px 0 0 rgb(209, 154, 218);
    color: white;
    text-shadow: 0 -1px 0 rgb(70,33,76);
}
form:not(#qrform) input[type=submit]:hover {
    border-color: rgb(113, 60, 121);
    border-bottom-color: rgb(121, 63, 128);
    background: rgb(115, 47, 126) linear-gradient(to bottom, rgb(173, 94, 187), rgb(105, 47, 118));
    box-shadow: inset 0 1px 0 0 rgb(198, 147, 207);
}
form:not(#qrform) input[type=submit]:active {
    box-shadow: inset 0 0 8px 4px rgb(129, 49, 125),
                      0 1px 0 0 rgba(238,238,238, 0.2);
    /* Spoiler alert: you can't make rounded outlines! */
    /* We have to substitute with a box shadow instead. */
    outline: none;
}


/* Posts */

.subject, .wsubject {
    color: rgb(221, 163, 202);
    font-weight: normal;
    font-style: italic;
}
.intro .subject:after {
    color: rgb(155, 155, 155);
    content: " — ";
}
.name, .email .name, .wname, .email:hover .name {
    color: rgb(234, 126, 185);
    font-weight: normal;
}
.email {
    border-bottom: 1px dashed rgb(213, 73, 155)
}

.trip, .wtrip {
    color: rgb(195, 93, 148);
}
.capcode, .nametag {
    color: rgb(218,180,210);
    text-transform: lowercase;
}
a.post_no {
    color: rgb(224, 198, 224);
}
a.post_no:hover {
    color: rgb(252, 241, 250);
}
.fileinfo {
    color: rgb(228, 228, 228)
}
.reply .fileinfo {
    line-height: 120%;
}
.hashtag {
    border: 1px solid rgb(155, 107, 151);
}

.reply.highlighted {
    background: rgb(76, 18, 65);
    border: 1px solid rgb(222, 202, 215);
    border-left-color: #ffffff;
}
.op .delete {
    /* Realigns the checkboxes */
    margin-top: 4px;
}
.omitted, .toolong {
    color: rgb(218, 155, 206);
    padding: 0.3em 2em;
}
a.bodylink {
    color: rgb(236, 152, 226);
}
.quote {
    color: rgb(173, 135, 213);
}

/* Footer */
.pages {
    background-color: inherit;
    border: 0;
    color: rgb(184,159,186);
}
.boardlist.bottom {
    color: rgb(184,159,186);
}



/* -- Manipulated DOM -- */

/*Settings page*/
#settingsScreen {
    color: rgb(215, 215, 215);
}
#settingsScreen label {
    color: rgb(224, 208, 224);
    font-weight: bold;
}

/* - Quick Reply - */

/* Toggle QR */
#qrDisplayButton {
    color: rgb(195, 187, 232);
    letter-spacing: 0px;
    transition: letter-spacing 0.5s ease-out,
                color 0.3s ease-in-out;
}
#qrDisplayButton:hover {
    letter-spacing: 2px;
    color: rgb(223, 220, 241);
}
#qrDisplayButton:before {
     content: "[";
     margin-right: 2px;
     transition: margin 1s ease-in-out;
}
#qrDisplayButton:hover:before {
    margin-right: 8px;
}
#qrDisplayButton:after {
    content: "]";
    margin-left: 2px;
    transition: margin 1s ease-in-out;
}
#qrDisplayButton:hover:after {
    margin-left: 8px;
}

/* QR Dialog */
#qrmove a {
    color: rgb(195, 204, 232);
    font-family: sans-serif;
}
#qr input[type=text], #qr textarea {
    background: white;
    transition-property: border, flex, box-shadow;
    border-color: rgb(205, 201, 201);
    outline: none;
}
#qr input:focus, #qr textarea:focus {
    border-color: rgb(107, 66, 104);
}
#qraddimage {
    color: inherit;
}
.qrremovethumb {
    color: white;
}
.mature_note {
    font-style: italic;
    color: rgba(207, 196, 196, 0.7);
}
.post-hover {
    border-color: rgb(145, 75, 132);
}

/* Thread watcher */
#watcherScreen {
    border-color: rgb(169, 114, 166);
}
.wpost {
    color: white;
}
.wlink, .wlink:visited {
    color: rgb(204, 177, 208)
}
.wname:before {
    color: rgb(163, 102, 158);
}
.wremove {
     color: rgb(219, 177, 177);
 }
.wremove:hover, .wlink:hover {
    color: rgb(227, 222, 221);
}
.post-inline {
    /* This should make the inline posts brighter depending on how deep it's nested. */
    background: rgba(0,0,0,0.05) none;
}

.hidetext {
    border: 2px dashed rgb(116, 25, 99);
    background: rgba(0,0,0,0.1);
}
