/*
Wonderbolts.css
by Soarin'Wonder
soarinwonder@hotmail.com

Font: Yesteryear ~ http://www.fontspace.com/astigmatic-one-eye-typographic-institute/yesteryear
*/
@import "common/bw-spoilers.css?t=1518146085";
@font-face {
	font-family: "Yesteryear";
	src: url("font/Yesteryear.ttf");
	src: url("font/Yesteryear.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
body {
	background: url("img/wonderbolts/wbs.png") no-repeat right bottom fixed, 
	url("img/wonderbolts/wbtgradient.png?v=2") repeat-x bottom fixed #29a0de;
	color: white;
	font-family: serif;
	font-size: 16px;
}
a, a:visited, a.bodylink {
	color: #FFFFB8;
}
a:hover, p.intro a.post_no:hover {
	color: #5EDCFF;
}
a#qrDisplayButton {
	color: #FFFFB8 !important;
	font-size: 14px;
}
p.intro a.email span.name {
	color: #f8fd77;
}
p.intro a.email:hover span.name {
	color: white;
}
header h1 {
	color: #FFFFB8;
	font-family: "Yesteryear", tahoma, sans-serif;
	font-size: 48px;
}
header div.subtitle {
	color: #FFFFB8;
	font-size: 14px;
}
textarea#body, textarea#qrbody {
	background: url("img/wonderbolts/wblogo.png") center no-repeat white;
}
form table tr th {
	border: 1px yellow solid;
	background: #0179c6;
}
div.banner {
	background-color: #FFFFB8;
	border: 1px solid black;
	
}
div.banner, div.banner a, div.banner a:visited {
	color: black;
}
div.banner a:hover {
	color: #322;
}
p.intro span.name, .name {
	color: #d6fcff;
}
div.post.reply p.intro span.name {
	color: #B2E6FF;
}
div.post.reply.highlighted {
	background: url("img/wonderbolts/wbhlgradient.png") bottom repeat-x #2660b0;
}
div.post.reply, dialog, .help-details {
	background: #1650A7;
	border-width: 2px;
	border-style: solid;
	border-color: #E6E6B8;
}
.help-bubble {
	background-color: rgb(25, 120, 184);
}
span.trip, span.quote {
	color: #ffd155;
}
p.intro span.subject {
	color:#B02B2B;
}
span.heading {
	color: black;
}
div.pages {
	color: #004ed0;
	background: none;
	border-right: 1px none yellow;
	border-bottom: 1px none yellow;
}
div.boardlist {
	color: #004ed0;
}
div.blotter {
	color: black;
}
div.blotter a {
	color: #f7fd77;
}
div.blotter a:hover {
	color: #5edcff;
}
.homeblock {
	border-color: rgba(120, 120, 120, 0.3);
	background-color: rgba(100, 100, 180, 0.3);
}
footer {
	color: rgb(80, 80, 128);
}
div.ban {
	background: white;
	color: black;
}
div.ban a, div.ban a:visited {
	text-decoration: underline;
	color: #34345C;
}
div.ban a:hover {
	color: #ff0000;
}
.hidetext {
	background-color: #3189c6;
}
hr, .thread hr {
	border-color:#FFFFB8;
}
#settingsScreen a, #settingsScreen hr {
	color: black;
}
#settingsScreen h1 {
	padding-left:25px;
}
