@import "common/bw-spoilers.css?t=1518146085";
body {
	background: #ffe url('img/fade-yotsuba.png') repeat-x 50% 0%;
	color: #800000;
}
a, a:visited, .email {
	color: #0000ff;
}
a:hover, a.bodylink:hover {
	color: #d00;
}
a.post_no {
	color: #800000;
}
.reply, dialog, .help-details {
	background: #f0e0d6;
	border-color: #d9bfb7;
}
.reply.highlighted {
	background: #f0c0b0;
	border-color: #d9bfb7;
}
a.bodylink {
	color: navy;
}
.subject {
	color: #d00;
}
th {
	background: #EA8;
}
.help-bubble {
	background-color: rgb(237, 185, 151);
}
div.ban h2 {
	background: #FCA;
	color: inherit;
}
div.ban {
	border-color: #800;
}
div.ban p {
	color: black;
}
div.pages {
	background: #F0E0D6;
	border-color: #D9BFB7;
}
div.pages a.selected {
	color: #800;
}
hr {
	border-color: #D9BFB7;
}
.boardlist {
	color: #B86;
}
.boardlist.bottom a {
	color: #800;
}
